"""
Sub Account REST API

Create and manage sub-accounts, control permissions, and transfer assets via the Sub Account API.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import List, Optional, Union
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.errors import RequiredError
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import FuturesTransferForSubAccountResponse
from ..models import GetDetailOnSubAccountsFuturesAccountResponse
from ..models import GetDetailOnSubAccountsFuturesAccountV2Response
from ..models import GetDetailOnSubAccountsMarginAccountResponse
from ..models import GetMovePositionHistoryForSubAccountResponse
from ..models import GetSubAccountDepositAddressResponse
from ..models import GetSubAccountDepositHistoryResponse
from ..models import GetSummaryOfSubAccountsFuturesAccountResponse
from ..models import GetSummaryOfSubAccountsFuturesAccountV2Response
from ..models import GetSummaryOfSubAccountsMarginAccountResponse
from ..models import MarginTransferForSubAccountResponse
from ..models import MovePositionForSubAccountResponse
from ..models import QuerySubAccountAssetsResponse
from ..models import QuerySubAccountAssetsAssetManagementResponse
from ..models import QuerySubAccountFuturesAssetTransferHistoryResponse
from ..models import QuerySubAccountSpotAssetTransferHistoryResponse
from ..models import QuerySubAccountSpotAssetsSummaryResponse
from ..models import QueryUniversalTransferHistoryResponse
from ..models import SubAccountFuturesAssetTransferResponse
from ..models import SubAccountTransferHistoryResponse
from ..models import TransferToMasterResponse
from ..models import TransferToSubAccountOfSameMasterResponse
from ..models import UniversalTransferResponse


from ..models import MovePositionForSubAccountOrderArgsParameterInner


from ..models import MovePositionForSubAccountProductTypeEnum
from ..models import UniversalTransferFromAccountTypeEnum
from ..models import UniversalTransferToAccountTypeEnum


class AssetManagementApi:
    """API Client for AssetManagementApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def futures_transfer_for_sub_account(
        self,
        email: Union[str, None],
        asset: Union[str, None],
        amount: Union[float, None],
        type: Union[int, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[FuturesTransferForSubAccountResponse]:
        """
                Futures Transfer for Sub-account (For Master Account) (USER_DATA)
                POST /sapi/v1/sub-account/futures/transfer
                https://developers.binance.com/en/docs/catalog/vip-and-institutional-sub-account/api/rest-api/asset-management#futures-transfer-for-sub-account

                Futures Transfer for Sub-account

        Weight(IP): 1

        Security Type: USER_DATA

        Notes:
        - You need to open Enable Spot & Margin Trading permission for the API Key which requests this endpoint.

                Args:
                    email (Union[str, None]):
                    asset (Union[str, None]): The asset being transferred
                    amount (Union[float, None]): The amount to be transferred
                    type (Union[int, None]): 1: transfer from subaccount's spot account to its USDT-margined futures account 2: transfer from
        subaccount's USDT-margined futures account to its spot account 3: transfer from subaccount's spot
        account to its COIN-margined futures account 4:transfer from subaccount's COIN-margined futures
        account to its spot account
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[FuturesTransferForSubAccountResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if email is None:
            raise RequiredError(
                field="email", error_message="Missing required parameter 'email'"
            )
        if asset is None:
            raise RequiredError(
                field="asset", error_message="Missing required parameter 'asset'"
            )
        if amount is None:
            raise RequiredError(
                field="amount", error_message="Missing required parameter 'amount'"
            )
        if type is None:
            raise RequiredError(
                field="type", error_message="Missing required parameter 'type'"
            )

        body = {}
        payload = {
            "email": email,
            "asset": asset,
            "amount": amount,
            "type": type,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/sub-account/futures/transfer",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=FuturesTransferForSubAccountResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_detail_on_sub_accounts_futures_account(
        self,
        email: Union[str, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetDetailOnSubAccountsFuturesAccountResponse]:
        """
                Get Detail on Sub-account's Futures Account (For Master Account) (USER_DATA)
                GET /sapi/v1/sub-account/futures/account
                https://developers.binance.com/en/docs/catalog/vip-and-institutional-sub-account/api/rest-api/asset-management#get-detail-on-sub-accounts-futures-account

                Get Detail on Sub-account's Futures Account

        Weight(IP): 10

        Security Type: USER_DATA

                Args:
                    email (Union[str, None]):
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[GetDetailOnSubAccountsFuturesAccountResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if email is None:
            raise RequiredError(
                field="email", error_message="Missing required parameter 'email'"
            )

        body = {}
        payload = {"email": email, "recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/sub-account/futures/account",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetDetailOnSubAccountsFuturesAccountResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_detail_on_sub_accounts_futures_account_v2(
        self,
        email: Union[str, None],
        futures_type: Union[int, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetDetailOnSubAccountsFuturesAccountV2Response]:
        """
                Get Detail on Sub-account's Futures Account V2 (For Master Account) (USER_DATA)
                GET /sapi/v2/sub-account/futures/account
                https://developers.binance.com/en/docs/catalog/vip-and-institutional-sub-account/api/rest-api/asset-management#get-detail-on-sub-accounts-futures-account-v2

                Get Detail on Sub-account's Futures Account

        Weight(IP): 1

        Security Type: USER_DATA

                Args:
                    email (Union[str, None]):
                    futures_type (Union[int, None]): 1:USDT-margined Futures，2: Coin-margined Futures
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[GetDetailOnSubAccountsFuturesAccountV2Response]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if email is None:
            raise RequiredError(
                field="email", error_message="Missing required parameter 'email'"
            )
        if futures_type is None:
            raise RequiredError(
                field="futures_type",
                error_message="Missing required parameter 'futures_type'",
            )

        body = {}
        payload = {
            "email": email,
            "futures_type": futures_type,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v2/sub-account/futures/account",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetDetailOnSubAccountsFuturesAccountV2Response,
            is_signed=True,
            signer=self._signer,
        )

    def get_detail_on_sub_accounts_margin_account(
        self,
        email: Union[str, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetDetailOnSubAccountsMarginAccountResponse]:
        """
                Get Detail on Sub-account's Margin Account (For Master Account) (USER_DATA)
                GET /sapi/v1/sub-account/margin/account
                https://developers.binance.com/en/docs/catalog/vip-and-institutional-sub-account/api/rest-api/asset-management#get-detail-on-sub-accounts-margin-account

                Get Detail on Sub-account's Margin Account

        Weight(IP): 10

        Security Type: USER_DATA

                Args:
                    email (Union[str, None]):
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[GetDetailOnSubAccountsMarginAccountResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if email is None:
            raise RequiredError(
                field="email", error_message="Missing required parameter 'email'"
            )

        body = {}
        payload = {"email": email, "recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/sub-account/margin/account",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetDetailOnSubAccountsMarginAccountResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_move_position_history_for_sub_account(
        self,
        symbol: Union[str, None],
        page: Union[int, None],
        rows: Union[int, None],
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetMovePositionHistoryForSubAccountResponse]:
        """
                Get Move Position History for Sub-account (For Master Account) (USER_DATA)
                GET /sapi/v1/sub-account/futures/move-position
                https://developers.binance.com/en/docs/catalog/vip-and-institutional-sub-account/api/rest-api/asset-management#get-move-position-history-for-sub-account

                Query move position history

        Weight(IP): 1

        Security Type: USER_DATA

        Notes:
        - If `startTime` and `endTime` are both omitted, records from the last 90 days are returned by default (up to 1000 records).
        - If `startTime` is sent and `endTime` is omitted, records in `[max(startTime, now-90d), now]` are returned.
        - If `startTime` is omitted and `endTime` is sent, records in `[max(now, endTime-90d), endTime]` are returned.

                Args:
                    symbol (Union[str, None]):
                    page (Union[int, None]):
                    rows (Union[int, None]):
                    start_time (Optional[int] = None):
                    end_time (Optional[int] = None):
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[GetMovePositionHistoryForSubAccountResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )
        if page is None:
            raise RequiredError(
                field="page", error_message="Missing required parameter 'page'"
            )
        if rows is None:
            raise RequiredError(
                field="rows", error_message="Missing required parameter 'rows'"
            )

        body = {}
        payload = {
            "symbol": symbol,
            "page": page,
            "rows": rows,
            "start_time": start_time,
            "end_time": end_time,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/sub-account/futures/move-position",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetMovePositionHistoryForSubAccountResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_sub_account_deposit_address(
        self,
        email: Union[str, None],
        coin: Union[str, None],
        network: Optional[str] = None,
        amount: Optional[float] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetSubAccountDepositAddressResponse]:
        """
                Get Sub-account Deposit Address (For Master Account) (USER_DATA)
                GET /sapi/v1/capital/deposit/subAddress
                https://developers.binance.com/en/docs/catalog/vip-and-institutional-sub-account/api/rest-api/asset-management#get-sub-account-deposit-address

                Fetch sub-account deposit address

        Weight(IP): 1

        Security Type: USER_DATA

        Notes:
        - `amount` needs to be sent if using LIGHTNING network

                Args:
                    email (Union[str, None]):
                    coin (Union[str, None]):
                    network (Optional[str] = None): networks can be found in `GET /sapi/v1/capital/deposit/address`
                    amount (Optional[float] = None):
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[GetSubAccountDepositAddressResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if email is None:
            raise RequiredError(
                field="email", error_message="Missing required parameter 'email'"
            )
        if coin is None:
            raise RequiredError(
                field="coin", error_message="Missing required parameter 'coin'"
            )

        body = {}
        payload = {
            "email": email,
            "coin": coin,
            "network": network,
            "amount": amount,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/capital/deposit/subAddress",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetSubAccountDepositAddressResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_sub_account_deposit_history(
        self,
        email: Union[str, None],
        include_source: Optional[bool] = None,
        coin: Optional[str] = None,
        status: Optional[int] = None,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        limit: Optional[int] = None,
        offset: Optional[int] = None,
        recv_window: Optional[int] = None,
        tx_id: Optional[str] = None,
    ) -> ApiResponse[GetSubAccountDepositHistoryResponse]:
        """
                Get Sub-account Deposit History (For Master Account) (USER_DATA)
                GET /sapi/v1/capital/deposit/subHisrec
                https://developers.binance.com/en/docs/catalog/vip-and-institutional-sub-account/api/rest-api/asset-management#get-sub-account-deposit-history

                Fetch sub-account deposit history

        Weight(IP): 1

        Security Type: USER_DATA

                Args:
                    email (Union[str, None]):
                    include_source (Optional[bool] = None): Default `false`, return `sourceAddress` field when set to `true`
                    coin (Optional[str] = None):
                    status (Optional[int] = None): Deposit status: 0=pending, 6=credited but cannot withdraw, 7=wrong deposit, 8=waiting user confirmation, 1=success.
                    start_time (Optional[int] = None):
                    end_time (Optional[int] = None):
                    limit (Optional[int] = None):
                    offset (Optional[int] = None):
                    recv_window (Optional[int] = None):
                    tx_id (Optional[str] = None):

                Returns:
                    ApiResponse[GetSubAccountDepositHistoryResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if email is None:
            raise RequiredError(
                field="email", error_message="Missing required parameter 'email'"
            )

        body = {}
        payload = {
            "email": email,
            "include_source": include_source,
            "coin": coin,
            "status": status,
            "start_time": start_time,
            "end_time": end_time,
            "limit": limit,
            "offset": offset,
            "recv_window": recv_window,
            "tx_id": tx_id,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/capital/deposit/subHisrec",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetSubAccountDepositHistoryResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_summary_of_sub_accounts_futures_account(
        self,
        page: Union[int, None],
        limit: Union[int, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetSummaryOfSubAccountsFuturesAccountResponse]:
        """
                Get Summary of Sub-account's Futures Account (For Master Account) (USER_DATA)
                GET /sapi/v1/sub-account/futures/accountSummary
                https://developers.binance.com/en/docs/catalog/vip-and-institutional-sub-account/api/rest-api/asset-management#get-summary-of-sub-accounts-futures-account

                Get Summary of Sub-account's Futures Account

        Weight(IP): 1

        Security Type: USER_DATA

                Args:
                    page (Union[int, None]):
                    limit (Union[int, None]):
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[GetSummaryOfSubAccountsFuturesAccountResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if page is None:
            raise RequiredError(
                field="page", error_message="Missing required parameter 'page'"
            )
        if limit is None:
            raise RequiredError(
                field="limit", error_message="Missing required parameter 'limit'"
            )

        body = {}
        payload = {"page": page, "limit": limit, "recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/sub-account/futures/accountSummary",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetSummaryOfSubAccountsFuturesAccountResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_summary_of_sub_accounts_futures_account_v2(
        self,
        futures_type: Union[int, None],
        page: Optional[int] = None,
        limit: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetSummaryOfSubAccountsFuturesAccountV2Response]:
        """
                Get Summary of Sub-account's Futures Account V2 (For Master Account) (USER_DATA)
                GET /sapi/v2/sub-account/futures/accountSummary
                https://developers.binance.com/en/docs/catalog/vip-and-institutional-sub-account/api/rest-api/asset-management#get-summary-of-sub-accounts-futures-account-v2

                Get Summary of Sub-account's Futures Account

        Weight(IP): 10

        Security Type: USER_DATA

                Args:
                    futures_type (Union[int, None]): 1:USDT-margined Futures，2: Coin-margined Futures
                    page (Optional[int] = None):
                    limit (Optional[int] = None):
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[GetSummaryOfSubAccountsFuturesAccountV2Response]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if futures_type is None:
            raise RequiredError(
                field="futures_type",
                error_message="Missing required parameter 'futures_type'",
            )

        body = {}
        payload = {
            "futures_type": futures_type,
            "page": page,
            "limit": limit,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v2/sub-account/futures/accountSummary",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetSummaryOfSubAccountsFuturesAccountV2Response,
            is_signed=True,
            signer=self._signer,
        )

    def get_summary_of_sub_accounts_margin_account(
        self,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetSummaryOfSubAccountsMarginAccountResponse]:
        """
                Get Summary of Sub-account's Margin Account (For Master Account) (USER_DATA)
                GET /sapi/v1/sub-account/margin/accountSummary
                https://developers.binance.com/en/docs/catalog/vip-and-institutional-sub-account/api/rest-api/asset-management#get-summary-of-sub-accounts-margin-account

                Get Summary of Sub-account's Margin Account

        Weight(IP): 10

        Security Type: USER_DATA

                Args:
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[GetSummaryOfSubAccountsMarginAccountResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/sub-account/margin/accountSummary",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetSummaryOfSubAccountsMarginAccountResponse,
            is_signed=True,
            signer=self._signer,
        )

    def margin_transfer_for_sub_account(
        self,
        email: Union[str, None],
        asset: Union[str, None],
        amount: Union[float, None],
        type: Union[int, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[MarginTransferForSubAccountResponse]:
        """
                Margin Transfer for Sub-account (For Master Account) (USER_DATA)
                POST /sapi/v1/sub-account/margin/transfer
                https://developers.binance.com/en/docs/catalog/vip-and-institutional-sub-account/api/rest-api/asset-management#margin-transfer-for-sub-account

                Margin Transfer for Sub-account

        Weight(IP): 1

        Security Type: USER_DATA

        Notes:
        - You need to open Enable Spot & Margin Trading permission for the API Key which requests this endpoint.

                Args:
                    email (Union[str, None]):
                    asset (Union[str, None]): The asset being transferred
                    amount (Union[float, None]): The amount to be transferred
                    type (Union[int, None]): 1: transfer from subaccount's spot account to margin account 2: transfer from subaccount's margin
        account to its spot account
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[MarginTransferForSubAccountResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if email is None:
            raise RequiredError(
                field="email", error_message="Missing required parameter 'email'"
            )
        if asset is None:
            raise RequiredError(
                field="asset", error_message="Missing required parameter 'asset'"
            )
        if amount is None:
            raise RequiredError(
                field="amount", error_message="Missing required parameter 'amount'"
            )
        if type is None:
            raise RequiredError(
                field="type", error_message="Missing required parameter 'type'"
            )

        body = {}
        payload = {
            "email": email,
            "asset": asset,
            "amount": amount,
            "type": type,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/sub-account/margin/transfer",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=MarginTransferForSubAccountResponse,
            is_signed=True,
            signer=self._signer,
        )

    def move_position_for_sub_account(
        self,
        from_user_email: Union[str, None],
        to_user_email: Union[str, None],
        product_type: Union[MovePositionForSubAccountProductTypeEnum, None],
        order_args: Union[List[MovePositionForSubAccountOrderArgsParameterInner], None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[MovePositionForSubAccountResponse]:
        """
                Move Position for Sub-account (For Master Account) (USER_DATA)
                POST /sapi/v1/sub-account/futures/move-position
                https://developers.binance.com/en/docs/catalog/vip-and-institutional-sub-account/api/rest-api/asset-management#move-position-for-sub-account

                Move position between sub-master, master-sub, or sub-sub accounts when necessary

        Weight(IP): 1

        Security Type: USER_DATA

        Notes:
        - You need to enable the `Trading` permission for the API key used to call this endpoint.
        - This function is only available for VIP levels 7-9.
        - Only master accounts can call this endpoint.
        - `quantity` must be a positive number.
        - Supported account types: normal account, PM PRO, PM PRO SPAN, and PM Retail.
        - The source account must have positions.
        - For orders in the same `orderArgs` request, if any symbol's total close position quantity exceeds current position quantity, all orders in that batch fail.
        - Only cross margin mode is supported.
        - The move position price supports `MARK_PRICE` only.
        - MSA is not supported.
        - Symbols configured with `Reduce-Only` are not supported.

                Args:
                    from_user_email (Union[str, None]):
                    to_user_email (Union[str, None]):
                    product_type (Union[MovePositionForSubAccountProductTypeEnum, None]):
                    order_args (Union[List[MovePositionForSubAccountOrderArgsParameterInner], None]): Max 10 positions supported. When input request parameter,orderArgs.symbol should be STRING,
        orderArgs.quantity should be BIGDECIMAL, and orderArgs.positionSide should be STRING, positionSide
        support BOTH,LONG and SHORT. Each entry should be like
        orderArgs[0].symbol=BTCUSDT,orderArgs[0].quantity=0.001,orderArgs[0].positionSide=BOTH. Example of
        the request parameter array: orderArgs[0].symbol=BTCUSDT orderArgs[0].quantity=0.001
        orderArgs[0].positionSide=BOTH orderArgs[1].symbol=ETHUSDT orderArgs[1].quantity=0.01
        orderArgs[1].positionSide=BOTH
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[MovePositionForSubAccountResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if from_user_email is None:
            raise RequiredError(
                field="from_user_email",
                error_message="Missing required parameter 'from_user_email'",
            )
        if to_user_email is None:
            raise RequiredError(
                field="to_user_email",
                error_message="Missing required parameter 'to_user_email'",
            )
        if product_type is None:
            raise RequiredError(
                field="product_type",
                error_message="Missing required parameter 'product_type'",
            )
        if order_args is None:
            raise RequiredError(
                field="order_args",
                error_message="Missing required parameter 'order_args'",
            )

        body = {}
        payload = {
            "from_user_email": from_user_email,
            "to_user_email": to_user_email,
            "product_type": product_type,
            "order_args": order_args,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/sub-account/futures/move-position",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=MovePositionForSubAccountResponse,
            is_signed=True,
            signer=self._signer,
        )

    def query_sub_account_assets(
        self,
        email: Union[str, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[QuerySubAccountAssetsResponse]:
        """
                Query Sub-account Assets (For Master Account) (USER_DATA)
                GET /sapi/v3/sub-account/assets
                https://developers.binance.com/en/docs/catalog/vip-and-institutional-sub-account/api/rest-api/asset-management#query-sub-account-assets

                Fetch sub-account assets

        Weight(UID): 60

        Security Type: USER_DATA

                Args:
                    email (Union[str, None]):
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[QuerySubAccountAssetsResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if email is None:
            raise RequiredError(
                field="email", error_message="Missing required parameter 'email'"
            )

        body = {}
        payload = {"email": email, "recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v3/sub-account/assets",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=QuerySubAccountAssetsResponse,
            is_signed=True,
            signer=self._signer,
        )

    def query_sub_account_assets_asset_management(
        self,
        email: Union[str, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[QuerySubAccountAssetsAssetManagementResponse]:
        """
                Query Sub-account Assets V4 (For Master Account) (USER_DATA)
                GET /sapi/v4/sub-account/assets
                https://developers.binance.com/en/docs/catalog/vip-and-institutional-sub-account/api/rest-api/asset-management#query-sub-account-assets-asset-management

                Fetch sub-account assets

        Weight(UID): 60

        Security Type: USER_DATA

                Args:
                    email (Union[str, None]):
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[QuerySubAccountAssetsAssetManagementResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if email is None:
            raise RequiredError(
                field="email", error_message="Missing required parameter 'email'"
            )

        body = {}
        payload = {"email": email, "recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v4/sub-account/assets",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=QuerySubAccountAssetsAssetManagementResponse,
            is_signed=True,
            signer=self._signer,
        )

    def query_sub_account_futures_asset_transfer_history(
        self,
        email: Union[str, None],
        futures_type: Union[int, None],
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        page: Optional[int] = None,
        limit: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[QuerySubAccountFuturesAssetTransferHistoryResponse]:
        """
                Query Sub-account Futures Asset Transfer History (For Master Account) (USER_DATA)
                GET /sapi/v1/sub-account/futures/internalTransfer
                https://developers.binance.com/en/docs/catalog/vip-and-institutional-sub-account/api/rest-api/asset-management#query-sub-account-futures-asset-transfer-history

                Query Sub-account Futures Asset Transfer History

        Weight(IP): 1

        Security Type: USER_DATA

                Args:
                    email (Union[str, None]):
                    futures_type (Union[int, None]): 1:USDT-margined Futures，2: Coin-margined Futures
                    start_time (Optional[int] = None): Cannot be earlier than 1 month ago
                    end_time (Optional[int] = None):
                    page (Optional[int] = None):
                    limit (Optional[int] = None):
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[QuerySubAccountFuturesAssetTransferHistoryResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if email is None:
            raise RequiredError(
                field="email", error_message="Missing required parameter 'email'"
            )
        if futures_type is None:
            raise RequiredError(
                field="futures_type",
                error_message="Missing required parameter 'futures_type'",
            )

        body = {}
        payload = {
            "email": email,
            "futures_type": futures_type,
            "start_time": start_time,
            "end_time": end_time,
            "page": page,
            "limit": limit,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/sub-account/futures/internalTransfer",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=QuerySubAccountFuturesAssetTransferHistoryResponse,
            is_signed=True,
            signer=self._signer,
        )

    def query_sub_account_spot_asset_transfer_history(
        self,
        from_email: Optional[str] = None,
        to_email: Optional[str] = None,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        page: Optional[int] = None,
        limit: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[QuerySubAccountSpotAssetTransferHistoryResponse]:
        """
                Query Sub-account Spot Asset Transfer History (For Master Account) (USER_DATA)
                GET /sapi/v1/sub-account/sub/transfer/history
                https://developers.binance.com/en/docs/catalog/vip-and-institutional-sub-account/api/rest-api/asset-management#query-sub-account-spot-asset-transfer-history

                Query Sub-account Spot Asset Transfer History

        Weight(IP): 1

        Security Type: USER_DATA

        Notes:
        - `fromEmail` and `toEmail` cannot be sent at the same time.
        - If both `fromEmail` and `toEmail` are omitted, records with `fromEmail` equal to the master account are returned by default.

                Args:
                    from_email (Optional[str] = None):
                    to_email (Optional[str] = None):
                    start_time (Optional[int] = None):
                    end_time (Optional[int] = None):
                    page (Optional[int] = None):
                    limit (Optional[int] = None):
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[QuerySubAccountSpotAssetTransferHistoryResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "from_email": from_email,
            "to_email": to_email,
            "start_time": start_time,
            "end_time": end_time,
            "page": page,
            "limit": limit,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/sub-account/sub/transfer/history",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=QuerySubAccountSpotAssetTransferHistoryResponse,
            is_signed=True,
            signer=self._signer,
        )

    def query_sub_account_spot_assets_summary(
        self,
        email: Optional[str] = None,
        page: Optional[int] = None,
        size: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[QuerySubAccountSpotAssetsSummaryResponse]:
        """
                Query Sub-account Spot Assets Summary (For Master Account) (USER_DATA)
                GET /sapi/v1/sub-account/spotSummary
                https://developers.binance.com/en/docs/catalog/vip-and-institutional-sub-account/api/rest-api/asset-management#query-sub-account-spot-assets-summary

                Get BTC valued asset summary of subaccounts.

        Weight(IP): 1

        Security Type: USER_DATA

                Args:
                    email (Optional[str] = None): Managed sub-account email
                    page (Optional[int] = None):
                    size (Optional[int] = None):
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[QuerySubAccountSpotAssetsSummaryResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "email": email,
            "page": page,
            "size": size,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/sub-account/spotSummary",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=QuerySubAccountSpotAssetsSummaryResponse,
            is_signed=True,
            signer=self._signer,
        )

    def query_universal_transfer_history(
        self,
        from_email: Optional[str] = None,
        to_email: Optional[str] = None,
        client_tran_id: Optional[str] = None,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        page: Optional[int] = None,
        limit: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[QueryUniversalTransferHistoryResponse]:
        """
                Query Universal Transfer History (For Master Account) (USER_DATA)
                GET /sapi/v1/sub-account/universalTransfer
                https://developers.binance.com/en/docs/catalog/vip-and-institutional-sub-account/api/rest-api/asset-management#query-universal-transfer-history

                Query Universal Transfer History

        Weight(IP): 1

        Security Type: USER_DATA

        Notes:
        - `fromEmail` and `toEmail` cannot be sent at the same time.
        - If both `fromEmail` and `toEmail` are omitted, records with `fromEmail` equal to the master account are returned by default.
        - The query time range must be less than 7 days.
        - If `startTime` and `endTime` are omitted, records from the last 7 days are returned by default.

                Args:
                    from_email (Optional[str] = None):
                    to_email (Optional[str] = None):
                    client_tran_id (Optional[str] = None):
                    start_time (Optional[int] = None):
                    end_time (Optional[int] = None):
                    page (Optional[int] = None):
                    limit (Optional[int] = None):
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[QueryUniversalTransferHistoryResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "from_email": from_email,
            "to_email": to_email,
            "client_tran_id": client_tran_id,
            "start_time": start_time,
            "end_time": end_time,
            "page": page,
            "limit": limit,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/sub-account/universalTransfer",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=QueryUniversalTransferHistoryResponse,
            is_signed=True,
            signer=self._signer,
        )

    def sub_account_futures_asset_transfer(
        self,
        from_email: Union[str, None],
        to_email: Union[str, None],
        futures_type: Union[int, None],
        asset: Union[str, None],
        amount: Union[float, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[SubAccountFuturesAssetTransferResponse]:
        """
                Sub-account Futures Asset Transfer (For Master Account) (USER_DATA)
                POST /sapi/v1/sub-account/futures/internalTransfer
                https://developers.binance.com/en/docs/catalog/vip-and-institutional-sub-account/api/rest-api/asset-management#sub-account-futures-asset-transfer

                Sub-account Futures Asset Transfer

        Weight(IP): 1

        Security Type: USER_DATA

        Notes:
        - A master account can transfer at most 2000 times per minute.
        - The futures wallet must have sufficient margin balance to execute the transfer.

                Args:
                    from_email (Union[str, None]): Sender email
                    to_email (Union[str, None]): Recipient email
                    futures_type (Union[int, None]): 1:USDT-margined Futures，2: Coin-margined Futures
                    asset (Union[str, None]):
                    amount (Union[float, None]):
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[SubAccountFuturesAssetTransferResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if from_email is None:
            raise RequiredError(
                field="from_email",
                error_message="Missing required parameter 'from_email'",
            )
        if to_email is None:
            raise RequiredError(
                field="to_email", error_message="Missing required parameter 'to_email'"
            )
        if futures_type is None:
            raise RequiredError(
                field="futures_type",
                error_message="Missing required parameter 'futures_type'",
            )
        if asset is None:
            raise RequiredError(
                field="asset", error_message="Missing required parameter 'asset'"
            )
        if amount is None:
            raise RequiredError(
                field="amount", error_message="Missing required parameter 'amount'"
            )

        body = {}
        payload = {
            "from_email": from_email,
            "to_email": to_email,
            "futures_type": futures_type,
            "asset": asset,
            "amount": amount,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/sub-account/futures/internalTransfer",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=SubAccountFuturesAssetTransferResponse,
            is_signed=True,
            signer=self._signer,
        )

    def sub_account_transfer_history(
        self,
        asset: Optional[str] = None,
        type: Optional[int] = None,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        limit: Optional[int] = None,
        return_fail_history: Optional[bool] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[SubAccountTransferHistoryResponse]:
        """
                Sub-account Transfer History (For Sub-account) (USER_DATA)
                GET /sapi/v1/sub-account/transfer/subUserHistory
                https://developers.binance.com/en/docs/catalog/vip-and-institutional-sub-account/api/rest-api/asset-management#sub-account-transfer-history

                Sub-account Transfer History

        Weight(IP): 1

        Security Type: USER_DATA

        Notes:
        - If `type` is not sent, records of type `2` (transfer out) are returned by default.
        - If `startTime` and `endTime` are not sent, data from the most recent 30 days is returned.

                Args:
                    asset (Optional[str] = None): If not sent, result of all assets will be returned
                    type (Optional[int] = None): 1: transfer in, 2: transfer out
                    start_time (Optional[int] = None):
                    end_time (Optional[int] = None):
                    limit (Optional[int] = None):
                    return_fail_history (Optional[bool] = None): Default `False`, return PROCESS and SUCCESS status history; If `True`,return PROCESS and SUCCESS and FAILURE
        status history
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[SubAccountTransferHistoryResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "asset": asset,
            "type": type,
            "start_time": start_time,
            "end_time": end_time,
            "limit": limit,
            "return_fail_history": return_fail_history,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/sub-account/transfer/subUserHistory",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=SubAccountTransferHistoryResponse,
            is_signed=True,
            signer=self._signer,
        )

    def transfer_to_master(
        self,
        asset: Union[str, None],
        amount: Union[float, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[TransferToMasterResponse]:
        """
                Transfer to Master (For Sub-account) (USER_DATA)
                POST /sapi/v1/sub-account/transfer/subToMaster
                https://developers.binance.com/en/docs/catalog/vip-and-institutional-sub-account/api/rest-api/asset-management#transfer-to-master

                Transfer to Master

        Weight(IP): 1

        Security Type: USER_DATA

        Notes:
        - You need to open Enable Spot & Margin Trading permission for the API Key which requests this endpoint.

                Args:
                    asset (Union[str, None]):
                    amount (Union[float, None]):
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[TransferToMasterResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if asset is None:
            raise RequiredError(
                field="asset", error_message="Missing required parameter 'asset'"
            )
        if amount is None:
            raise RequiredError(
                field="amount", error_message="Missing required parameter 'amount'"
            )

        body = {}
        payload = {"asset": asset, "amount": amount, "recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/sub-account/transfer/subToMaster",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=TransferToMasterResponse,
            is_signed=True,
            signer=self._signer,
        )

    def transfer_to_sub_account_of_same_master(
        self,
        to_email: Union[str, None],
        asset: Union[str, None],
        amount: Union[float, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[TransferToSubAccountOfSameMasterResponse]:
        """
                Transfer to Sub-account of Same Master (For Sub-account) (USER_DATA)
                POST /sapi/v1/sub-account/transfer/subToSub
                https://developers.binance.com/en/docs/catalog/vip-and-institutional-sub-account/api/rest-api/asset-management#transfer-to-sub-account-of-same-master

                Transfer to Sub-account of Same Master

        Weight(IP): 1

        Security Type: USER_DATA

        Notes:
        - You need to open Enable Spot & Margin Trading permission for the API Key which requests this endpoint.

                Args:
                    to_email (Union[str, None]):
                    asset (Union[str, None]):
                    amount (Union[float, None]):
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[TransferToSubAccountOfSameMasterResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if to_email is None:
            raise RequiredError(
                field="to_email", error_message="Missing required parameter 'to_email'"
            )
        if asset is None:
            raise RequiredError(
                field="asset", error_message="Missing required parameter 'asset'"
            )
        if amount is None:
            raise RequiredError(
                field="amount", error_message="Missing required parameter 'amount'"
            )

        body = {}
        payload = {
            "to_email": to_email,
            "asset": asset,
            "amount": amount,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/sub-account/transfer/subToSub",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=TransferToSubAccountOfSameMasterResponse,
            is_signed=True,
            signer=self._signer,
        )

    def universal_transfer(
        self,
        from_account_type: Union[UniversalTransferFromAccountTypeEnum, None],
        to_account_type: Union[UniversalTransferToAccountTypeEnum, None],
        asset: Union[str, None],
        amount: Union[float, None],
        from_email: Optional[str] = None,
        to_email: Optional[str] = None,
        client_tran_id: Optional[str] = None,
        symbol: Optional[str] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[UniversalTransferResponse]:
        """
                Universal Transfer (For Master Account) (USER_DATA)
                POST /sapi/v1/sub-account/universalTransfer
                https://developers.binance.com/en/docs/catalog/vip-and-institutional-sub-account/api/rest-api/asset-management#universal-transfer

                Universal Transfer

        Weight(IP): 1

        Weight(UID): 360

        Security Type: USER_DATA

        Notes:
        - You need to enable the `internal transfer` option for the API key used to call this endpoint.
        - If `fromEmail` is not sent, transfer out from the master account by default.
        - If `toEmail` is not sent, transfer into the master account by default.
        - When `fromAccountType` and `toAccountType` are the same, at least one of `fromEmail` or `toEmail` must be sent.
        - Supported transfer scenarios:
          - `SPOT` -> `SPOT` / `USDT_FUTURE` / `COIN_FUTURE` (master or sub-account).
          - `SPOT` / `USDT_FUTURE` / `COIN_FUTURE` -> `SPOT` (master or sub-account).
          - Master account `SPOT` -> sub-account `MARGIN(Cross)` / `ISOLATED_MARGIN`.
          - Sub-account `MARGIN(Cross)` / `ISOLATED_MARGIN` -> master account `SPOT`.
          - Sub-account `MARGIN(Cross)` -> sub-account `MARGIN(Cross)`.
          - `ALPHA` -> `ALPHA` (master or sub-account).

                Args:
                    from_account_type (Union[UniversalTransferFromAccountTypeEnum, None]):
                    to_account_type (Union[UniversalTransferToAccountTypeEnum, None]):
                    asset (Union[str, None]):
                    amount (Union[float, None]):
                    from_email (Optional[str] = None):
                    to_email (Optional[str] = None):
                    client_tran_id (Optional[str] = None): Must be unique
                    symbol (Optional[str] = None): Only supported under ISOLATED_MARGIN type
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[UniversalTransferResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if from_account_type is None:
            raise RequiredError(
                field="from_account_type",
                error_message="Missing required parameter 'from_account_type'",
            )
        if to_account_type is None:
            raise RequiredError(
                field="to_account_type",
                error_message="Missing required parameter 'to_account_type'",
            )
        if asset is None:
            raise RequiredError(
                field="asset", error_message="Missing required parameter 'asset'"
            )
        if amount is None:
            raise RequiredError(
                field="amount", error_message="Missing required parameter 'amount'"
            )

        body = {}
        payload = {
            "from_account_type": from_account_type,
            "to_account_type": to_account_type,
            "asset": asset,
            "amount": amount,
            "from_email": from_email,
            "to_email": to_email,
            "client_tran_id": client_tran_id,
            "symbol": symbol,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/sub-account/universalTransfer",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=UniversalTransferResponse,
            is_signed=True,
            signer=self._signer,
        )
