"""
Binance Alpha REST API

OpenAPI Specification for the Binance Alpha REST API
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import Optional, Union
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.errors import RequiredError
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import AggregatedTradesResponse
from ..models import GetExchangeInfoResponse
from ..models import KlinesResponse
from ..models import TickerResponse
from ..models import TokenListResponse


class MarketDataApi:
    """API Client for MarketDataApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def aggregated_trades(
        self,
        symbol: Union[str, None],
        from_id: Optional[int] = None,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        limit: Optional[int] = None,
    ) -> ApiResponse[AggregatedTradesResponse]:
        """
                Aggregated Trades
                GET /bapi/defi/v1/public/alpha-trade/agg-trades
                https://developers.binance.com/docs/alpha/market-data/rest-api/Aggregated-Trades

                Retrieves compressed, aggregated historical trades for a specific symbol. Useful for recent trade history.

        Weight: 0

                Args:
                    symbol (Union[str, None]): e.g., "ALPHA_175USDT" – use token ID from Token List
                    from_id (Optional[int] = None): starting trade ID to fetch from
                    start_time (Optional[int] = None): start timestamp (milliseconds)
                    end_time (Optional[int] = None): end timestamp (milliseconds)
                    limit (Optional[int] = None): number of results to return (default 500, max 1000)

                Returns:
                    ApiResponse[AggregatedTradesResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )

        body = {}
        payload = {
            "symbol": symbol,
            "from_id": from_id,
            "start_time": start_time,
            "end_time": end_time,
            "limit": limit,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/bapi/defi/v1/public/alpha-trade/agg-trades",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=AggregatedTradesResponse,
        )

    def get_exchange_info(
        self,
    ) -> ApiResponse[GetExchangeInfoResponse]:
        """
                Get Exchange Info
                GET /bapi/defi/v1/public/alpha-trade/get-exchange-info
                https://developers.binance.com/docs/alpha/market-data/rest-api/Get-Exchange-Info

                Fetches general exchange information, such as supported symbols, rate limits, and server time.

        Weight: 0

                Args:

                Returns:
                    ApiResponse[GetExchangeInfoResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = None
        payload = None

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/bapi/defi/v1/public/alpha-trade/get-exchange-info",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetExchangeInfoResponse,
        )

    def klines(
        self,
        symbol: Union[str, None],
        interval: Union[str, None],
        limit: Optional[int] = None,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
    ) -> ApiResponse[KlinesResponse]:
        """
                Klines (Candlestick Data)
                GET /bapi/defi/v1/public/alpha-trade/klines
                https://developers.binance.com/docs/alpha/market-data/rest-api/Klines

                Fetches Kline/candlestick bars for a symbol, which include open/high/low/close prices and volume over intervals. Useful for charting and analysis.

        Weight: 0

                Args:
                    symbol (Union[str, None]): e.g., "ALPHA_175USDT" – use token ID from Token List
                    interval (Union[str, None]): e.g., "1h" – supported intervals: 1s, 15s, 1m, 3m, 5m, 15m, 30m, 1h, 2h, 4h, 6h, 8h, 12h, 1d, 3d, 1w, 1M
                    limit (Optional[int] = None): number of results to return (default 500, max 1000)
                    start_time (Optional[int] = None): start timestamp (milliseconds)
                    end_time (Optional[int] = None): end timestamp (milliseconds)

                Returns:
                    ApiResponse[KlinesResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )
        if interval is None:
            raise RequiredError(
                field="interval", error_message="Missing required parameter 'interval'"
            )

        body = {}
        payload = {
            "symbol": symbol,
            "interval": interval,
            "limit": limit,
            "start_time": start_time,
            "end_time": end_time,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/bapi/defi/v1/public/alpha-trade/klines",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=KlinesResponse,
        )

    def ticker(
        self,
        symbol: Union[str, None],
    ) -> ApiResponse[TickerResponse]:
        """
                Ticker (24hr Price Statistics)
                GET /bapi/defi/v1/public/alpha-trade/ticker
                https://developers.binance.com/docs/alpha/market-data/rest-api/24hr-ticker-price-change

                Gets the 24-hour rolling window price change statistics for a symbol, including volume and price changes.

        Weight: 0

                Args:
                    symbol (Union[str, None]): e.g., "ALPHA_175USDT" – use token ID from Token List

                Returns:
                    ApiResponse[TickerResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )

        body = {}
        payload = {"symbol": symbol}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/bapi/defi/v1/public/alpha-trade/ticker",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=TickerResponse,
        )

    def token_list(
        self,
    ) -> ApiResponse[TokenListResponse]:
        """
                Token List
                GET /bapi/defi/v1/public/wallet-direct/buw/wallet/cex/alpha/all/token/list
                https://developers.binance.com/docs/alpha/market-data/rest-api/Token-List

                Retrieves a list of all available ALPHA tokens, including their IDs and symbols. Use this to find the token ID for constructing symbols in other endpoints.

        Weight: 0

                Args:

                Returns:
                    ApiResponse[TokenListResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = None
        payload = None

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/bapi/defi/v1/public/wallet-direct/buw/wallet/cex/alpha/all/token/list",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=TokenListResponse,
        )
