"""
Binance Web3 Wallet REST API

Cross-chain wallet, market, trading, and transaction APIs for the Binance Web3 API platform.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import Optional, Union
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.errors import RequiredError
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import BroadcastTransactionsResponse
from ..models import GetBroadcastOrdersResponse
from ..models import GetGasLimitResponse
from ..models import GetGasPriceResponse
from ..models import GetLatestBlockHeightResponse
from ..models import GetTransactionSupportedChainsResponse
from ..models import SimulateTransactionsResponse
from ..models import GetGasLimitRequestEvmTx
from ..models import GetGasLimitRequestSolTx
from ..models import GetGasLimitRequestTronTx
from ..models import SimulateTransactionsRequestEvmTx
from ..models import SimulateTransactionsRequestSolTx
from ..models import SimulateTransactionsRequestTronTx


class TransactionApi:
    """API Client for TransactionApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def broadcast_transactions(
        self,
        binance_chain_id: Union[str, None],
        signed_transaction: Union[str, None],
        address: Union[str, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
        enable_mev_protection: Optional[bool] = None,
    ) -> ApiResponse[BroadcastTransactionsResponse]:
        """
                Broadcast Transactions
                POST /api/v1/dex/pre-transaction/broadcast-transaction
                https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/transaction-api#broadcast-transactions

                Broadcast a client-signed transaction to the chain via the Binance Web3 API relay. Returns the transaction hash and an internal `orderId` you can use to track on-chain status via the post-transaction service.
        Optional MEV protection (EVM chains only) routes the transaction through a private mempool to mitigate front-running and sandwich attacks. Tron and Solana do not support MEV protection; the flag is ignored on these chains.

                Args:
                    binance_chain_id (Union[str, None]): Unique chain identifier (e.g. "1"=Ethereum, "56"=BSC, "CT_501"=Solana, "CT_195"=Tron).
                    signed_transaction (Union[str, None]): Client-signed raw transaction. Format depends on `binanceChainId`:  - **EVM chains**: hex-encoded RLP transaction (e.g. `0xf86c...`). - **Solana (`CT_501`)**: base64-encoded signed transaction. - **Tron (`CT_195`)**: JSON string of the signed transaction   returned by a Tron signer, containing `raw_data` (with   `contract[].parameter.value.owner_address`) and a `signature`   array. Example:   `{"raw_data":{"contract":[{"type":"TriggerSmartContract","parameter":{"value":{"owner_address":"T...","contract_address":"T...","data":"<calldata hex>","call_value":0}}}]},"signature":["..."]}`.   Note for Tron: `signedTransaction` is NOT the calldata hex passed to `simulate` / `getGasLimit` under `tronTx.triggerSmartContractParams.data`. The signer is extracted from `raw_data.contract[0].parameter.value.owner_address` and must match `address`; passing calldata hex here will be rejected with `code=40001, invalid signedTransaction: failed to parse Tron signedTransaction: syntax error`.
                    address (Union[str, None]): Sender wallet address. Used for status attribution and signature verification. On Tron and Solana the address is case-sensitive base58check.
                    recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
                    nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.
                    enable_mev_protection (Optional[bool] = None): When true, route the transaction through a private mempool for MEV protection.

                Returns:
                    ApiResponse[BroadcastTransactionsResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if binance_chain_id is None:
            raise RequiredError(
                field="binance_chain_id",
                error_message="Missing required parameter 'binance_chain_id'",
            )
        if signed_transaction is None:
            raise RequiredError(
                field="signed_transaction",
                error_message="Missing required parameter 'signed_transaction'",
            )
        if address is None:
            raise RequiredError(
                field="address", error_message="Missing required parameter 'address'"
            )

        body = {}
        headers = {
            "recv_window": recv_window,
            "nonce": nonce,
        }
        payload = {
            "binance_chain_id": binance_chain_id,
            "signed_transaction": signed_transaction,
            "address": address,
            "enable_mev_protection": enable_mev_protection,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/api/v1/dex/pre-transaction/broadcast-transaction",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=BroadcastTransactionsResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def get_broadcast_orders(
        self,
        address: Union[str, None],
        binance_chain_id: Union[str, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
        tx_status: Optional[str] = None,
        order_id: Optional[str] = None,
        cursor: Optional[str] = None,
        limit: Optional[int] = None,
    ) -> ApiResponse[GetBroadcastOrdersResponse]:
        """
        Get Broadcast Orders
        GET /api/v1/dex/post-transaction/orders
        https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/transaction-api#get-broadcast-orders

        Look up broadcast orders previously submitted via `/pre-transaction/broadcast-transaction`. Filter by `txStatus` or `orderId`, paginate with `cursor`.

        Args:
            address (Union[str, None]): Sender wallet address whose orders to list.
            binance_chain_id (Union[str, None]): Unique chain identifier (e.g. "1"=Ethereum, "56"=BSC, "CT_501"=Solana).
            recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
            nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.
            tx_status (Optional[str] = None): Optional filter on transaction status (server-defined string, e.g. "pending", "success", "fail").
            order_id (Optional[str] = None): Optional filter to fetch a single order by its internal order ID.
            cursor (Optional[str] = None): Pagination cursor returned by the previous page. Omit on the first request.
            limit (Optional[int] = None): Page size. Defaults to 20.

        Returns:
            ApiResponse[GetBroadcastOrdersResponse]

        Raises:
            RequiredError: If a required parameter is missing.

        """

        if address is None:
            raise RequiredError(
                field="address", error_message="Missing required parameter 'address'"
            )
        if binance_chain_id is None:
            raise RequiredError(
                field="binance_chain_id",
                error_message="Missing required parameter 'binance_chain_id'",
            )

        body = {}
        headers = {
            "recv_window": recv_window,
            "nonce": nonce,
        }
        payload = {
            "address": address,
            "binance_chain_id": binance_chain_id,
            "tx_status": tx_status,
            "order_id": order_id,
            "cursor": cursor,
            "limit": limit,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v1/dex/post-transaction/orders",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetBroadcastOrdersResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def get_gas_limit(
        self,
        binance_chain_id: Union[str, None],
        evm_tx: Union[GetGasLimitRequestEvmTx, None],
        sol_tx: Union[GetGasLimitRequestSolTx, None],
        tron_tx: Union[GetGasLimitRequestTronTx, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
    ) -> ApiResponse[GetGasLimitResponse]:
        """
                Get Gas Limit
                POST /api/v1/dex/pre-transaction/gas-limit
                https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/transaction-api#get-gas-limit

                Estimate the gas limit (or compute-unit ceiling on Solana) for an unsigned transaction.
        Provide either `evmTx` for EVM chains, `solTx` for Solana, or `tronTx` for Tron ("CT_195"), matching the value of `binanceChainId`.
        On Tron the response carries energy/bandwidth fields instead of a single gas limit; `gasLimit` is the fee limit (in sun) and the energy/bandwidth fields describe resource consumption and pricing.

                Args:
                    binance_chain_id (Union[str, None]): Unique chain identifier (e.g. "1"=Ethereum, "56"=BSC, "CT_501"=Solana, "CT_195"=Tron). Provide `evmTx` for EVM chains, `solTx` for Solana, or `tronTx` for Tron — exactly one must be present. Note: `evmTx`, `solTx`, and `tronTx` are marked required in this schema for rendering purposes only; in practice supply exactly one matching `binanceChainId`.
                    evm_tx (Union[GetGasLimitRequestEvmTx, None]):
                    sol_tx (Union[GetGasLimitRequestSolTx, None]):
                    tron_tx (Union[GetGasLimitRequestTronTx, None]):
                    recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
                    nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.

                Returns:
                    ApiResponse[GetGasLimitResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if binance_chain_id is None:
            raise RequiredError(
                field="binance_chain_id",
                error_message="Missing required parameter 'binance_chain_id'",
            )
        if evm_tx is None:
            raise RequiredError(
                field="evm_tx", error_message="Missing required parameter 'evm_tx'"
            )
        if sol_tx is None:
            raise RequiredError(
                field="sol_tx", error_message="Missing required parameter 'sol_tx'"
            )
        if tron_tx is None:
            raise RequiredError(
                field="tron_tx", error_message="Missing required parameter 'tron_tx'"
            )

        body = {}
        headers = {"recv_window": recv_window, "nonce": nonce}
        payload = {
            "binance_chain_id": binance_chain_id,
            "evm_tx": evm_tx,
            "sol_tx": sol_tx,
            "tron_tx": tron_tx,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/api/v1/dex/pre-transaction/gas-limit",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetGasLimitResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def get_gas_price(
        self,
        binance_chain_id: Union[str, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
    ) -> ApiResponse[GetGasPriceResponse]:
        """
                Get Gas Price
                GET /api/v1/dex/pre-transaction/gas-price
                https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/transaction-api#get-gas-price

                Query the current network gas price for the specified chain. The response shape varies by chain family:
        - EVM chains return both `evmLegacyGasPrice` (legacy gasPrice) and
          `eip1559GasPrice` (baseFee + priority/max fees) when EIP-1559 is supported.
        - Solana returns `solanaGasPrice` (compute-unit prices and Jito tips). - Tron ("CT_195") returns an empty `data` object because Tron has no
          on-chain gas-price concept; use the gas-limit endpoint instead.

        Fields not applicable to the chain family are returned as `null`.

                Args:
                    binance_chain_id (Union[str, None]): Unique chain identifier (e.g. "1"=Ethereum, "56"=BSC, "CT_501"=Solana, "CT_195"=Tron).
                    recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
                    nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.

                Returns:
                    ApiResponse[GetGasPriceResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if binance_chain_id is None:
            raise RequiredError(
                field="binance_chain_id",
                error_message="Missing required parameter 'binance_chain_id'",
            )

        body = {}
        headers = {"recv_window": recv_window, "nonce": nonce}
        payload = {
            "binance_chain_id": binance_chain_id,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v1/dex/pre-transaction/gas-price",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetGasPriceResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def get_latest_block_height(
        self,
        binance_chain_id: Union[str, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
    ) -> ApiResponse[GetLatestBlockHeightResponse]:
        """
        Get Latest Block Height
        GET /api/v1/dex/pre-transaction/block-height
        https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/transaction-api#get-latest-block-height

        Return the latest block height that the Binance Web3 node has synced to for the specified chain. Callers can use this to monitor node sync progress for risk control and detect when the node lags behind the canonical chain head.

        Args:
            binance_chain_id (Union[str, None]): Unique chain identifier (e.g. "1"=Ethereum, "56"=BSC, "CT_501"=Solana, "CT_195"=Tron).
            recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
            nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.

        Returns:
            ApiResponse[GetLatestBlockHeightResponse]

        Raises:
            RequiredError: If a required parameter is missing.

        """

        if binance_chain_id is None:
            raise RequiredError(
                field="binance_chain_id",
                error_message="Missing required parameter 'binance_chain_id'",
            )

        body = {}
        headers = {"recv_window": recv_window, "nonce": nonce}
        payload = {
            "binance_chain_id": binance_chain_id,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v1/dex/pre-transaction/block-height",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetLatestBlockHeightResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def get_transaction_supported_chains(
        self,
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
    ) -> ApiResponse[GetTransactionSupportedChainsResponse]:
        """
        Get Transaction Supported Chains
        GET /api/v1/dex/pre-transaction/supported/chain
        https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/transaction-api#get-transaction-supported-chains

        Return the blockchain networks supported by the Transaction service for gas estimation, simulation, and broadcasting. The list is dynamically configured server-side and may change over time.

        Args:
            recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
            nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.

        Returns:
            ApiResponse[GetTransactionSupportedChainsResponse]

        Raises:
            RequiredError: If a required parameter is missing.

        """

        body = {}
        headers = {"recv_window": recv_window, "nonce": nonce}
        payload = {}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v1/dex/pre-transaction/supported/chain",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetTransactionSupportedChainsResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def simulate_transactions(
        self,
        binance_chain_id: Union[str, None],
        evm_tx: Union[SimulateTransactionsRequestEvmTx, None],
        sol_tx: Union[SimulateTransactionsRequestSolTx, None],
        tron_tx: Union[SimulateTransactionsRequestTronTx, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
    ) -> ApiResponse[SimulateTransactionsResponse]:
        """
                Simulate Transactions
                POST /api/v1/dex/pre-transaction/simulate
                https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/transaction-api#simulate-transactions

                Simulate transaction execution off-chain to predict its outcome before broadcasting. The response includes the predicted execution status, balance changes per affected account/token, and ERC-20 allowance changes (EVM chains).
        Provide either `evmTx` (EVM chains), `solTx` (Solana), or `tronTx` (Tron "CT_195") matching `binanceChainId`. On Tron, `allowanceChanges` is returned as an empty array.
        Note: Metis (chainId 1088) is not supported by this endpoint.

                Args:
                    binance_chain_id (Union[str, None]): Unique chain identifier (e.g. "1"=Ethereum, "56"=BSC, "CT_501"=Solana, "CT_195"=Tron). Provide `evmTx` for EVM chains, `solTx` for Solana, or `tronTx` for Tron — exactly one must be present. Note: `evmTx`, `solTx`, and `tronTx` are marked required in this schema for rendering purposes only; in practice supply exactly one matching `binanceChainId`.
                    evm_tx (Union[SimulateTransactionsRequestEvmTx, None]):
                    sol_tx (Union[SimulateTransactionsRequestSolTx, None]):
                    tron_tx (Union[SimulateTransactionsRequestTronTx, None]):
                    recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
                    nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.

                Returns:
                    ApiResponse[SimulateTransactionsResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if binance_chain_id is None:
            raise RequiredError(
                field="binance_chain_id",
                error_message="Missing required parameter 'binance_chain_id'",
            )
        if evm_tx is None:
            raise RequiredError(
                field="evm_tx", error_message="Missing required parameter 'evm_tx'"
            )
        if sol_tx is None:
            raise RequiredError(
                field="sol_tx", error_message="Missing required parameter 'sol_tx'"
            )
        if tron_tx is None:
            raise RequiredError(
                field="tron_tx", error_message="Missing required parameter 'tron_tx'"
            )

        body = {}
        headers = {"recv_window": recv_window, "nonce": nonce}
        payload = {
            "binance_chain_id": binance_chain_id,
            "evm_tx": evm_tx,
            "sol_tx": sol_tx,
            "tron_tx": tron_tx,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/api/v1/dex/pre-transaction/simulate",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=SimulateTransactionsResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )
