"""
Wallet REST API

Query balances, manage assets, and perform wallet operations via the Binance Wallet API.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import Optional, Union
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.errors import RequiredError
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import AccountApiTradingStatusResponse
from ..models import AccountInfoResponse
from ..models import AccountStatusResponse
from ..models import DailyAccountSnapshotResponse


from ..models import GetApiKeyPermissionResponse


from ..models import DailyAccountSnapshotTypeEnum


class AccountApi:
    """API Client for AccountApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def account_api_trading_status(
        self,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[AccountApiTradingStatusResponse]:
        """
                Account API Trading Status (USER_DATA)
                GET /sapi/v1/account/apiTradingStatus
                https://developers.binance.com/en/docs/catalog/core-trading-wallet/api/rest-api/account#account-api-trading-status

                Fetch account api trading status detail.

        Weight(IP): 1

        Security Type: USER_DATA

                Args:
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[AccountApiTradingStatusResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/account/apiTradingStatus",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=AccountApiTradingStatusResponse,
            is_signed=True,
            signer=self._signer,
        )

    def account_info(
        self,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[AccountInfoResponse]:
        """
                Account info (USER_DATA)
                GET /sapi/v1/account/info
                https://developers.binance.com/en/docs/catalog/core-trading-wallet/api/rest-api/account#account-info

                Fetch account info detail.

        Weight(IP): 1

        Security Type: USER_DATA

                Args:
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[AccountInfoResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/account/info",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=AccountInfoResponse,
            is_signed=True,
            signer=self._signer,
        )

    def account_status(
        self,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[AccountStatusResponse]:
        """
                Account Status (USER_DATA)
                GET /sapi/v1/account/status
                https://developers.binance.com/en/docs/catalog/core-trading-wallet/api/rest-api/account#account-status

                Fetch account status detail.

        Weight(IP): 1

        Security Type: USER_DATA

                Args:
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[AccountStatusResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/account/status",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=AccountStatusResponse,
            is_signed=True,
            signer=self._signer,
        )

    def daily_account_snapshot(
        self,
        type: Union[DailyAccountSnapshotTypeEnum, None],
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        limit: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[DailyAccountSnapshotResponse]:
        """
                Daily Account Snapshot (USER_DATA)
                GET /sapi/v1/accountSnapshot
                https://developers.binance.com/en/docs/catalog/core-trading-wallet/api/rest-api/account#daily-account-snapshot

                Daily account snapshot

        Weight(IP): 2400

        Security Type: USER_DATA

        Notes:
        - The query time period must be less then 30 days
        - Support query within the last one month only
        - If startTimeand endTime not sent, return records of the last 7 days by default

                Args:
                    type (Union[DailyAccountSnapshotTypeEnum, None]):
                    start_time (Optional[int] = None):
                    end_time (Optional[int] = None):
                    limit (Optional[int] = None):
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[DailyAccountSnapshotResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if type is None:
            raise RequiredError(
                field="type", error_message="Missing required parameter 'type'"
            )

        body = {}
        payload = {
            "type": type,
            "start_time": start_time,
            "end_time": end_time,
            "limit": limit,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/accountSnapshot",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=DailyAccountSnapshotResponse,
            is_signed=True,
            signer=self._signer,
        )

    def disable_fast_withdraw_switch(
        self,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[None]:
        """
                Disable Fast Withdraw Switch (USER_DATA)
                POST /sapi/v1/account/disableFastWithdrawSwitch
                https://developers.binance.com/en/docs/catalog/core-trading-wallet/api/rest-api/account#disable-fast-withdraw-switch

                Disable Fast Withdraw Switch

        Weight(IP): 1

        Security Type: USER_DATA

        Notes:
        - This request will disable fastwithdraw switch under your account. You need to enable "trade" option for the api key which requests this endpoint.

                Args:
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[None]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/account/disableFastWithdrawSwitch",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            is_signed=True,
            signer=self._signer,
        )

    def enable_fast_withdraw_switch(
        self,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[None]:
        """
                Enable Fast Withdraw Switch (USER_DATA)
                POST /sapi/v1/account/enableFastWithdrawSwitch
                https://developers.binance.com/en/docs/catalog/core-trading-wallet/api/rest-api/account#enable-fast-withdraw-switch

                Enable Fast Withdraw Switch (USER_DATA)

        Weight(IP): 1

        Security Type: USER_DATA

        Notes:
        - This request will enable fastwithdraw switch under your account. You need to enable "trade" option for the api key which requests this endpoint.
        - When Fast Withdraw Switch is on, transferring funds to a Binance account will be done instantly. There is no on-chain transaction, no transaction ID and no withdrawal fee.

                Args:
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[None]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/account/enableFastWithdrawSwitch",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            is_signed=True,
            signer=self._signer,
        )

    def get_api_key_permission(
        self,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetApiKeyPermissionResponse]:
        """
                Get API Key Permission (USER_DATA)
                GET /sapi/v1/account/apiRestrictions
                https://developers.binance.com/en/docs/catalog/core-trading-wallet/api/rest-api/account#get-api-key-permission

                Get API Key Permission

        Weight(IP): 1

        Security Type: USER_DATA

                Args:
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[GetApiKeyPermissionResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/account/apiRestrictions",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetApiKeyPermissionResponse,
            is_signed=True,
            signer=self._signer,
        )
