"""
Algo Trading REST API

Programmatic access to Binance’s execution algorithms for creating and managing Spot and Futures algo orders.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import Optional, Union
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.errors import RequiredError
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import CancelAlgoOrderFutureAlgoResponse
from ..models import QueryCurrentAlgoOpenOrdersFutureAlgoResponse
from ..models import QueryHistoricalAlgoOrdersFutureAlgoResponse
from ..models import QuerySubOrdersFutureAlgoResponse
from ..models import TimeWeightedAveragePriceFutureAlgoResponse
from ..models import VolumeParticipationFutureAlgoResponse


from ..models import QueryHistoricalAlgoOrdersFutureAlgoSideEnum
from ..models import TimeWeightedAveragePriceFutureAlgoSideEnum
from ..models import TimeWeightedAveragePriceFutureAlgoPositionSideEnum
from ..models import VolumeParticipationFutureAlgoSideEnum
from ..models import VolumeParticipationFutureAlgoUrgencyEnum
from ..models import VolumeParticipationFutureAlgoPositionSideEnum


class FutureAlgoApi:
    """API Client for FutureAlgoApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def cancel_algo_order_future_algo(
        self,
        algo_id: Union[int, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[CancelAlgoOrderFutureAlgoResponse]:
        """
                Cancel Futures Algo Order (TRADE)
                DELETE /sapi/v1/algo/futures/order
                https://developers.binance.com/en/docs/catalog/advanced-trading-algo-trading/api/rest-api/future-algo#cancel-algo-order-future-algo

                Cancel an active order.

        Weight(IP): 1

        Security Type: TRADE

        Notes:
        - You need to enable `Futures Trading Permission` for the API key that requests this endpoint.
        - Base URL: `https://api.binance.com`

                Args:
                    algo_id (Union[int, None]): eg. 14511
                    recv_window (Optional[int] = None): Request validity window in milliseconds

                Returns:
                    ApiResponse[CancelAlgoOrderFutureAlgoResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if algo_id is None:
            raise RequiredError(
                field="algo_id", error_message="Missing required parameter 'algo_id'"
            )

        body = {}
        payload = {"algo_id": algo_id, "recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="DELETE",
            path="/sapi/v1/algo/futures/order",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=CancelAlgoOrderFutureAlgoResponse,
            is_signed=True,
            signer=self._signer,
        )

    def query_current_algo_open_orders_future_algo(
        self,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[QueryCurrentAlgoOpenOrdersFutureAlgoResponse]:
        """
                Query Current Futures Algo Open Orders (USER_DATA)
                GET /sapi/v1/algo/futures/openOrders
                https://developers.binance.com/en/docs/catalog/advanced-trading-algo-trading/api/rest-api/future-algo#query-current-algo-open-orders-future-algo

                Query Current Algo Open Orders

        Weight(IP): 1

        Security Type: USER_DATA

        Notes:
        - You need to enable `Futures Trading Permission` for the API key that requests this endpoint.
        - Base URL: `https://api.binance.com`

                Args:
                    recv_window (Optional[int] = None): Request validity window in milliseconds

                Returns:
                    ApiResponse[QueryCurrentAlgoOpenOrdersFutureAlgoResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/algo/futures/openOrders",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=QueryCurrentAlgoOpenOrdersFutureAlgoResponse,
            is_signed=True,
            signer=self._signer,
        )

    def query_historical_algo_orders_future_algo(
        self,
        symbol: Optional[str] = None,
        side: Optional[QueryHistoricalAlgoOrdersFutureAlgoSideEnum] = None,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        page: Optional[int] = None,
        page_size: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[QueryHistoricalAlgoOrdersFutureAlgoResponse]:
        """
                Query Historical Futures Algo Orders (USER_DATA)
                GET /sapi/v1/algo/futures/historicalOrders
                https://developers.binance.com/en/docs/catalog/advanced-trading-algo-trading/api/rest-api/future-algo#query-historical-algo-orders-future-algo

                Query Historical Algo Order

        Weight(IP): 1

        Security Type: USER_DATA

        Notes:
        - You need to enable `Futures Trading Permission` for the API key that requests this endpoint.
        - Base URL: `https://api.binance.com`

                Args:
                    symbol (Optional[str] = None): Trading symbol eg. BTCUSDT
                    side (Optional[QueryHistoricalAlgoOrdersFutureAlgoSideEnum] = None): BUY or SELL
                    start_time (Optional[int] = None): in milliseconds  eg.1641522717552
                    end_time (Optional[int] = None): in milliseconds  eg.1641522526562
                    page (Optional[int] = None): Page number
                    page_size (Optional[int] = None): Records per page
                    recv_window (Optional[int] = None): Request validity window in milliseconds

                Returns:
                    ApiResponse[QueryHistoricalAlgoOrdersFutureAlgoResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "symbol": symbol,
            "side": side,
            "start_time": start_time,
            "end_time": end_time,
            "page": page,
            "page_size": page_size,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/algo/futures/historicalOrders",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=QueryHistoricalAlgoOrdersFutureAlgoResponse,
            is_signed=True,
            signer=self._signer,
        )

    def query_sub_orders_future_algo(
        self,
        algo_id: Union[int, None],
        page: Optional[int] = None,
        page_size: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[QuerySubOrdersFutureAlgoResponse]:
        """
                Query Futures Sub Orders (USER_DATA)
                GET /sapi/v1/algo/futures/subOrders
                https://developers.binance.com/en/docs/catalog/advanced-trading-algo-trading/api/rest-api/future-algo#query-sub-orders-future-algo

                Get respective sub orders for a specified algoId

        Weight(IP): 1

        Security Type: USER_DATA

        Notes:
        - You need to enable `Futures Trading Permission` for the API key that requests this endpoint.
        - Base URL: `https://api.binance.com`

                Args:
                    algo_id (Union[int, None]): eg. 14511
                    page (Optional[int] = None): Page number
                    page_size (Optional[int] = None): Records per page
                    recv_window (Optional[int] = None): Request validity window in milliseconds

                Returns:
                    ApiResponse[QuerySubOrdersFutureAlgoResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if algo_id is None:
            raise RequiredError(
                field="algo_id", error_message="Missing required parameter 'algo_id'"
            )

        body = {}
        payload = {
            "algo_id": algo_id,
            "page": page,
            "page_size": page_size,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/algo/futures/subOrders",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=QuerySubOrdersFutureAlgoResponse,
            is_signed=True,
            signer=self._signer,
        )

    def time_weighted_average_price_future_algo(
        self,
        symbol: Union[str, None],
        side: Union[TimeWeightedAveragePriceFutureAlgoSideEnum, None],
        quantity: Union[float, None],
        duration: Union[int, None],
        position_side: Optional[
            TimeWeightedAveragePriceFutureAlgoPositionSideEnum
        ] = None,
        client_algo_id: Optional[str] = None,
        reduce_only: Optional[bool] = None,
        limit_price: Optional[float] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[TimeWeightedAveragePriceFutureAlgoResponse]:
        """
                Time-Weighted Futures Average Price (Twap) New Order (TRADE)
                POST /sapi/v1/algo/futures/newOrderTwap
                https://developers.binance.com/en/docs/catalog/advanced-trading-algo-trading/api/rest-api/future-algo#time-weighted-average-price-future-algo

                Send in a Twap new order. Only support on USDⓈ-M Contracts.

        Weight(UID): 3000

        Security Type: TRADE

        Notes:
        - Other info:
          - Total Algo open orders max allowed: `30` orders.
          - Leverage and position mode follow your futures account settings.
          - Receiving `"success": true` does not guarantee execution; query order endpoints for final status.
          - If balance/position constraints fail, response may still return success but order status becomes `expired`.
          - `quantity * 60 / duration` must be greater than `minQty`.
          - `duration` cannot be less than 5 minutes or greater than 24 hours.
          - For delivery contracts, TWAP end time should be one hour earlier than symbol delivery time.
          - You need to enable the corresponding permission for the API key requesting this endpoint:
            - `Futures Trading Permission` — for Classic Trading Account mode
            - `Portfolio Margin Trading Permission` — for Portfolio Margin Account mode
          - Base URL: `https://api.binance.com`

                Args:
                    symbol (Union[str, None]): Trading symbol eg. BTCUSDT
                    side (Union[TimeWeightedAveragePriceFutureAlgoSideEnum, None]): Trading side ( BUY or SELL )
                    quantity (Union[float, None]): Quantity of base asset; The notional (`quantity` * `mark price(base asset)`) must be more than the
        equivalent of 1,000 USDT and less than the equivalent of 1,000,000 USDT
                    duration (Union[int, None]): Duration for TWAP orders in seconds
                    position_side (Optional[TimeWeightedAveragePriceFutureAlgoPositionSideEnum] = None): Default `BOTH` for One-way Mode ; `LONG` or `SHORT` for Hedge Mode. It must be sent in Hedge Mode.
                    client_algo_id (Optional[str] = None): A unique id among Algo orders (length should be 32 characters)， If it is not sent, we will give
        default value
                    reduce_only (Optional[bool] = None): "true" or "false". Default "false"; Cannot be sent in Hedge Mode; Cannot be sent when you open a
        position
                    limit_price (Optional[float] = None): Limit price of the order; If it is not sent, will place order by market price by default
                    recv_window (Optional[int] = None): Request validity window in milliseconds

                Returns:
                    ApiResponse[TimeWeightedAveragePriceFutureAlgoResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )
        if side is None:
            raise RequiredError(
                field="side", error_message="Missing required parameter 'side'"
            )
        if quantity is None:
            raise RequiredError(
                field="quantity", error_message="Missing required parameter 'quantity'"
            )
        if duration is None:
            raise RequiredError(
                field="duration", error_message="Missing required parameter 'duration'"
            )

        body = {}
        payload = {
            "symbol": symbol,
            "side": side,
            "quantity": quantity,
            "duration": duration,
            "position_side": position_side,
            "client_algo_id": client_algo_id,
            "reduce_only": reduce_only,
            "limit_price": limit_price,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/algo/futures/newOrderTwap",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=TimeWeightedAveragePriceFutureAlgoResponse,
            is_signed=True,
            signer=self._signer,
        )

    def volume_participation_future_algo(
        self,
        symbol: Union[str, None],
        side: Union[VolumeParticipationFutureAlgoSideEnum, None],
        quantity: Union[float, None],
        urgency: Union[VolumeParticipationFutureAlgoUrgencyEnum, None],
        position_side: Optional[VolumeParticipationFutureAlgoPositionSideEnum] = None,
        client_algo_id: Optional[str] = None,
        reduce_only: Optional[bool] = None,
        limit_price: Optional[float] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[VolumeParticipationFutureAlgoResponse]:
        """
                Volume Participation (VP) New Order (TRADE)
                POST /sapi/v1/algo/futures/newOrderVp
                https://developers.binance.com/en/docs/catalog/advanced-trading-algo-trading/api/rest-api/future-algo#volume-participation-future-algo

                Send in a VP new order. Only support on USDⓈ-M Contracts.

        Weight(UID): 300

        Security Type: TRADE

        Notes:
        - Other info:
          - Total Algo open orders max allowed: `10` orders.
          - Leverage and position mode follow your futures account settings.
          - Receiving `"success": true` does not guarantee execution; query order endpoints for final status.
          - If balance/position constraints fail, response may still return success but order status becomes `expired`.
          - You need to enable the corresponding permission for the API key requesting this endpoint:
            - `Futures Trading Permission` — for Classic Trading Account mode
            - `Portfolio Margin Trading Permission` — for Portfolio Margin Account mode
          - Base URL: `https://api.binance.com`

                Args:
                    symbol (Union[str, None]): Trading symbol eg. BTCUSDT
                    side (Union[VolumeParticipationFutureAlgoSideEnum, None]): Trading side ( BUY or SELL )
                    quantity (Union[float, None]): Quantity of base asset; The notional (`quantity` * `mark price(base asset)`) must be more than the
        equivalent of 10,000 USDT and less than the equivalent of 1,000,000 USDT
                    urgency (Union[VolumeParticipationFutureAlgoUrgencyEnum, None]): Represent the relative speed of the current execution; ENUM: LOW, MEDIUM, HIGH
                    position_side (Optional[VolumeParticipationFutureAlgoPositionSideEnum] = None): Default `BOTH` for One-way Mode ; `LONG` or `SHORT` for Hedge Mode. It must be sent in Hedge Mode.
                    client_algo_id (Optional[str] = None): A unique id among Algo orders (length should be 32 characters)， If it is not sent, we will give
        default value
                    reduce_only (Optional[bool] = None): "true" or "false". Default "false"; Cannot be sent in Hedge Mode; Cannot be sent when you open a
        position
                    limit_price (Optional[float] = None): Limit price of the order; If it is not sent, will place order by market price by default
                    recv_window (Optional[int] = None): Request validity window in milliseconds

                Returns:
                    ApiResponse[VolumeParticipationFutureAlgoResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )
        if side is None:
            raise RequiredError(
                field="side", error_message="Missing required parameter 'side'"
            )
        if quantity is None:
            raise RequiredError(
                field="quantity", error_message="Missing required parameter 'quantity'"
            )
        if urgency is None:
            raise RequiredError(
                field="urgency", error_message="Missing required parameter 'urgency'"
            )

        body = {}
        payload = {
            "symbol": symbol,
            "side": side,
            "quantity": quantity,
            "urgency": urgency,
            "position_side": position_side,
            "client_algo_id": client_algo_id,
            "reduce_only": reduce_only,
            "limit_price": limit_price,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/algo/futures/newOrderVp",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=VolumeParticipationFutureAlgoResponse,
            is_signed=True,
            signer=self._signer,
        )
