"""
Futures (COIN-M) REST API

Access market data, manage accounts, and trade COIN-M perpetual and delivery futures.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import List, Optional, Union
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.errors import RequiredError
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import AccountTradeListResponse
from ..models import AllOrdersResponse
from ..models import AutoCancelAllOpenOrdersResponse
from ..models import CancelAllOpenOrdersResponse
from ..models import CancelMultipleOrdersResponse
from ..models import CancelOrderResponse
from ..models import ChangeInitialLeverageResponse
from ..models import ChangeMarginTypeResponse
from ..models import ChangePositionModeResponse
from ..models import CurrentAllOpenOrdersResponse
from ..models import GetOrderModifyHistoryResponse
from ..models import GetPositionMarginChangeHistoryResponse
from ..models import ModifyIsolatedPositionMarginResponse
from ..models import ModifyMultipleOrdersResponse
from ..models import ModifyOrderResponse
from ..models import NewOrderResponse
from ..models import PlaceMultipleOrdersResponse
from ..models import PositionAdlQuantileEstimationResponse
from ..models import PositionInformationResponse
from ..models import QueryCurrentOpenOrderResponse
from ..models import QueryOrderResponse
from ..models import UsersForceOrdersResponse


from ..models import ModifyMultipleOrdersBatchOrdersParameterInner


from ..models import PlaceMultipleOrdersBatchOrdersParameterInner


from ..models import ChangeMarginTypeMarginTypeEnum
from ..models import ModifyIsolatedPositionMarginPositionSideEnum
from ..models import ModifyOrderSideEnum
from ..models import ModifyOrderPriceMatchEnum
from ..models import NewOrderSideEnum
from ..models import NewOrderTypeEnum
from ..models import NewOrderPositionSideEnum
from ..models import NewOrderReduceOnlyEnum
from ..models import NewOrderTimeInForceEnum
from ..models import NewOrderWorkingTypeEnum
from ..models import NewOrderPriceProtectEnum
from ..models import NewOrderNewOrderRespTypeEnum
from ..models import NewOrderPriceMatchEnum
from ..models import NewOrderSelfTradePreventionModeEnum
from ..models import UsersForceOrdersAutoCloseTypeEnum


class TradeApi:
    """API Client for TradeApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def account_trade_list(
        self,
        symbol: Optional[str] = None,
        pair: Optional[str] = None,
        order_id: Optional[str] = None,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        from_id: Optional[int] = None,
        limit: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[AccountTradeListResponse]:
        """
                Account Trade List (USER_DATA)
                GET /dapi/v1/userTrades
                https://developers.binance.com/en/docs/catalog/core-trading-derivatives-trading-coin-m-futures/api/rest-api/trade#account-trade-list

                Get trades for a specific account and symbol.

        Weight: **20** with symbol，**40** with pair (after CM migration: **5** flat)

        Security Type: USER_DATA

        Notes:
        - Either symbol or pair must be sent
        - Symbol and pair cannot be sent together
        - Pair and fromId cannot be sent together
        - OrderId can only be sent together with symbol
        - If a pair is sent,tickers for all symbols of the pair will be returned
        - The parameter `fromId` cannot be sent with `startTime` or `endTime`
        - If startTime and endTime are both not sent, then the last 7 days' data will be returned.
        - The time between startTime and endTime cannot be longer than 7 days.

                Args:
                    symbol (Optional[str] = None): Symbol
                    pair (Optional[str] = None): pair
                    order_id (Optional[str] = None): Order ID
                    start_time (Optional[int] = None): Start time
                    end_time (Optional[int] = None): End time
                    from_id (Optional[int] = None): Trade id to fetch from. Default gets most recent trades.
                    limit (Optional[int] = None): Maximum number of records to return.
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[AccountTradeListResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "symbol": symbol,
            "pair": pair,
            "order_id": order_id,
            "start_time": start_time,
            "end_time": end_time,
            "from_id": from_id,
            "limit": limit,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/dapi/v1/userTrades",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=AccountTradeListResponse,
            is_signed=True,
            signer=self._signer,
        )

    def all_orders(
        self,
        symbol: Optional[str] = None,
        pair: Optional[str] = None,
        order_id: Optional[int] = None,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        limit: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[AllOrdersResponse]:
        """
                All Orders (USER_DATA)
                GET /dapi/v1/allOrders
                https://developers.binance.com/en/docs/catalog/core-trading-derivatives-trading-coin-m-futures/api/rest-api/trade#all-orders

                Get all account orders; active, canceled, or filled.

        * These orders will not be found:
          * order status is CANCELED or EXPIRED AND order has NO filled trade AND created time + 3 days < current time
          * order create time + 90 days < current time

        Weight: **20** with symbol, **40** with pair (after CM migration: **5** flat)

        Security Type: USER_DATA

        Notes:
        - Either `symbol` or `pair` must be sent.
        - `pair` can't be sent with `orderId`
        - If `orderId` is set, it will get orders >= that `orderId`. Otherwise most recent orders are returned.
        - If orderId is set, it will get orders >= that orderId. Otherwise most recent orders are returned.
        - The query time period must be less then 7 days( default as the recent 7 days).

                Args:
                    symbol (Optional[str] = None): Symbol
                    pair (Optional[str] = None): Pair
                    order_id (Optional[int] = None):
                    start_time (Optional[int] = None): Start time
                    end_time (Optional[int] = None): End time
                    limit (Optional[int] = None): Maximum number of records to return.
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[AllOrdersResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "symbol": symbol,
            "pair": pair,
            "order_id": order_id,
            "start_time": start_time,
            "end_time": end_time,
            "limit": limit,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/dapi/v1/allOrders",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=AllOrdersResponse,
            is_signed=True,
            signer=self._signer,
        )

    def auto_cancel_all_open_orders(
        self,
        symbol: Union[str, None],
        countdown_time: Union[int, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[AutoCancelAllOpenOrdersResponse]:
        """
                Auto-Cancel All Open Orders (TRADE)
                POST /dapi/v1/countdownCancelAll
                https://developers.binance.com/en/docs/catalog/core-trading-derivatives-trading-coin-m-futures/api/rest-api/trade#auto-cancel-all-open-orders

                Cancel all open orders of the specified symbol at the end of the
        specified countdown. This rest endpoint means to ensure your open orders
        are canceled in case of an outage. The endpoint should be called
        repeatedly as heartbeats so that the existing countdown time can be
        canceled and repalced by a new one. The system will check all countdowns
        **approximately every 10 milliseconds**, so please note that sufficient
        redundancy should be considered when using this function. We do not
        recommend setting the countdown time to be too precise or too small.


        * Example usage:

        Call this endpoint at 30s intervals with an countdownTime of 120000
        (120s).

        If this endpoint is not called within 120 seconds, all your orders of
        the specified symbol will be automatically canceled.

        If this endpoint is called with an countdownTime of 0, the countdown
        timer will be stopped.

        Weight(IP): 10

        Security Type: TRADE

                Args:
                    symbol (Union[str, None]):
                    countdown_time (Union[int, None]): countdown time, 1000 for 1 second. 0 to cancel the timer
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[AutoCancelAllOpenOrdersResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )
        if countdown_time is None:
            raise RequiredError(
                field="countdown_time",
                error_message="Missing required parameter 'countdown_time'",
            )

        body = {}
        payload = {
            "symbol": symbol,
            "countdown_time": countdown_time,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/dapi/v1/countdownCancelAll",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=AutoCancelAllOpenOrdersResponse,
            is_signed=True,
            signer=self._signer,
        )

    def cancel_all_open_orders(
        self,
        symbol: Union[str, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[CancelAllOpenOrdersResponse]:
        """
                Cancel All Open Orders (TRADE)
                DELETE /dapi/v1/allOpenOrders
                https://developers.binance.com/en/docs/catalog/core-trading-derivatives-trading-coin-m-futures/api/rest-api/trade#cancel-all-open-orders

                Cancel All Open Orders

        Weight(IP): 1

        Security Type: TRADE

                Args:
                    symbol (Union[str, None]): Symbol
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[CancelAllOpenOrdersResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )

        body = {}
        payload = {"symbol": symbol, "recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="DELETE",
            path="/dapi/v1/allOpenOrders",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=CancelAllOpenOrdersResponse,
            is_signed=True,
            signer=self._signer,
        )

    def cancel_multiple_orders(
        self,
        symbol: Union[str, None],
        order_id_list: Optional[List[int]] = None,
        orig_client_order_id_list: Optional[List[str]] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[CancelMultipleOrdersResponse]:
        """
                Cancel Multiple Orders (TRADE)
                DELETE /dapi/v1/batchOrders
                https://developers.binance.com/en/docs/catalog/core-trading-derivatives-trading-coin-m-futures/api/rest-api/trade#cancel-multiple-orders

                Cancel Multiple Orders

        Weight(IP): 1

        Security Type: TRADE

        Notes:
        - Either `orderIdList` or `origClientOrderIdList ` must be sent.

                Args:
                    symbol (Union[str, None]): Symbol
                    order_id_list (Optional[List[int]] = None): Order IDs to cancel.
                    orig_client_order_id_list (Optional[List[str]] = None): Original client order IDs to cancel.
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[CancelMultipleOrdersResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )

        body = {}
        payload = {
            "symbol": symbol,
            "order_id_list": order_id_list,
            "orig_client_order_id_list": orig_client_order_id_list,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="DELETE",
            path="/dapi/v1/batchOrders",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=CancelMultipleOrdersResponse,
            is_signed=True,
            signer=self._signer,
        )

    def cancel_order(
        self,
        symbol: Union[str, None],
        order_id: Optional[int] = None,
        orig_client_order_id: Optional[str] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[CancelOrderResponse]:
        """
                Cancel Order (TRADE)
                DELETE /dapi/v1/order
                https://developers.binance.com/en/docs/catalog/core-trading-derivatives-trading-coin-m-futures/api/rest-api/trade#cancel-order

                Cancel an active order.

        Weight(IP): 1

        Security Type: TRADE

        Notes:
        - Either `orderId` or `origClientOrderId` must be sent.

                Args:
                    symbol (Union[str, None]): Symbol
                    order_id (Optional[int] = None): Order ID
                    orig_client_order_id (Optional[str] = None): Client order ID
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[CancelOrderResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )

        body = {}
        payload = {
            "symbol": symbol,
            "order_id": order_id,
            "orig_client_order_id": orig_client_order_id,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="DELETE",
            path="/dapi/v1/order",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=CancelOrderResponse,
            is_signed=True,
            signer=self._signer,
        )

    def change_initial_leverage(
        self,
        symbol: Union[str, None],
        leverage: Union[int, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[ChangeInitialLeverageResponse]:
        """
                Change Initial Leverage (TRADE)
                POST /dapi/v1/leverage
                https://developers.binance.com/en/docs/catalog/core-trading-derivatives-trading-coin-m-futures/api/rest-api/trade#change-initial-leverage

                Change user's initial leverage in the specific symbol market.

        For Hedge Mode, LONG and SHORT positions of one symbol use the same
        initial leverage and share a total notional value.

        Weight(IP): 1

        Security Type: TRADE

                Args:
                    symbol (Union[str, None]): Symbol
                    leverage (Union[int, None]): target initial leverage: int from 1 to 125
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[ChangeInitialLeverageResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )
        if leverage is None:
            raise RequiredError(
                field="leverage", error_message="Missing required parameter 'leverage'"
            )

        body = {}
        payload = {"symbol": symbol, "leverage": leverage, "recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/dapi/v1/leverage",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=ChangeInitialLeverageResponse,
            is_signed=True,
            signer=self._signer,
        )

    def change_margin_type(
        self,
        symbol: Union[str, None],
        margin_type: Union[ChangeMarginTypeMarginTypeEnum, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[ChangeMarginTypeResponse]:
        """
                Change Margin Type (TRADE)
                POST /dapi/v1/marginType
                https://developers.binance.com/en/docs/catalog/core-trading-derivatives-trading-coin-m-futures/api/rest-api/trade#change-margin-type

                Change user's margin type in the specific symbol market.For Hedge Mode,
        LONG and SHORT positions of one symbol use the same margin type.

        With ISOLATED margin type, margins of the LONG and SHORT positions are
        isolated from each other.

        Weight(IP): 1

        Security Type: TRADE

                Args:
                    symbol (Union[str, None]): Symbol
                    margin_type (Union[ChangeMarginTypeMarginTypeEnum, None]):
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[ChangeMarginTypeResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )
        if margin_type is None:
            raise RequiredError(
                field="margin_type",
                error_message="Missing required parameter 'margin_type'",
            )

        body = {}
        payload = {
            "symbol": symbol,
            "margin_type": margin_type,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/dapi/v1/marginType",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=ChangeMarginTypeResponse,
            is_signed=True,
            signer=self._signer,
        )

    def change_position_mode(
        self,
        dual_side_position: Union[str, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[ChangePositionModeResponse]:
        """
                Change Position Mode (TRADE)
                POST /dapi/v1/positionSide/dual
                https://developers.binance.com/en/docs/catalog/core-trading-derivatives-trading-coin-m-futures/api/rest-api/trade#change-position-mode

                Change user's position mode (Hedge Mode or One-way Mode ) on ***EVERY symbol***.

        **After CM migration**, UM and CM share the **same** `dualSidePosition` setting. Calling this endpoint flips both UM and CM at once. If either side has any open order or open position, the change is rejected:
        - `-4067` (open orders exist)
        - `-4068` (open position exists)

        Weight(IP): 1

        Security Type: TRADE

                Args:
                    dual_side_position (Union[str, None]): "true": Hedge Mode; "false": One-way Mode
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[ChangePositionModeResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if dual_side_position is None:
            raise RequiredError(
                field="dual_side_position",
                error_message="Missing required parameter 'dual_side_position'",
            )

        body = {}
        payload = {"dual_side_position": dual_side_position, "recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/dapi/v1/positionSide/dual",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=ChangePositionModeResponse,
            is_signed=True,
            signer=self._signer,
        )

    def current_all_open_orders(
        self,
        symbol: Optional[str] = None,
        pair: Optional[str] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[CurrentAllOpenOrdersResponse]:
        """
                Current All Open Orders (USER_DATA)
                GET /dapi/v1/openOrders
                https://developers.binance.com/en/docs/catalog/core-trading-derivatives-trading-coin-m-futures/api/rest-api/trade#current-all-open-orders

                Get all open orders on a symbol. **Careful** when accessing this with no symbol.

        Weight(IP): null

        Weight: **1** for a single symbol, **40** for mutltiple symbols

        Security Type: USER_DATA

                Args:
                    symbol (Optional[str] = None): Symbol. **After CM migration, an invalid `symbol` returns `-1121` (previously a silent `200`).**
                    pair (Optional[str] = None): Pair
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[CurrentAllOpenOrdersResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"symbol": symbol, "pair": pair, "recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/dapi/v1/openOrders",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=CurrentAllOpenOrdersResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_order_modify_history(
        self,
        symbol: Union[str, None],
        order_id: Optional[int] = None,
        orig_client_order_id: Optional[str] = None,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        limit: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetOrderModifyHistoryResponse]:
        """
                Get Order Modify History (USER_DATA)
                GET /dapi/v1/orderAmendment
                https://developers.binance.com/en/docs/catalog/core-trading-derivatives-trading-coin-m-futures/api/rest-api/trade#get-order-modify-history

                Get order modification history

        Weight(IP): 1

        Security Type: USER_DATA

        Notes:
        - Either `orderId` or `origClientOrderId` must be sent, and the `orderId` will prevail if both are sent.
        - Order modify history longer than 3 month is not avaliable

                Args:
                    symbol (Union[str, None]): Symbol
                    order_id (Optional[int] = None): Order ID
                    orig_client_order_id (Optional[str] = None): Client order ID
                    start_time (Optional[int] = None): Timestamp in ms to get modification history from INCLUSIVE
                    end_time (Optional[int] = None): Timestamp in ms to get modification history until INCLUSIVE
                    limit (Optional[int] = None): Maximum number of records to return.
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[GetOrderModifyHistoryResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )

        body = {}
        payload = {
            "symbol": symbol,
            "order_id": order_id,
            "orig_client_order_id": orig_client_order_id,
            "start_time": start_time,
            "end_time": end_time,
            "limit": limit,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/dapi/v1/orderAmendment",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetOrderModifyHistoryResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_position_margin_change_history(
        self,
        symbol: Union[str, None],
        type: Optional[int] = None,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        limit: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetPositionMarginChangeHistoryResponse]:
        """
                Get Position Margin Change History (TRADE)
                GET /dapi/v1/positionMargin/history
                https://developers.binance.com/en/docs/catalog/core-trading-derivatives-trading-coin-m-futures/api/rest-api/trade#get-position-margin-change-history

                Get position margin change history

        Weight(IP): 1

        Security Type: TRADE

                Args:
                    symbol (Union[str, None]):
                    type (Optional[int] = None): 1: Add position margin,2: Reduce position margin
                    start_time (Optional[int] = None): Start time
                    end_time (Optional[int] = None): End time
                    limit (Optional[int] = None): Maximum number of records to return.
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[GetPositionMarginChangeHistoryResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )

        body = {}
        payload = {
            "symbol": symbol,
            "type": type,
            "start_time": start_time,
            "end_time": end_time,
            "limit": limit,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/dapi/v1/positionMargin/history",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetPositionMarginChangeHistoryResponse,
            is_signed=True,
            signer=self._signer,
        )

    def modify_isolated_position_margin(
        self,
        symbol: Union[str, None],
        amount: Union[float, None],
        type: Union[int, None],
        position_side: Optional[ModifyIsolatedPositionMarginPositionSideEnum] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[ModifyIsolatedPositionMarginResponse]:
        """
                Modify Isolated Position Margin (TRADE)
                POST /dapi/v1/positionMargin
                https://developers.binance.com/en/docs/catalog/core-trading-derivatives-trading-coin-m-futures/api/rest-api/trade#modify-isolated-position-margin

                Modify Isolated Position Margin

        Weight(IP): 1

        Security Type: TRADE

        Notes:
        - Only for isolated symbol

                Args:
                    symbol (Union[str, None]): Symbol
                    amount (Union[float, None]): Margin asset
                    type (Union[int, None]): 1: Add position margin,2: Reduce position margin
                    position_side (Optional[ModifyIsolatedPositionMarginPositionSideEnum] = None): Default `BOTH` for One-way Mode ; `LONG` or `SHORT` for Hedge Mode. It must be sent with Hedge Mode.
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[ModifyIsolatedPositionMarginResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )
        if amount is None:
            raise RequiredError(
                field="amount", error_message="Missing required parameter 'amount'"
            )
        if type is None:
            raise RequiredError(
                field="type", error_message="Missing required parameter 'type'"
            )

        body = {}
        payload = {
            "symbol": symbol,
            "amount": amount,
            "type": type,
            "position_side": position_side,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/dapi/v1/positionMargin",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=ModifyIsolatedPositionMarginResponse,
            is_signed=True,
            signer=self._signer,
        )

    def modify_multiple_orders(
        self,
        batch_orders: Union[List[ModifyMultipleOrdersBatchOrdersParameterInner], None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[ModifyMultipleOrdersResponse]:
        """
                Modify Multiple Orders (TRADE)
                PUT /dapi/v1/batchOrders
                https://developers.binance.com/en/docs/catalog/core-trading-derivatives-trading-coin-m-futures/api/rest-api/trade#modify-multiple-orders

                Modify Multiple Orders

        Weight(IP): 5

        Security Type: TRADE

        Notes:
        - Parameter rules are same with `Modify Order`
        - Batch modify orders are processed concurrently, and the order of matching is not guaranteed.
        - The order of returned contents for batch modify orders is the same as the order of the order list.
        - One order can only be modfied for less than 10000 times

                Args:
                    batch_orders (Union[List[ModifyMultipleOrdersBatchOrdersParameterInner], None]): order list. Max 5 orders
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[ModifyMultipleOrdersResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if batch_orders is None:
            raise RequiredError(
                field="batch_orders",
                error_message="Missing required parameter 'batch_orders'",
            )

        body = {}
        payload = {"batch_orders": batch_orders, "recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="PUT",
            path="/dapi/v1/batchOrders",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=ModifyMultipleOrdersResponse,
            is_signed=True,
            signer=self._signer,
        )

    def modify_order(
        self,
        symbol: Union[str, None],
        side: Union[ModifyOrderSideEnum, None],
        order_id: Optional[int] = None,
        orig_client_order_id: Optional[str] = None,
        quantity: Optional[float] = None,
        price: Optional[float] = None,
        price_match: Optional[ModifyOrderPriceMatchEnum] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[ModifyOrderResponse]:
        """
                Modify Order (TRADE)
                PUT /dapi/v1/order
                https://developers.binance.com/en/docs/catalog/core-trading-derivatives-trading-coin-m-futures/api/rest-api/trade#modify-order

                Order modify function, currently only LIMIT order modification is supported, modified orders will be reordered in the match queue

        Weight(IP): 1

        Security Type: TRADE

        Notes:
        - Either `orderId` or `origClientOrderId` must be sent, and the `orderId` will prevail if both are sent.
        - Either `quantity` or `price` must be sent. *(After CM migration, both `quantity` and `price` are required.)*
        - When the new `quantity` or `price` doesn't satisfy PRICE_FILTER / PERCENT_FILTER / LOT_SIZE, amendment will be rejected and the order will stay as it is.
        - However the order will be cancelled by the amendment in the following situations:
          - when the order is in partially filled status and the new `quantity`
          - When the order is `GTX` and the new price will cause it to be executed immediately
          - One order can only be modfied for less than 10000 times

                Args:
                    symbol (Union[str, None]): Symbol
                    side (Union[ModifyOrderSideEnum, None]):
                    order_id (Optional[int] = None): Order ID
                    orig_client_order_id (Optional[str] = None): Client order ID
                    quantity (Optional[float] = None): Order quantity, cannot be sent with `closePosition=true`. **After CM migration, this parameter becomes mandatory** (must be sent together with `price`).
                    price (Optional[float] = None): Order price. **After CM migration, this parameter becomes mandatory** (must be sent together with `quantity`).
                    price_match (Optional[ModifyOrderPriceMatchEnum] = None): only avaliable for `LIMIT`/`STOP`/`TAKE_PROFIT` order; Can't be passed together with `price`
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[ModifyOrderResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )
        if side is None:
            raise RequiredError(
                field="side", error_message="Missing required parameter 'side'"
            )

        body = {}
        payload = {
            "symbol": symbol,
            "side": side,
            "order_id": order_id,
            "orig_client_order_id": orig_client_order_id,
            "quantity": quantity,
            "price": price,
            "price_match": price_match,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="PUT",
            path="/dapi/v1/order",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=ModifyOrderResponse,
            is_signed=True,
            signer=self._signer,
        )

    def new_order(
        self,
        symbol: Union[str, None],
        side: Union[NewOrderSideEnum, None],
        type: Union[NewOrderTypeEnum, None],
        position_side: Optional[NewOrderPositionSideEnum] = None,
        reduce_only: Optional[NewOrderReduceOnlyEnum] = None,
        quantity: Optional[float] = None,
        price: Optional[float] = None,
        new_client_order_id: Optional[str] = None,
        stop_price: Optional[float] = None,
        close_position: Optional[str] = None,
        activation_price: Optional[float] = None,
        callback_rate: Optional[float] = None,
        time_in_force: Optional[NewOrderTimeInForceEnum] = None,
        working_type: Optional[NewOrderWorkingTypeEnum] = None,
        price_protect: Optional[NewOrderPriceProtectEnum] = None,
        new_order_resp_type: Optional[NewOrderNewOrderRespTypeEnum] = None,
        price_match: Optional[NewOrderPriceMatchEnum] = None,
        self_trade_prevention_mode: Optional[
            NewOrderSelfTradePreventionModeEnum
        ] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[NewOrderResponse]:
        """
                New Order (TRADE)
                POST /dapi/v1/order
                https://developers.binance.com/en/docs/catalog/core-trading-derivatives-trading-coin-m-futures/api/rest-api/trade#new-order

                Send in a new order.

        Weight: 1 on 1min order rate limit(X-MBX-ORDER-COUNT-1M)
        0 on IP rate limit(x-mbx-used-weight-1m)

        Security Type: TRADE

        Notes:
        - Additional mandatory parameters based on `type`:
          - Order with type `STOP`, parameter `timeInForce` can be sent ( default `GTC`).
          - Order with type `TAKE_PROFIT`, parameter `timeInForce` can be sent ( default `GTC`).
          - Condition orders will be triggered when:
          - If parameter`priceProtect`is sent as true:
          - when price reaches the `stopPrice` ，the difference rate between "MARK_PRICE" and "CONTRACT_PRICE" cannot be larger than the "triggerProtect" of the symbol
          - "triggerProtect" of a symbol can be got from `GET /dapi/v1/exchangeInfo`
          - `STOP`, `STOP_MARKET`:
          - BUY: latest price ("MARK_PRICE" or "CONTRACT_PRICE") >= `stopPrice`
          - SELL: latest price ("MARK_PRICE" or "CONTRACT_PRICE")
          -`TAKE_PROFIT`, `TAKE_PROFIT_MARKET`:
          - BUY: latest price ("MARK_PRICE" or "CONTRACT_PRICE")
          - SELL: latest price ("MARK_PRICE" or "CONTRACT_PRICE") >= `stopPrice`
          - `TRAILING_STOP_MARKET`:
          - BUY: the lowest price after order placed ``= the lowest price * (1 + `callbackRate`)
          - SELL: the highest price after order placed >= `activationPrice`, and the latest price

          - For `TRAILING_STOP_MARKET`, if you got such error code. > `{"code": -2021, "msg": "Order would immediately trigger."}` > means that the parameters you send do not meet the following requirements:
          - BUY: `activationPrice` should be smaller than latest price.
          - SELL: `activationPrice` should be larger than latest price.
          - If `newOrderRespType ` is sent as `RESULT` :
          - `MARKET` order: the final FILLED result of the order will be return directly.
          - `LIMIT` order with special `timeInForce`: the final status result of the order(FILLED or EXPIRED) will be returned directly.
          - `STOP_MARKET`, `TAKE_PROFIT_MARKET` with `closePosition`=`true`:
          - Follow the same rules for condition orders.
          - If triggered,**close all** current long position( if `SELL`) or current short position( if `BUY`).
          - Cannot be used with `quantity` parameter
          - Cannot be used with `reduceOnly` parameter
          - In Hedge Mode,cannot be used with `BUY` orders in `LONG` position side. and cannot be used with `SELL` orders in `SHORT` position side

          - `selfTradePreventionMode` is only effective when `timeInForce` set to `IOC` or `GTC`.

                Args:
                    symbol (Union[str, None]): Symbol
                    side (Union[NewOrderSideEnum, None]):
                    type (Union[NewOrderTypeEnum, None]): **After CM migration, stop-type values (`STOP`, `STOP_MARKET`, `TAKE_PROFIT`, `TAKE_PROFIT_MARKET`, `TRAILING_STOP_MARKET`) are no longer accepted by this endpoint and will return `-4120`. Use the new `/dapi/v1/algoOrder` endpoint instead.**
                    position_side (Optional[NewOrderPositionSideEnum] = None): Default `BOTH` for One-way Mode ; `LONG` or `SHORT` for Hedge Mode. It must be sent in Hedge Mode.
                    reduce_only (Optional[NewOrderReduceOnlyEnum] = None): "true" or "false". Cannot be sent in Hedge
        Mode; cannot be sent with `closePosition`=`true`(Close-All)
                    quantity (Optional[float] = None): quantity measured by contract number, Cannot be sent with `closePosition`=`true`
                    price (Optional[float] = None): Order price
                    new_client_order_id (Optional[str] = None): A unique id among open orders. Automatically generated if
        not sent. Can only be string following the rule:
        `^[.A-Z:/a-z0-9_-]{1,36}$`
                    stop_price (Optional[float] = None): Used with `STOP/STOP_MARKET` or `TAKE_PROFIT/TAKE_PROFIT_MARKET` orders.
                    close_position (Optional[str] = None): `true`, `false`；Close-All,used with `STOP_MARKET` or `TAKE_PROFIT_MARKET`.
                    activation_price (Optional[float] = None): Used with `TRAILING_STOP_MARKET` orders, default as the
        latest price(supporting different `workingType`)
                    callback_rate (Optional[float] = None): Used with `TRAILING_STOP_MARKET` orders, min 0.1, max 10 where 1 for 1%
                    time_in_force (Optional[NewOrderTimeInForceEnum] = None):
                    working_type (Optional[NewOrderWorkingTypeEnum] = None): 'stopPrice triggered by: "MARK_PRICE", "CONTRACT_PRICE".
                    price_protect (Optional[NewOrderPriceProtectEnum] = None): "true" or "false". Used with
        `STOP/STOP_MARKET` or `TAKE_PROFIT/TAKE_PROFIT_MARKET`
        orders.
                    new_order_resp_type (Optional[NewOrderNewOrderRespTypeEnum] = None):
                    price_match (Optional[NewOrderPriceMatchEnum] = None): only avaliable for `LIMIT`/`STOP`/`TAKE_PROFIT` order;
        Can't be passed together with `price`
                    self_trade_prevention_mode (Optional[NewOrderSelfTradePreventionModeEnum] = None): `EXPIRE_TAKER`:expire taker order when STP triggers/
        `EXPIRE_MAKER`:expire taker order when STP triggers/
        `EXPIRE_BOTH`:expire both orders when STP triggers
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[NewOrderResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )
        if side is None:
            raise RequiredError(
                field="side", error_message="Missing required parameter 'side'"
            )
        if type is None:
            raise RequiredError(
                field="type", error_message="Missing required parameter 'type'"
            )

        body = {}
        payload = {
            "symbol": symbol,
            "side": side,
            "type": type,
            "position_side": position_side,
            "reduce_only": reduce_only,
            "quantity": quantity,
            "price": price,
            "new_client_order_id": new_client_order_id,
            "stop_price": stop_price,
            "close_position": close_position,
            "activation_price": activation_price,
            "callback_rate": callback_rate,
            "time_in_force": time_in_force,
            "working_type": working_type,
            "price_protect": price_protect,
            "new_order_resp_type": new_order_resp_type,
            "price_match": price_match,
            "self_trade_prevention_mode": self_trade_prevention_mode,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/dapi/v1/order",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=NewOrderResponse,
            is_signed=True,
            signer=self._signer,
        )

    def place_multiple_orders(
        self,
        batch_orders: Union[List[PlaceMultipleOrdersBatchOrdersParameterInner], None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[PlaceMultipleOrdersResponse]:
        """
                Place Multiple Orders (TRADE)
                POST /dapi/v1/batchOrders
                https://developers.binance.com/en/docs/catalog/core-trading-derivatives-trading-coin-m-futures/api/rest-api/trade#place-multiple-orders

                Place multiple orders

        * Parameter rules are same with `New Order`
        * Batch orders are processed concurrently, and the order of matching is not guaranteed.
        * The order of returned contents for batch orders is the same as the order of the order list.

        Weight(IP): 5

        Security Type: TRADE

        Notes:
        - `batchOrders` must be a JSON array of order parameter objects.
        - Example:
          `/dapi/v1/batchOrders?batchOrders=[{"type":"LIMIT","timeInForce":"GTC","symbol":"BTCUSD_PERP","side":"BUY","price":"10001","quantity":"1"}]`

                Args:
                    batch_orders (Union[List[PlaceMultipleOrdersBatchOrdersParameterInner], None]): order list. Max 5 orders
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[PlaceMultipleOrdersResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if batch_orders is None:
            raise RequiredError(
                field="batch_orders",
                error_message="Missing required parameter 'batch_orders'",
            )

        body = {}
        payload = {"batch_orders": batch_orders, "recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/dapi/v1/batchOrders",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=PlaceMultipleOrdersResponse,
            is_signed=True,
            signer=self._signer,
        )

    def position_adl_quantile_estimation(
        self,
        symbol: Optional[str] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[PositionAdlQuantileEstimationResponse]:
        """
                Position ADL Quantile Estimation (USER_DATA)
                GET /dapi/v1/adlQuantile
                https://developers.binance.com/en/docs/catalog/core-trading-derivatives-trading-coin-m-futures/api/rest-api/trade#position-adl-quantile-estimation

                Query position ADL quantile estimation

        * Values update every 30s.
        * Values 0, 1, 2, 3, 4 shows the queue position and possibility of ADL from low to high.
        * For positions of the symbol are in One-way Mode or isolated margined in Hedge Mode, "LONG", "SHORT", and "BOTH" will be returned to show the positions' adl quantiles of different position sides.
        * If the positions of the symbol are crossed margined in Hedge Mode:
          * "HEDGE" as a sign will be returned instead of "BOTH";
          * A same value caculated on unrealized pnls on long and short sides' positions will be shown for "LONG" and "SHORT" when there are positions in both of long and short sides.

        Weight(IP): 5

        Security Type: USER_DATA

                Args:
                    symbol (Optional[str] = None):
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[PositionAdlQuantileEstimationResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"symbol": symbol, "recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/dapi/v1/adlQuantile",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=PositionAdlQuantileEstimationResponse,
            is_signed=True,
            signer=self._signer,
        )

    def position_information(
        self,
        margin_asset: Optional[str] = None,
        pair: Optional[str] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[PositionInformationResponse]:
        """
                Position Information (USER_DATA)
                GET /dapi/v1/positionRisk
                https://developers.binance.com/en/docs/catalog/core-trading-derivatives-trading-coin-m-futures/api/rest-api/trade#position-information

                Get current account information.

        Weight(IP): 1

        Security Type: USER_DATA

        Notes:
        - If neither `marginAsset` nor `pair` is sent, positions of all symbols with `TRADING` status will be returned.
        - for One-way Mode user, the response will only show the "BOTH" positions
        - for Hedge Mode user, the response will show "BOTH", "LONG", and "SHORT" positions. **Note** > Please use with user data stream `ACCOUNT_UPDATE` to meet your timeliness and accuracy needs.
        - Please use with user data stream ACCOUNT_UPDATE to meet your timeliness and accuracy needs.

                Args:
                    margin_asset (Optional[str] = None):
                    pair (Optional[str] = None):
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[PositionInformationResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "margin_asset": margin_asset,
            "pair": pair,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/dapi/v1/positionRisk",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=PositionInformationResponse,
            is_signed=True,
            signer=self._signer,
        )

    def query_current_open_order(
        self,
        symbol: Union[str, None],
        order_id: Optional[int] = None,
        orig_client_order_id: Optional[str] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[QueryCurrentOpenOrderResponse]:
        """
                Query Current Open Order (USER_DATA)
                GET /dapi/v1/openOrder
                https://developers.binance.com/en/docs/catalog/core-trading-derivatives-trading-coin-m-futures/api/rest-api/trade#query-current-open-order

                Query Current Open Order

        Weight(IP): 1

        Security Type: USER_DATA

        Notes:
        - Either`orderId` or `origClientOrderId` must be sent
        - If the queried order has been filled or cancelled, the error message "Order does not exist" will be returned.

                Args:
                    symbol (Union[str, None]): Symbol
                    order_id (Optional[int] = None): Order ID
                    orig_client_order_id (Optional[str] = None): Client order ID
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[QueryCurrentOpenOrderResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )

        body = {}
        payload = {
            "symbol": symbol,
            "order_id": order_id,
            "orig_client_order_id": orig_client_order_id,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/dapi/v1/openOrder",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=QueryCurrentOpenOrderResponse,
            is_signed=True,
            signer=self._signer,
        )

    def query_order(
        self,
        symbol: Union[str, None],
        order_id: Optional[int] = None,
        orig_client_order_id: Optional[str] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[QueryOrderResponse]:
        """
                Query Order (USER_DATA)
                GET /dapi/v1/order
                https://developers.binance.com/en/docs/catalog/core-trading-derivatives-trading-coin-m-futures/api/rest-api/trade#query-order

                Check an order's status.

        * These orders will not be found:
          * order status is CANCELED or EXPIRED AND order has NO filled trade AND created time + 3 days < current time
          * order create time + 90 days < current time

        Weight(IP): 1

        Security Type: USER_DATA

        Notes:
        - Either `orderId` or `origClientOrderId` must be sent.

                Args:
                    symbol (Union[str, None]): Symbol
                    order_id (Optional[int] = None): Order ID
                    orig_client_order_id (Optional[str] = None): Client order ID
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[QueryOrderResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )

        body = {}
        payload = {
            "symbol": symbol,
            "order_id": order_id,
            "orig_client_order_id": orig_client_order_id,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/dapi/v1/order",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=QueryOrderResponse,
            is_signed=True,
            signer=self._signer,
        )

    def users_force_orders(
        self,
        symbol: Optional[str] = None,
        auto_close_type: Optional[UsersForceOrdersAutoCloseTypeEnum] = None,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        limit: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[UsersForceOrdersResponse]:
        """
                User's Force Orders (USER_DATA)
                GET /dapi/v1/forceOrders
                https://developers.binance.com/en/docs/catalog/core-trading-derivatives-trading-coin-m-futures/api/rest-api/trade#users-force-orders

                User's Force Orders

        Weight: **20** (after CM migration: **20** with symbol / **50** without symbol)

        Security Type: USER_DATA

        Notes:
        - If "autoCloseType" is not sent, orders with both of the types will be returned
        - Only support querying data in the past 90 days

                Args:
                    symbol (Optional[str] = None):
                    auto_close_type (Optional[UsersForceOrdersAutoCloseTypeEnum] = None):
                    start_time (Optional[int] = None):
                    end_time (Optional[int] = None):
                    limit (Optional[int] = None): Maximum number of records to return.
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[UsersForceOrdersResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "symbol": symbol,
            "auto_close_type": auto_close_type,
            "start_time": start_time,
            "end_time": end_time,
            "limit": limit,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/dapi/v1/forceOrders",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=UsersForceOrdersResponse,
            is_signed=True,
            signer=self._signer,
        )
