"""
VIP Loan REST API

Access over-collateralized loan services, manage positions, and monitor collateral via the VIP Loan API.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import Optional
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import CheckVIPLoanCollateralAccountResponse
from ..models import GetVIPLoanAccruedInterestResponse
from ..models import GetVIPLoanOngoingOrdersResponse
from ..models import GetVIPLoanRepaymentHistoryResponse
from ..models import QueryApplicationStatusResponse


class UserInformationApi:
    """API Client for UserInformationApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def check_vip_loan_collateral_account(
        self,
        order_id: Optional[int] = None,
        collateral_account_id: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[CheckVIPLoanCollateralAccountResponse]:
        """
                Check VIP Loan Collateral Account (USER_DATA)
                GET /sapi/v1/loan/vip/collateral/account
                https://developers.binance.com/en/docs/catalog/investment-and-services-vip-loan/api/rest-api/user-information#check-viploan-collateral-account

                VIP loan is available for VIP users only

        Weight(IP): 6000

        Security Type: USER_DATA

        Notes:
        - If the logged-in account is a borrowing account, all collateral accounts bound to that borrowing account can be queried.
        - If the logged-in account is a collateral account, only collateral assets under that account can be queried.

                Args:
                    order_id (Optional[int] = None):
                    collateral_account_id (Optional[int] = None):
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[CheckVIPLoanCollateralAccountResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "order_id": order_id,
            "collateral_account_id": collateral_account_id,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/loan/vip/collateral/account",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=CheckVIPLoanCollateralAccountResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_vip_loan_accrued_interest(
        self,
        order_id: Optional[int] = None,
        loan_coin: Optional[str] = None,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        current: Optional[int] = None,
        limit: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetVIPLoanAccruedInterestResponse]:
        """
                Get VIP Loan Accrued Interest (USER_DATA)
                GET /sapi/v1/loan/vip/accruedInterest
                https://developers.binance.com/en/docs/catalog/investment-and-services-vip-loan/api/rest-api/user-information#get-viploan-accrued-interest

                Check VIP Loan interest record

        Weight(IP): 400

        Security Type: USER_DATA

        Notes:
        - If `startTime` and `endTime` are not sent, recent 90-day data is returned.
        - The maximum interval between `startTime` and `endTime` is 90 days.

                Args:
                    order_id (Optional[int] = None):
                    loan_coin (Optional[str] = None):
                    start_time (Optional[int] = None): If both startTime and endTime are omitted, the most recent 90 days are returned.
                    end_time (Optional[int] = None): Maximum interval between startTime and endTime is 90 days.
                    current (Optional[int] = None): Current page number, starting from 1.
                    limit (Optional[int] = None): Number of records per page.
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[GetVIPLoanAccruedInterestResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "order_id": order_id,
            "loan_coin": loan_coin,
            "start_time": start_time,
            "end_time": end_time,
            "current": current,
            "limit": limit,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/loan/vip/accruedInterest",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetVIPLoanAccruedInterestResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_vip_loan_ongoing_orders(
        self,
        order_id: Optional[int] = None,
        collateral_account_id: Optional[int] = None,
        loan_coin: Optional[str] = None,
        collateral_coin: Optional[str] = None,
        current: Optional[int] = None,
        limit: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetVIPLoanOngoingOrdersResponse]:
        """
                Get VIP Loan Ongoing Orders (USER_DATA)
                GET /sapi/v1/loan/vip/ongoing/orders
                https://developers.binance.com/en/docs/catalog/investment-and-services-vip-loan/api/rest-api/user-information#get-viploan-ongoing-orders

                VIP loan is available for VIP users only.

        Weight(IP): 400

        Security Type: USER_DATA

                Args:
                    order_id (Optional[int] = None):
                    collateral_account_id (Optional[int] = None):
                    loan_coin (Optional[str] = None):
                    collateral_coin (Optional[str] = None):
                    current (Optional[int] = None):
                    limit (Optional[int] = None):
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[GetVIPLoanOngoingOrdersResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "order_id": order_id,
            "collateral_account_id": collateral_account_id,
            "loan_coin": loan_coin,
            "collateral_coin": collateral_coin,
            "current": current,
            "limit": limit,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/loan/vip/ongoing/orders",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetVIPLoanOngoingOrdersResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_vip_loan_repayment_history(
        self,
        order_id: Optional[int] = None,
        loan_coin: Optional[str] = None,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        current: Optional[int] = None,
        limit: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetVIPLoanRepaymentHistoryResponse]:
        """
                Get VIP Loan Repayment History (USER_DATA)
                GET /sapi/v1/loan/vip/repay/history
                https://developers.binance.com/en/docs/catalog/investment-and-services-vip-loan/api/rest-api/user-information#get-viploan-repayment-history

                VIP Loans are available only to VIP users.

        Weight(IP): 400

        Security Type: USER_DATA

        Notes:
        - If `startTime` and `endTime` are not sent, recent 90-day data is returned.
        - The maximum interval between `startTime` and `endTime` is 180 days.

                Args:
                    order_id (Optional[int] = None):
                    loan_coin (Optional[str] = None):
                    start_time (Optional[int] = None): If both startTime and endTime are omitted, the most recent 90 days are returned.
                    end_time (Optional[int] = None): Maximum interval between startTime and endTime is 180 days.
                    current (Optional[int] = None): Current page number, starting from 1.
                    limit (Optional[int] = None): Number of records per page.
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[GetVIPLoanRepaymentHistoryResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "order_id": order_id,
            "loan_coin": loan_coin,
            "start_time": start_time,
            "end_time": end_time,
            "current": current,
            "limit": limit,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/loan/vip/repay/history",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetVIPLoanRepaymentHistoryResponse,
            is_signed=True,
            signer=self._signer,
        )

    def query_application_status(
        self,
        current: Optional[int] = None,
        limit: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[QueryApplicationStatusResponse]:
        """
                Query Application Status (USER_DATA)
                GET /sapi/v1/loan/vip/request/data
                https://developers.binance.com/en/docs/catalog/investment-and-services-vip-loan/api/rest-api/user-information#query-application-status

                Query Application Status

        Weight(UID): 400

        Security Type: USER_DATA

                Args:
                    current (Optional[int] = None): Current page number, starting from 1.
                    limit (Optional[int] = None):
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[QueryApplicationStatusResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"current": current, "limit": limit, "recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/loan/vip/request/data",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=QueryApplicationStatusResponse,
            is_signed=True,
            signer=self._signer,
        )
