"""
Stocks Trading REST API

REST APIs for Binance Stocks Trading. All endpoints under `/sapi/v1/equity/*`.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import Optional
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import SignUsEquityDisclaimerResponse


class AccountApi:
    """API Client for AccountApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def sign_us_equity_disclaimer(
        self,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[SignUsEquityDisclaimerResponse]:
        """
                Sign US Equity Disclaimer (TRADE)
                POST /sapi/v1/equity/account/disclaimer
                https://developers.binance.com/en/docs/catalog/advanced-trading-stocks-trading/api/rest-api/account#sign-us-equity-disclaimer

                Records the user's acknowledgement and acceptance of the US equity disclaimer. This must be completed before the account can access certain US equity trading features. The acceptance is tied to the account associated with the API key.

        Weight: 1

        Security Type: TRADE

                Args:
                    recv_window (Optional[int] = None): The value cannot be greater than `60000`.

                Returns:
                    ApiResponse[SignUsEquityDisclaimerResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/equity/account/disclaimer",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=SignUsEquityDisclaimerResponse,
            is_signed=True,
            signer=self._signer,
        )
