"""
Stocks Trading REST API

REST APIs for Binance Stocks Trading. All endpoints under `/sapi/v1/equity/*`.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import Optional, Union
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.errors import RequiredError
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import ExchangeInfoResponse
from ..models import LatestQuoteResponse
from ..models import TokenizedAssetsResponse


class MarketDataApi:
    """API Client for MarketDataApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def exchange_info(
        self,
        symbol: Optional[str] = None,
    ) -> ApiResponse[ExchangeInfoResponse]:
        """
                Exchange Info (MARKET_DATA)
                GET /sapi/v1/equity/market/exchangeInfo
                https://developers.binance.com/en/docs/catalog/advanced-trading-stocks-trading/api/rest-api/market-data#exchange-info

                Returns current exchange trading rules and the list of tradable US-equity symbols. MARKET_DATA endpoint — requires an API key (`X-MBX-APIKEY`) but no signature. Response is served from a server-side cache.

        Weight: 1

        Security Type: MARKET_DATA

                Args:
                    symbol (Optional[str] = None): Filter to a single US-equity ticker, e.g. `AAPL`. When omitted, returns all active symbols. An unknown ticker returns an empty `symbols` array (HTTP 200), not an error.

                Returns:
                    ApiResponse[ExchangeInfoResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"symbol": symbol}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/equity/market/exchangeInfo",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=ExchangeInfoResponse,
        )

    def latest_quote(
        self,
        symbol: Union[str, None],
    ) -> ApiResponse[LatestQuoteResponse]:
        """
                Latest Quote (MARKET_DATA)
                GET /sapi/v1/equity/market/quote
                https://developers.binance.com/en/docs/catalog/advanced-trading-stocks-trading/api/rest-api/market-data#latest-quote

                Returns the latest best bid / best ask for a single US-equity ticker. The returned value is at most ~5 seconds stale. Returns an **empty response body** (not the literal `null`) when no quote is available for the supplied ticker (e.g. the ticker is unknown, halted, or de-listed).

        Weight: 1

        Security Type: MARKET_DATA

                Args:
                    symbol (Union[str, None]): US-equity ticker, e.g. `AAPL`, `TSLA`. Case-insensitive; uppercased server-side.

                Returns:
                    ApiResponse[LatestQuoteResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )

        body = {}
        payload = {"symbol": symbol}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/equity/market/quote",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=LatestQuoteResponse,
        )

    def tokenized_assets(
        self,
    ) -> ApiResponse[TokenizedAssetsResponse]:
        """
                Tokenized Assets (MARKET_DATA)
                GET /sapi/v1/equity/market/tokenized-assets
                https://developers.binance.com/en/docs/catalog/advanced-trading-stocks-trading/api/rest-api/market-data#tokenized-assets

                Returns the list of all tokenized assets currently available for mint / redeem, together with each asset's underlying equity symbol and conversion multiplier. MARKET_DATA endpoint — requires an API key (`X-MBX-APIKEY`) but no signature. Response is served from a server-side cache.

        Weight: 1

        Security Type: MARKET_DATA

                Args:

                Returns:
                    ApiResponse[TokenizedAssetsResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = None
        payload = None

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/equity/market/tokenized-assets",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=TokenizedAssetsResponse,
        )
