"""
Stocks Trading REST API

REST APIs for Binance Stocks Trading. All endpoints under `/sapi/v1/equity/*`.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import Optional, Union
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.errors import RequiredError
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import TokenizedConvertHistoryResponse
from ..models import TokenizedConvertStatusResponse
from ..models import TokenizedMintResponse
from ..models import TokenizedRedeemResponse


from ..models import TokenizedConvertStatusConvertTypeEnum


class TokenizedApi:
    """API Client for TokenizedApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def tokenized_convert_history(
        self,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        last_id: Optional[int] = None,
        size: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[TokenizedConvertHistoryResponse]:
        """
                Tokenized Convert History (USER_DATA)
                GET /sapi/v1/equity/tokenized/history
                https://developers.binance.com/en/docs/catalog/advanced-trading-stocks-trading/api/rest-api/tokenized#tokenized-convert-history

                Paged history of mint / redeem conversions for the caller. Cursor-style pagination — supply the `nextLastId` from the previous page's response to fetch the next page.

        Weight: 1

        Security Type: USER_DATA

                Args:
                    start_time (Optional[int] = None): Start time (ms epoch).
                    end_time (Optional[int] = None): End time (ms epoch).
                    last_id (Optional[int] = None): Last record id from the previous page. Omit (or leave unset) to fetch the first page.
                    size (Optional[int] = None): Page size. Default `20`, max `100`.
                    recv_window (Optional[int] = None): The value cannot be greater than `60000`.

                Returns:
                    ApiResponse[TokenizedConvertHistoryResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "start_time": start_time,
            "end_time": end_time,
            "last_id": last_id,
            "size": size,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/equity/tokenized/history",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=TokenizedConvertHistoryResponse,
            is_signed=True,
            signer=self._signer,
        )

    def tokenized_convert_status(
        self,
        issuer_request_id: Union[str, None],
        convert_type: Union[TokenizedConvertStatusConvertTypeEnum, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[TokenizedConvertStatusResponse]:
        """
                Tokenized Convert Status (USER_DATA)
                GET /sapi/v1/equity/tokenized/convert-status
                https://developers.binance.com/en/docs/catalog/advanced-trading-stocks-trading/api/rest-api/tokenized#tokenized-convert-status

                Query the current status of a single mint / redeem request by its `issuerRequestId`. Returns an empty object when no record matches (caller's ID scope only).

        Weight: 1

        Security Type: USER_DATA

                Args:
                    issuer_request_id (Union[str, None]): Convert request id returned by `/tokenized/mint` or `/redeem`.
                    convert_type (Union[TokenizedConvertStatusConvertTypeEnum, None]): `MINT` or `REDEEM`.
                    recv_window (Optional[int] = None): The value cannot be greater than `60000`.

                Returns:
                    ApiResponse[TokenizedConvertStatusResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if issuer_request_id is None:
            raise RequiredError(
                field="issuer_request_id",
                error_message="Missing required parameter 'issuer_request_id'",
            )
        if convert_type is None:
            raise RequiredError(
                field="convert_type",
                error_message="Missing required parameter 'convert_type'",
            )

        body = {}
        payload = {
            "issuer_request_id": issuer_request_id,
            "convert_type": convert_type,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/equity/tokenized/convert-status",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=TokenizedConvertStatusResponse,
            is_signed=True,
            signer=self._signer,
        )

    def tokenized_mint(
        self,
        underlying_asset: Union[str, None],
        underlying_asset_amount: Union[str, None],
        client_order_id: Optional[str] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[TokenizedMintResponse]:
        """
                Tokenized Mint (TRADE)
                POST /sapi/v1/equity/tokenized/mint
                https://developers.binance.com/en/docs/catalog/advanced-trading-stocks-trading/api/rest-api/tokenized#tokenized-mint

                Mint a tokenized asset from an underlying equity holding. The caller's underlying equity (e.g. `AAPL`) is burned (or locked), and the corresponding tokenized asset (e.g. `AAPLB`) is credited. The tokenized asset is resolved server-side from `underlyingAsset`; callers only provide the underlying ticker and quantity. Mint is asynchronous: the endpoint returns an `issuerRequestId` immediately with a transient status; poll `/tokenized/convert-status` to observe the terminal state, or inspect `/tokenized/history` for the full record. Rate limit: 50 requests / min (UID).

        Weight: 1

        Security Type: TRADE

                Args:
                    underlying_asset (Union[str, None]): Underlying US-equity ticker, e.g. `AAPL`, `TSLA`. Resolved against the active-symbol list; unknown tickers return `-26004`. The target tokenized asset is looked up from this field via `/market/tokenized-assets`.
                    underlying_asset_amount (Union[str, None]): Quantity of the underlying asset to mint from. Must be > 0.
                    client_order_id (Optional[str] = None): Client order id for idempotency. Format `^[a-zA-Z0-9-_]{32,36}$`. Auto-generated when omitted.
                    recv_window (Optional[int] = None): The value cannot be greater than `60000`.

                Returns:
                    ApiResponse[TokenizedMintResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if underlying_asset is None:
            raise RequiredError(
                field="underlying_asset",
                error_message="Missing required parameter 'underlying_asset'",
            )
        if underlying_asset_amount is None:
            raise RequiredError(
                field="underlying_asset_amount",
                error_message="Missing required parameter 'underlying_asset_amount'",
            )

        body = {}
        payload = {
            "underlying_asset": underlying_asset,
            "underlying_asset_amount": underlying_asset_amount,
            "client_order_id": client_order_id,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/equity/tokenized/mint",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=TokenizedMintResponse,
            is_signed=True,
            signer=self._signer,
        )

    def tokenized_redeem(
        self,
        tokenized_asset: Union[str, None],
        tokenized_asset_amount: Union[str, None],
        client_order_id: Optional[str] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[TokenizedRedeemResponse]:
        """
                Tokenized Redeem (TRADE)
                POST /sapi/v1/equity/tokenized/redeem
                https://developers.binance.com/en/docs/catalog/advanced-trading-stocks-trading/api/rest-api/tokenized#tokenized-redeem

                Redeem a tokenized asset back into the underlying equity. The caller's tokenized asset (e.g. `AAPLB`) is burned, and the corresponding underlying equity (e.g. `AAPL`) is released. The underlying asset is resolved server-side from `tokenizedAsset`; callers only provide the tokenized asset and quantity. Redeem is asynchronous: the endpoint returns an `issuerRequestId` immediately with a transient status; poll `/tokenized/convert-status` to observe the terminal state, or inspect `/tokenized/history` for the full record. Rate limit: 200 requests / min (UID).

        Weight: 1

        Security Type: TRADE

                Args:
                    tokenized_asset (Union[str, None]): Tokenized asset to redeem, e.g. `AAPLB`. Not a US-equity ticker — this is the on-chain tokenized asset identifier. Unknown asset returns `-1102` (the message currently says the parameter was empty/malformed, but it was in fact sent — it is simply unknown). The target underlying ticker is looked up from this field via `/market/tokenized-assets`.
                    tokenized_asset_amount (Union[str, None]): Quantity of the tokenized asset to redeem. Must be > 0.
                    client_order_id (Optional[str] = None): Client order id for idempotency. Format `^[a-zA-Z0-9-_]{32,36}$`. Auto-generated when omitted.
                    recv_window (Optional[int] = None): The value cannot be greater than `60000`.

                Returns:
                    ApiResponse[TokenizedRedeemResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if tokenized_asset is None:
            raise RequiredError(
                field="tokenized_asset",
                error_message="Missing required parameter 'tokenized_asset'",
            )
        if tokenized_asset_amount is None:
            raise RequiredError(
                field="tokenized_asset_amount",
                error_message="Missing required parameter 'tokenized_asset_amount'",
            )

        body = {}
        payload = {
            "tokenized_asset": tokenized_asset,
            "tokenized_asset_amount": tokenized_asset_amount,
            "client_order_id": client_order_id,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/equity/tokenized/redeem",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=TokenizedRedeemResponse,
            is_signed=True,
            signer=self._signer,
        )
