"""
Stocks Trading REST API

REST APIs for Binance Stocks Trading. All endpoints under `/sapi/v1/equity/*`.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import Optional, Union
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.errors import RequiredError
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import CancelAllEquityOrdersResponse
from ..models import CancelEquityOrderResponse
from ..models import CurrentOpenOrdersResponse
from ..models import EquityOrderDetailResponse
from ..models import EquityOrderHistoryResponse
from ..models import EquityTradeHistoryResponse
from ..models import PlaceEquityOrderResponse
from ..models import EquityOrderHistoryOrderTypeEnum
from ..models import EquityOrderHistorySideEnum
from ..models import EquityTradeHistorySideEnum
from ..models import PlaceEquityOrderSideEnum
from ..models import PlaceEquityOrderOrderTypeEnum
from ..models import PlaceEquityOrderTimeInForceEnum
from ..models import PlaceEquityOrderTradingSessionEnum
from ..models import PlaceEquityOrderWalletTypeEnum


class TradeApi:
    """API Client for TradeApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def cancel_all_equity_orders(
        self,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[CancelAllEquityOrdersResponse]:
        """
                Cancel All Equity Orders (TRADE)
                POST /sapi/v1/equity/order/cancel-all
                https://developers.binance.com/en/docs/catalog/advanced-trading-stocks-trading/api/rest-api/trade#cancel-all-equity-orders

                Cancel all open orders for the caller. No request body is required — the scope is all of the caller's open orders. The downstream service handles idempotency; to inspect per-order outcomes, query `/order/history` after the call.

        Weight: 1

        Security Type: TRADE

                Args:
                    recv_window (Optional[int] = None): The value cannot be greater than `60000`.

                Returns:
                    ApiResponse[CancelAllEquityOrdersResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        request_body = {}
        payload = {"recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/equity/order/cancel-all",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=CancelAllEquityOrdersResponse,
            is_signed=True,
            signer=self._signer,
        )

    def cancel_equity_order(
        self,
        order_id: Union[str, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[CancelEquityOrderResponse]:
        """
                Cancel Equity Order (TRADE)
                POST /sapi/v1/equity/order/cancel
                https://developers.binance.com/en/docs/catalog/advanced-trading-stocks-trading/api/rest-api/trade#cancel-equity-order

                Cancel a single open order by its `orderId`.

        Weight: 1

        Security Type: TRADE

                Args:
                    order_id (Union[str, None]): Equity order id returned by `/order/place` or a query endpoint.
                    recv_window (Optional[int] = None): The value cannot be greater than `60000`.

                Returns:
                    ApiResponse[CancelEquityOrderResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if order_id is None:
            raise RequiredError(
                field="order_id", error_message="Missing required parameter 'order_id'"
            )

        request_body = {}
        payload = {"order_id": order_id, "recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/equity/order/cancel",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=CancelEquityOrderResponse,
            is_signed=True,
            signer=self._signer,
        )

    def current_open_orders(
        self,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[CurrentOpenOrdersResponse]:
        """
                Current Open Orders (USER_DATA)
                GET /sapi/v1/equity/order/open-orders
                https://developers.binance.com/en/docs/catalog/advanced-trading-stocks-trading/api/rest-api/trade#current-open-orders

                Query all unfinished (open) orders for the caller. No business parameters are needed — user identity is derived from the signature.

        Weight: 1

        Security Type: USER_DATA

                Args:
                    recv_window (Optional[int] = None): The value cannot be greater than `60000`.

                Returns:
                    ApiResponse[CurrentOpenOrdersResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        request_body = {}
        payload = {"recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/equity/order/open-orders",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=CurrentOpenOrdersResponse,
            is_signed=True,
            signer=self._signer,
        )

    def equity_order_detail(
        self,
        order_id: Optional[str] = None,
        client_order_id: Optional[str] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[EquityOrderDetailResponse]:
        """
                Equity Order Detail (USER_DATA)
                GET /sapi/v1/equity/order/detail
                https://developers.binance.com/en/docs/catalog/advanced-trading-stocks-trading/api/rest-api/trade#equity-order-detail

                Returns a single order along with its trade execution list. Callers can only read their own orders — the user identity is derived from the signed request.

        Weight: 1

        Security Type: USER_DATA

                Args:
                    order_id (Optional[str] = None): Equity order id. Either `orderId` or `clientOrderId` must be provided.
                    client_order_id (Optional[str] = None): Client-supplied order id. Either `orderId` or `clientOrderId` must be provided.
                    recv_window (Optional[int] = None): The value cannot be greater than `60000`.

                Returns:
                    ApiResponse[EquityOrderDetailResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        request_body = {}
        payload = {
            "order_id": order_id,
            "client_order_id": client_order_id,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/equity/order/detail",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=EquityOrderDetailResponse,
            is_signed=True,
            signer=self._signer,
        )

    def equity_order_history(
        self,
        start_time: Union[int, None],
        end_time: Union[int, None],
        symbol: Optional[str] = None,
        order_type: Optional[EquityOrderHistoryOrderTypeEnum] = None,
        side: Optional[EquityOrderHistorySideEnum] = None,
        order_status: Optional[str] = None,
        current: Optional[int] = None,
        size: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[EquityOrderHistoryResponse]:
        """
                Equity Order History (USER_DATA)
                GET /sapi/v1/equity/order/history
                https://developers.binance.com/en/docs/catalog/advanced-trading-stocks-trading/api/rest-api/trade#equity-order-history

                Paged order history for the caller. Filters by symbol, order type, side, status, and time range.

        Weight: 1

        Security Type: USER_DATA

                Args:
                    start_time (Union[int, None]): Start time (ms epoch).
                    end_time (Union[int, None]): End time (ms epoch).
                    symbol (Optional[str] = None): US-equity ticker filter, e.g. `NVDA`.
                    order_type (Optional[EquityOrderHistoryOrderTypeEnum] = None): Order type filter: `MARKET` / `LIMIT`.
                    side (Optional[EquityOrderHistorySideEnum] = None): Side filter: `BUY` / `SELL`.
                    order_status (Optional[str] = None): Comma-separated status filter. Allowed values: `FILLED`, `PARTIALLY_FILLED`, `CANCELED`, `EXPIRED`, `REJECTED`.
                    current (Optional[int] = None): Page number, 1-based. Default `1`.
                    size (Optional[int] = None): Page size. Default `20`, max `100`.
                    recv_window (Optional[int] = None): The value cannot be greater than `60000`.

                Returns:
                    ApiResponse[EquityOrderHistoryResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if start_time is None:
            raise RequiredError(
                field="start_time",
                error_message="Missing required parameter 'start_time'",
            )
        if end_time is None:
            raise RequiredError(
                field="end_time", error_message="Missing required parameter 'end_time'"
            )

        request_body = {}
        payload = {
            "start_time": start_time,
            "end_time": end_time,
            "symbol": symbol,
            "order_type": order_type,
            "side": side,
            "order_status": order_status,
            "current": current,
            "size": size,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/equity/order/history",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=EquityOrderHistoryResponse,
            is_signed=True,
            signer=self._signer,
        )

    def equity_trade_history(
        self,
        start_time: Union[int, None],
        end_time: Union[int, None],
        symbol: Optional[str] = None,
        side: Optional[EquityTradeHistorySideEnum] = None,
        order_id: Optional[str] = None,
        current: Optional[int] = None,
        size: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[EquityTradeHistoryResponse]:
        """
                Equity Trade History (USER_DATA)
                GET /sapi/v1/equity/trade/history
                https://developers.binance.com/en/docs/catalog/advanced-trading-stocks-trading/api/rest-api/trade#equity-trade-history

                Paged equity trade (per-fill) history for the caller. Each row is one execution, not one order — a partially filled order produces multiple rows. Filters by symbol, side, specific `orderId`, and time range.

        Weight: 1

        Security Type: USER_DATA

                Args:
                    start_time (Union[int, None]): Start time (ms epoch).
                    end_time (Union[int, None]): End time (ms epoch).
                    symbol (Optional[str] = None): US-equity ticker filter, e.g. `NVDA`.
                    side (Optional[EquityTradeHistorySideEnum] = None): Side filter: `BUY` / `SELL`.
                    order_id (Optional[str] = None): Narrow the result to executions of a single order.
                    current (Optional[int] = None): Page number, 1-based. Default `1`.
                    size (Optional[int] = None): Page size. Default `20`, max `100`.
                    recv_window (Optional[int] = None): The value cannot be greater than `60000`.

                Returns:
                    ApiResponse[EquityTradeHistoryResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if start_time is None:
            raise RequiredError(
                field="start_time",
                error_message="Missing required parameter 'start_time'",
            )
        if end_time is None:
            raise RequiredError(
                field="end_time", error_message="Missing required parameter 'end_time'"
            )

        request_body = {}
        payload = {
            "start_time": start_time,
            "end_time": end_time,
            "symbol": symbol,
            "side": side,
            "order_id": order_id,
            "current": current,
            "size": size,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/equity/trade/history",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=EquityTradeHistoryResponse,
            is_signed=True,
            signer=self._signer,
        )

    def place_equity_order(
        self,
        symbol: Union[str, None],
        side: Union[PlaceEquityOrderSideEnum, None],
        order_type: Union[PlaceEquityOrderOrderTypeEnum, None],
        quote_asset: Optional[str] = None,
        price: Optional[str] = None,
        quantity: Optional[str] = None,
        notional: Optional[str] = None,
        time_in_force: Optional[PlaceEquityOrderTimeInForceEnum] = None,
        trading_session: Optional[PlaceEquityOrderTradingSessionEnum] = None,
        wallet_type: Optional[PlaceEquityOrderWalletTypeEnum] = None,
        client_order_id: Optional[str] = None,
        tokenize: Optional[bool] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[PlaceEquityOrderResponse]:
        """
                Place Equity Order (TRADE)
                POST /sapi/v1/equity/order/place
                https://developers.binance.com/en/docs/catalog/advanced-trading-stocks-trading/api/rest-api/trade#place-equity-order

                Place a new equity order. Supports all combinations of `LIMIT` / `MARKET` × `BUY` / `SELL`. For `LIMIT BUY` orders the commission fee is automatically computed and reserved by the server at placement time — callers submit `price` and `quantity` only, no `fee` field is required.

        **Field combination matrix**

        | Side | OrderType | Required | Forbidden | | ---- | --------- | -------- | --------- | | BUY | LIMIT | `price`, `quantity`, `tradingSession` | `notional` | | BUY | MARKET | `notional` | `price`, `quantity`, `tradingSession` | | SELL | LIMIT | `price`, `quantity`, `tradingSession` | `notional` | | SELL | MARKET | `quantity` | `price`, `notional`, `tradingSession` |

        **Fractional shares**: when `quantity` has a decimal component, or an order is placed by `notional`, it is treated as a fractional-share order. A fractional-share `GTC` order must be paired with `tradingSession = EXTENDED` or `24H`.

        Rate limit: 200 requests / min (UID).

        Weight: 1

        Security Type: TRADE

                Args:
                    symbol (Union[str, None]): US stock ticker, e.g. `AAPL`, `TSLA`. Must be a symbol with tokenization enabled — check via `/market/tokenized-assets`.
                    side (Union[PlaceEquityOrderSideEnum, None]): `BUY` / `SELL`.
                    order_type (Union[PlaceEquityOrderOrderTypeEnum, None]): `MARKET` / `LIMIT`.
                    quote_asset (Optional[str] = None): Quote asset. Defaults to `USDC`; must be within the server's allowed set.
                    price (Optional[str] = None): **Required** for `LIMIT`; **forbidden** for `MARKET`. Maximum 2 decimal places.
                    quantity (Optional[str] = None): **Required** for `LIMIT` (both sides) and `SELL MARKET`; **forbidden** for `BUY MARKET`.
                    notional (Optional[str] = None): **Required** for `BUY MARKET`; **forbidden** for `LIMIT` and `SELL MARKET`.
                    time_in_force (Optional[PlaceEquityOrderTimeInForceEnum] = None): `DAY` (default) / `GTC`. `GTC` is only supported for `LIMIT` orders; a fractional-share `GTC` order must be paired with `tradingSession = EXTENDED` or `24H`.
                    trading_session (Optional[PlaceEquityOrderTradingSessionEnum] = None): `RTH` / `EXTENDED` / `24H`. **Required** for `LIMIT`; **forbidden** for `MARKET`.
                    wallet_type (Optional[PlaceEquityOrderWalletTypeEnum] = None): Payment wallet for `BUY` orders: `CARD` (default) / `MAIN`. `SELL` orders always settle to `CARD`.
                    client_order_id (Optional[str] = None): Client-supplied order id. Format `^[a-zA-Z0-9-_]{32,36}$`. Auto-generated when omitted.
                    tokenize (Optional[bool] = None): Whether to tokenize the purchased stock asset upon settlement. Default `true`. Set to `false` to receive the underlying equity directly instead of a tokenized asset.
                    recv_window (Optional[int] = None): The value cannot be greater than `60000`.

                Returns:
                    ApiResponse[PlaceEquityOrderResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )
        if side is None:
            raise RequiredError(
                field="side", error_message="Missing required parameter 'side'"
            )
        if order_type is None:
            raise RequiredError(
                field="order_type",
                error_message="Missing required parameter 'order_type'",
            )

        request_body = {}
        payload = {
            "symbol": symbol,
            "side": side,
            "order_type": order_type,
            "quote_asset": quote_asset,
            "price": price,
            "quantity": quantity,
            "notional": notional,
            "time_in_force": time_in_force,
            "trading_session": trading_session,
            "wallet_type": wallet_type,
            "client_order_id": client_order_id,
            "tokenize": tokenize,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/equity/order/place",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=PlaceEquityOrderResponse,
            is_signed=True,
            signer=self._signer,
        )
