"""
Stocks Trading REST API

REST APIs for Binance Stocks Trading. All endpoints under `/sapi/v1/equity/*`.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import Optional
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import CreateRenewListenKeyResponse


class UserDataStreamsApi:
    """API Client for UserDataStreamsApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def create_renew_listen_key(
        self,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[CreateRenewListenKeyResponse]:
        """
                Create / Renew Listen Key (USER_STREAM)
                POST /sapi/v1/equity/listenKey
                https://developers.binance.com/en/docs/catalog/advanced-trading-stocks-trading/api/rest-api/user-data-streams#create-renew-listen-key

                Create a new stock user-data-stream `listenKey`, or renew an existing one. Calling this endpoint for the same user with an active `listenKey` extends its validity; if there is no active key, a new one is issued. Use the returned `listenKey` to subscribe to the stock user data stream.

        Weight: 1

        Security Type: USER_STREAM

                Args:
                    recv_window (Optional[int] = None): The value cannot be greater than `60000`.

                Returns:
                    ApiResponse[CreateRenewListenKeyResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        request_body = {}
        payload = {"recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/equity/listenKey",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=CreateRenewListenKeyResponse,
        )
