"""
Simple Earn REST API

Earn rewards by subscribing to flexible or locked Simple Earn products.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import Optional, Union
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.errors import RequiredError
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import GetRwusdAccountResponse
from ..models import GetRwusdQuotaDetailsResponse
from ..models import GetRwusdRateHistoryResponse
from ..models import GetRwusdRedemptionHistoryResponse
from ..models import GetRwusdRewardsHistoryResponse
from ..models import GetRwusdSubscriptionHistoryResponse
from ..models import RedeemRwusdResponse
from ..models import SubscribeRwusdResponse


from ..models import GetRwusdSubscriptionHistoryAssetEnum
from ..models import RedeemRwusdTypeEnum
from ..models import SubscribeRwusdAssetEnum


class RwusdApi:
    """API Client for RwusdApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def get_rwusd_account(
        self,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetRwusdAccountResponse]:
        """
                Get RWUSD Account (USER_DATA)
                GET /sapi/v1/rwusd/account
                https://developers.binance.com/en/docs/catalog/investment-and-services-simple-earn/api/rest-api/rwusd#get-rwusd-account

                Get RWUSD account information.

        Weight(IP): 150

        Security Type: USER_DATA

                Args:
                    recv_window (Optional[int] = None): The value cannot be greater than 60000 (ms)

                Returns:
                    ApiResponse[GetRwusdAccountResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/rwusd/account",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetRwusdAccountResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_rwusd_quota_details(
        self,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetRwusdQuotaDetailsResponse]:
        """
                Get RWUSD Quota Details (USER_DATA)
                GET /sapi/v1/rwusd/quota
                https://developers.binance.com/en/docs/catalog/investment-and-services-simple-earn/api/rest-api/rwusd#get-rwusd-quota-details

                Get RWUSD quota details including subscription quota, fast redemption quota, and standard redemption quota.

        Weight(IP): 150

        Security Type: USER_DATA

                Args:
                    recv_window (Optional[int] = None): The value cannot be greater than 60000 (ms)

                Returns:
                    ApiResponse[GetRwusdQuotaDetailsResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/rwusd/quota",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetRwusdQuotaDetailsResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_rwusd_rate_history(
        self,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        current: Optional[int] = None,
        size: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetRwusdRateHistoryResponse]:
        """
                Get RWUSD Rate History (USER_DATA)
                GET /sapi/v1/rwusd/history/rateHistory
                https://developers.binance.com/en/docs/catalog/investment-and-services-simple-earn/api/rest-api/rwusd#get-rwusd-rate-history

                Get RWUSD rate history sorted by descending order.

        Weight(IP): 150

        Security Type: USER_DATA

        Notes:
        - The time between `startTime` and `endTime` cannot be longer than 6 months.
        - If `startTime` and `endTime`
          are both not sent, then the last 30 days' data will be returned.
        - If `startTime` is sent but `endTime` is not
          sent, `endTime` will default to current time, and results from `startTime` onward will be returned.
        - If
          `endTime` is sent but `startTime` is not sent, `startTime` defaults to the current time minus one month, and
          data between `startTime` and `endTime` will be returned.

                Args:
                    start_time (Optional[int] = None):
                    end_time (Optional[int] = None):
                    current (Optional[int] = None): Currently querying page
                    size (Optional[int] = None): Number of results per page
                    recv_window (Optional[int] = None): The value cannot be greater than 60000 (ms)

                Returns:
                    ApiResponse[GetRwusdRateHistoryResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "start_time": start_time,
            "end_time": end_time,
            "current": current,
            "size": size,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/rwusd/history/rateHistory",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetRwusdRateHistoryResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_rwusd_redemption_history(
        self,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        current: Optional[int] = None,
        size: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetRwusdRedemptionHistoryResponse]:
        """
                Get RWUSD Redemption History (USER_DATA)
                GET /sapi/v1/rwusd/history/redemptionHistory
                https://developers.binance.com/en/docs/catalog/investment-and-services-simple-earn/api/rest-api/rwusd#get-rwusd-redemption-history

                Get RWUSD redemption history.

        Weight(IP): 150

        Security Type: USER_DATA

        Notes:
        - The time between `startTime` and `endTime` cannot be longer than 6 months.
        - If `startTime` and `endTime`
          are both not sent, then the last 30 days' data will be returned.
        - If `startTime` is sent but `endTime` is not
          sent, `endTime` will default to current time, and results from `startTime` onward will be returned.
        - If
          `endTime` is sent but `startTime` is not sent, `startTime` defaults to the current time minus one month, and
          data between `startTime` and `endTime` will be returned.

                Args:
                    start_time (Optional[int] = None):
                    end_time (Optional[int] = None):
                    current (Optional[int] = None): Currently querying page
                    size (Optional[int] = None): Number of results per page
                    recv_window (Optional[int] = None): The value cannot be greater than 60000 (ms)

                Returns:
                    ApiResponse[GetRwusdRedemptionHistoryResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "start_time": start_time,
            "end_time": end_time,
            "current": current,
            "size": size,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/rwusd/history/redemptionHistory",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetRwusdRedemptionHistoryResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_rwusd_rewards_history(
        self,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        current: Optional[int] = None,
        size: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetRwusdRewardsHistoryResponse]:
        """
                Get RWUSD Rewards History (USER_DATA)
                GET /sapi/v1/rwusd/history/rewardsHistory
                https://developers.binance.com/en/docs/catalog/investment-and-services-simple-earn/api/rest-api/rwusd#get-rwusd-rewards-history

                Get RWUSD rewards history.

        Weight(IP): 150

        Security Type: USER_DATA

        Notes:
        - The time between `startTime` and `endTime` cannot be longer than 6 months.
        - If `startTime` and `endTime`
          are both not sent, then the last 30 days' data will be returned.
        - If `startTime` is sent but `endTime` is not
          sent, `endTime` will default to current time, and results from `startTime` onward will be returned.
        - If
          `endTime` is sent but `startTime` is not sent, `startTime` defaults to the current time minus one month, and
          data between `startTime` and `endTime` will be returned.

                Args:
                    start_time (Optional[int] = None):
                    end_time (Optional[int] = None):
                    current (Optional[int] = None): Currently querying page
                    size (Optional[int] = None): Number of results per page
                    recv_window (Optional[int] = None): The value cannot be greater than 60000 (ms)

                Returns:
                    ApiResponse[GetRwusdRewardsHistoryResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "start_time": start_time,
            "end_time": end_time,
            "current": current,
            "size": size,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/rwusd/history/rewardsHistory",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetRwusdRewardsHistoryResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_rwusd_subscription_history(
        self,
        asset: Optional[GetRwusdSubscriptionHistoryAssetEnum] = None,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        current: Optional[int] = None,
        size: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetRwusdSubscriptionHistoryResponse]:
        """
                Get RWUSD subscription history (USER_DATA)
                GET /sapi/v1/rwusd/history/subscriptionHistory
                https://developers.binance.com/en/docs/catalog/investment-and-services-simple-earn/api/rest-api/rwusd#get-rwusd-subscription-history

                Get RWUSD subscription history

        Weight(IP): 150

        Security Type: USER_DATA

        Notes:
        - The time between `startTime` and `endTime` cannot be longer than 6 months.
        - If `startTime` and `endTime`
          are both not sent, then the last 30 days' data will be returned.
        - If `startTime` is sent but `endTime` is not
          sent, `endTime` will default to current time, and results from `startTime` onward will be returned.
        - If
          `endTime` is sent but `startTime` is not sent, `startTime` defaults to the current time advanced by one month,
          and data between `startTime` and `endTime` will be returned.

                Args:
                    asset (Optional[GetRwusdSubscriptionHistoryAssetEnum] = None):
                    start_time (Optional[int] = None):
                    end_time (Optional[int] = None):
                    current (Optional[int] = None): Currently querying page
                    size (Optional[int] = None): Number of results per page
                    recv_window (Optional[int] = None): The value cannot be greater than 60000 (ms)

                Returns:
                    ApiResponse[GetRwusdSubscriptionHistoryResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "asset": asset,
            "start_time": start_time,
            "end_time": end_time,
            "current": current,
            "size": size,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/rwusd/history/subscriptionHistory",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetRwusdSubscriptionHistoryResponse,
            is_signed=True,
            signer=self._signer,
        )

    def redeem_rwusd(
        self,
        amount: Union[float, None],
        type: Union[RedeemRwusdTypeEnum, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[RedeemRwusdResponse]:
        """
                Redeem RWUSD (TRADE)
                POST /sapi/v1/rwusd/redeem
                https://developers.binance.com/en/docs/catalog/investment-and-services-simple-earn/api/rest-api/rwusd#redeem-rwusd

                Redeem RWUSD to USDC

        Weight(IP): 150

        Security Type: TRADE

        Notes:
        - You need to open Enable Spot & Margin Trading permission for the API Key which requests this endpoint.
        - This API only supports RWUSD redemption to the Spot Account. Redemptions to the Funding Account or any other account type are not supported.

                Args:
                    amount (Union[float, None]): Amount in RWUSD
                    type (Union[RedeemRwusdTypeEnum, None]):
                    recv_window (Optional[int] = None): Request validity window in milliseconds.

                Returns:
                    ApiResponse[RedeemRwusdResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if amount is None:
            raise RequiredError(
                field="amount", error_message="Missing required parameter 'amount'"
            )
        if type is None:
            raise RequiredError(
                field="type", error_message="Missing required parameter 'type'"
            )

        body = {}
        payload = {"amount": amount, "type": type, "recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/rwusd/redeem",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=RedeemRwusdResponse,
            is_signed=True,
            signer=self._signer,
        )

    def subscribe_rwusd(
        self,
        asset: Union[SubscribeRwusdAssetEnum, None],
        amount: Union[float, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[SubscribeRwusdResponse]:
        """
                Subscribe RWUSD (TRADE)
                POST /sapi/v1/rwusd/subscribe
                https://developers.binance.com/en/docs/catalog/investment-and-services-simple-earn/api/rest-api/rwusd#subscribe-rwusd

                Subscribe RWUSD

        Weight(IP): 150

        Security Type: TRADE

        Notes:
        - You need to open Enable Spot & Margin Trading permission for the API Key which requests this endpoint.
        - This API only supports RWUSD subscription using assets held in the Spot Account. Subscriptions initiated from the Funding Account or any other account type are not supported.

                Args:
                    asset (Union[SubscribeRwusdAssetEnum, None]):
                    amount (Union[float, None]): Amount
                    recv_window (Optional[int] = None): Request validity window in milliseconds.

                Returns:
                    ApiResponse[SubscribeRwusdResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if asset is None:
            raise RequiredError(
                field="asset", error_message="Missing required parameter 'asset'"
            )
        if amount is None:
            raise RequiredError(
                field="amount", error_message="Missing required parameter 'amount'"
            )

        body = {}
        payload = {"asset": asset, "amount": amount, "recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/rwusd/subscribe",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=SubscribeRwusdResponse,
            is_signed=True,
            signer=self._signer,
        )
