"""
Simple Earn REST API

Earn rewards by subscribing to flexible or locked Simple Earn products.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import Optional
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import GetYieldArenaActivitiesResponse


class YieldArenaApi:
    """API Client for YieldArenaApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def get_yield_arena_activities(
        self,
        lang: Optional[str] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetYieldArenaActivitiesResponse]:
        """
                Get Yield Arena Activities (USER_DATA)
                GET /sapi/v1/earn/arena/activities
                https://developers.binance.com/en/docs/catalog/investment-and-services-simple-earn/api/rest-api/yield-arena#get-yield-arena-activities

                Get the list of Earn Yield Arena giveaway activities currently available to the user.

        Weight(IP): 150

        Security Type: USER_DATA

                Args:
                    lang (Optional[str] = None): Locale tag for `title` and `description` (e.g. `en`, `zh-CN`, `pt-BR`). Default: `en`.
        If the value is missing, malformed, or has no translation configured, content is returned in `en`.
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[GetYieldArenaActivitiesResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/earn/arena/activities",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetYieldArenaActivitiesResponse,
            is_signed=True,
            signer=self._signer,
        )
