"""
Spot REST API

Access market data, manage accounts, and trade on Binance Spot.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import List, Optional
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import ExchangeInfoResponse
from ..models import ExecutionRulesResponse

from ..models import TimeResponse


from ..models import ExchangeInfoPermissionsEnum
from ..models import ExchangeInfoSymbolStatusEnum
from ..models import ExecutionRulesSymbolStatusEnum


class GeneralApi:
    """API Client for GeneralApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def exchange_info(
        self,
        symbol: Optional[str] = None,
        symbols: Optional[List[str]] = None,
        permissions: Optional[ExchangeInfoPermissionsEnum] = None,
        show_permission_sets: Optional[bool] = None,
        symbol_status: Optional[ExchangeInfoSymbolStatusEnum] = None,
    ) -> ApiResponse[ExchangeInfoResponse]:
        """
                Exchange information
                GET /api/v3/exchangeInfo
                https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/general#exchange-info

                Current exchange trading rules and symbol information

        Weight(IP): 20

        Security Type: NONE

        Notes:
        **Data Source:** Memory

        **Notes:**
        * If the value provided to `symbol` or `symbols` do not exist, the endpoint will throw an error saying the symbol is invalid.
        * All parameters are optional.
        * `permissions` can support single or multiple values (e.g. `SPOT`, `["MARGIN","LEVERAGED"]`). This cannot be used in combination with `symbol` or `symbols`.
        * If `permissions` parameter not provided, all symbols that have either `SPOT`, `MARGIN`, or `LEVERAGED` permission will be exposed.
          * To display symbols with any permission you need to specify them explicitly in `permissions`: (e.g. `["SPOT","MARGIN",...]`.). See Account and Symbol Permissions for the full list.

        **Examples of Symbol Permissions Interpretation from the Response:**

        * `[["A","B"]]` means you may place an order if your account has either permission "A" **or** permission "B".
        * `[["A"],["B"]]` means you can place an order if your account has permission "A" **and** permission "B".
        * `[["A"],["B","C"]]` means you can place an order if your account has permission "A" **and** permission "B" or permission "C". (Inclusive or is applied here, not exclusive or, so your account may have both permission "B" and permission "C".)

                Args:
                    symbol (Optional[str] = None): Example: curl -X GET "https://api.binance.com/api/v3/exchangeInfo?symbol=BNBBTC"
                    symbols (Optional[List[str]] = None): Examples: curl -X GET "https://api.binance.com/api/v3/exchangeInfo?symbols=%5B%22BNBBTC%22,%22BTCUSDT%22%5D" or curl -g -X GET 'https://api.binance.com/api/v3/exchangeInfo?symbols=["BTCUSDT","BNBBTC"]'
                    permissions (Optional[ExchangeInfoPermissionsEnum] = None): Examples: curl -X GET "https://api.binance.com/api/v3/exchangeInfo?permissions=SPOT"

        curl -X GET "https://api.binance.com/api/v3/exchangeInfo?permissions=%5B%22MARGIN%22%2C%22LEVERAGED%22%5D"
        or
        curl -g -X GET 'https://api.binance.com/api/v3/exchangeInfo?permissions=["MARGIN","LEVERAGED"]'
                    show_permission_sets (Optional[bool] = None): Controls whether the content of the `permissionSets` field is populated or not.
                    symbol_status (Optional[ExchangeInfoSymbolStatusEnum] = None): Filters for symbols that have this `tradingStatus`. Cannot be used in combination with `symbols` or `symbol`.

                Returns:
                    ApiResponse[ExchangeInfoResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "symbol": symbol,
            "symbols": symbols,
            "permissions": permissions,
            "show_permission_sets": show_permission_sets,
            "symbol_status": symbol_status,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v3/exchangeInfo",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=ExchangeInfoResponse,
        )

    def execution_rules(
        self,
        symbol: Optional[str] = None,
        symbols: Optional[List[str]] = None,
        symbol_status: Optional[ExecutionRulesSymbolStatusEnum] = None,
    ) -> ApiResponse[ExecutionRulesResponse]:
        """
                Query Execution Rules
                GET /api/v3/executionRules
                https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/general#execution-rules

                Query execution rules for symbols.

        Weight: Parameter | Weight
        --- | ---
        `symbol` | 2
        `symbols` | 2 for each `symbol`, capped at a max of 40
        `symbolStatus` | 40
        None | 40

        Security Type: NONE

        Notes:
        **Data Source:** Memory

        **Note:**: No combination of multiple parameters is allowed.

                Args:
                    symbol (Optional[str] = None): Query for specified symbol.
                    symbols (Optional[List[str]] = None): Query for multiple symbols.
                    symbol_status (Optional[ExecutionRulesSymbolStatusEnum] = None): Query for all symbols with the specified status.

                Returns:
                    ApiResponse[ExecutionRulesResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"symbol": symbol, "symbols": symbols, "symbol_status": symbol_status}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v3/executionRules",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=ExecutionRulesResponse,
        )

    def ping(
        self,
    ) -> ApiResponse[None]:
        """
                Test connectivity
                GET /api/v3/ping
                https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/general#ping

                Test connectivity to the Rest API.

        Weight(IP): 1

        Security Type: NONE

                Args:

                Returns:
                    ApiResponse[None]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = None
        payload = None

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v3/ping",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
        )

    def time(
        self,
    ) -> ApiResponse[TimeResponse]:
        """
                Check server time
                GET /api/v3/time
                https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/general#time

                Test connectivity to the Rest API and get the current server time.

        Weight(IP): 1

        Security Type: NONE

                Args:

                Returns:
                    ApiResponse[TimeResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = None
        payload = None

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v3/time",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=TimeResponse,
        )
