"""
Spot REST API

Access market data, manage accounts, and trade on Binance Spot.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import List, Optional, Union
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.errors import RequiredError
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import AggTradesResponse
from ..models import AvgPriceResponse
from ..models import DepthResponse
from ..models import GetTradesResponse
from ..models import HistoricalBlockTradesResponse
from ..models import HistoricalTradesResponse
from ..models import KlinesResponse
from ..models import ReferencePriceResponse
from ..models import ReferencePriceCalculationResponse
from ..models import TickerResponse
from ..models import Ticker24hrResponse
from ..models import TickerBookTickerResponse
from ..models import TickerPriceResponse
from ..models import TickerTradingDayResponse
from ..models import UiKlinesResponse


from ..models import DepthSymbolStatusEnum
from ..models import KlinesIntervalEnum
from ..models import ReferencePriceCalculationSymbolStatusEnum
from ..models import TickerWindowSizeEnum
from ..models import TickerTypeEnum
from ..models import TickerSymbolStatusEnum
from ..models import Ticker24hrTypeEnum
from ..models import Ticker24hrSymbolStatusEnum
from ..models import TickerBookTickerSymbolStatusEnum
from ..models import TickerPriceSymbolStatusEnum
from ..models import TickerTradingDayTypeEnum
from ..models import TickerTradingDaySymbolStatusEnum
from ..models import UiKlinesIntervalEnum


class MarketApi:
    """API Client for MarketApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def agg_trades(
        self,
        symbol: Union[str, None],
        from_id: Optional[int] = None,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        limit: Optional[int] = None,
    ) -> ApiResponse[AggTradesResponse]:
        """
                Compressed/Aggregate trades list
                GET /api/v3/aggTrades
                https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/market#agg-trades

                Get compressed, aggregate trades. Trades that fill at the time, from the same taker order, with the same price will have the quantity aggregated.

        Weight(IP): 4

        Security Type: NONE

        Notes:
        **Data Source:** Database

        - If fromId, startTime, and endTime are not sent, the most recent aggregate trades will be returned.

                Args:
                    symbol (Union[str, None]):
                    from_id (Optional[int] = None): ID to get aggregate trades from INCLUSIVE.
                    start_time (Optional[int] = None): Timestamp in ms to get aggregate trades from INCLUSIVE.
                    end_time (Optional[int] = None): Timestamp in ms to get aggregate trades until INCLUSIVE.
                    limit (Optional[int] = None):

                Returns:
                    ApiResponse[AggTradesResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )

        body = {}
        payload = {
            "symbol": symbol,
            "from_id": from_id,
            "start_time": start_time,
            "end_time": end_time,
            "limit": limit,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v3/aggTrades",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=AggTradesResponse,
        )

    def avg_price(
        self,
        symbol: Union[str, None],
    ) -> ApiResponse[AvgPriceResponse]:
        """
                Current average price
                GET /api/v3/avgPrice
                https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/market#avg-price

                Current average price for a symbol.

        Weight(IP): 2

        Security Type: NONE

        Notes:
        **Data Source:** Memory

                Args:
                    symbol (Union[str, None]):

                Returns:
                    ApiResponse[AvgPriceResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )

        body = {}
        payload = {"symbol": symbol}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v3/avgPrice",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=AvgPriceResponse,
        )

    def depth(
        self,
        symbol: Union[str, None],
        limit: Optional[int] = None,
        symbol_status: Optional[DepthSymbolStatusEnum] = None,
    ) -> ApiResponse[DepthResponse]:
        """
                Order book
                GET /api/v3/depth
                https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/market#depth

                Order book

        Weight: Adjusted based on the limit:

        |Limit|Request Weight
        ------|-------
        1-100|  5
        101-500| 25
        501-1000| 50
        1001-5000| 250

        Security Type: NONE

        Notes:
        **Data Source:** Memory

                Args:
                    symbol (Union[str, None]):
                    limit (Optional[int] = None): If limit > 5000, only 5000 entries will be returned.
                    symbol_status (Optional[DepthSymbolStatusEnum] = None): Filters for symbols that have this `tradingStatus`.
        A status mismatch returns error `-1220 SYMBOL_DOES_NOT_MATCH_STATUS`.

                Returns:
                    ApiResponse[DepthResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )

        body = {}
        payload = {"symbol": symbol, "limit": limit, "symbol_status": symbol_status}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v3/depth",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=DepthResponse,
        )

    def get_trades(
        self,
        symbol: Union[str, None],
        limit: Optional[int] = None,
    ) -> ApiResponse[GetTradesResponse]:
        """
                Recent trades list
                GET /api/v3/trades
                https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/market#get-trades

                Get recent trades.

        Weight(IP): 25

        Security Type: NONE

        Notes:
        **Data Source:** Memory

                Args:
                    symbol (Union[str, None]):
                    limit (Optional[int] = None):

                Returns:
                    ApiResponse[GetTradesResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )

        body = {}
        payload = {"symbol": symbol, "limit": limit}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v3/trades",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetTradesResponse,
        )

    def historical_block_trades(
        self,
        symbol: Union[str, None],
        from_id: Union[int, None],
        limit: Optional[int] = None,
    ) -> ApiResponse[HistoricalBlockTradesResponse]:
        """
                Historical Block Trades (MARKET_DATA)
                GET /api/v3/historicalBlockTrades
                https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/market#historical-block-trades

                Get block trades.

        Weight(IP): 25

        Security Type: MARKET_DATA

        Notes:
        - Data Source: Database

                Args:
                    symbol (Union[str, None]):
                    from_id (Union[int, None]): Block trade ID to fetch from
                    limit (Optional[int] = None): Default: 500; Maximum: 1000

                Returns:
                    ApiResponse[HistoricalBlockTradesResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )
        if from_id is None:
            raise RequiredError(
                field="from_id", error_message="Missing required parameter 'from_id'"
            )

        body = {}
        payload = {"symbol": symbol, "from_id": from_id, "limit": limit}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v3/historicalBlockTrades",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=HistoricalBlockTradesResponse,
        )

    def historical_trades(
        self,
        symbol: Union[str, None],
        limit: Optional[int] = None,
        from_id: Optional[int] = None,
    ) -> ApiResponse[HistoricalTradesResponse]:
        """
                Old trade lookup
                GET /api/v3/historicalTrades
                https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/market#historical-trades

                Get older trades.

        Weight(IP): 25

        Security Type: NONE

        Notes:
        **Data Source:** Database

                Args:
                    symbol (Union[str, None]):
                    limit (Optional[int] = None):
                    from_id (Optional[int] = None): TradeId to fetch from. Default gets most recent trades.

                Returns:
                    ApiResponse[HistoricalTradesResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )

        body = {}
        payload = {"symbol": symbol, "limit": limit, "from_id": from_id}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v3/historicalTrades",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=HistoricalTradesResponse,
        )

    def klines(
        self,
        symbol: Union[str, None],
        interval: Union[KlinesIntervalEnum, None],
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        time_zone: Optional[str] = None,
        limit: Optional[int] = None,
    ) -> ApiResponse[KlinesResponse]:
        """
                Kline/Candlestick data
                GET /api/v3/klines
                https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/market#klines

                Kline/candlestick bars for a symbol.
        Klines are uniquely identified by their open time.

        Weight(IP): 2

        Security Type: NONE

        Notes:
        **Data Source:** Database

        Supported kline intervals (case-sensitive):

        Interval  | `interval` value
        --------- | ----------------
        seconds   | `1s`
        minutes   | `1m`, `3m`, `5m`, `15m`, `30m`
        hours     | `1h`, `2h`, `4h`, `6h`, `8h`, `12h`
        days      | `1d`, `3d`
        weeks     | `1w`
        months    | `1M`

        **Notes:**

        * If `startTime` and `endTime` are not sent, the most recent klines are returned.
        * Supported values for `timeZone`:
          * Hours and minutes (e.g. `-1:00`, `05:45`)
          * Only hours (e.g. `0`, `8`, `4`)
          * Accepted range is strictly [-12:00 to +14:00] inclusive
        * If `timeZone` provided, kline intervals are interpreted in that timezone instead of UTC.
        * Note that `startTime` and `endTime` are always interpreted in UTC, regardless of `timeZone`.

                Args:
                    symbol (Union[str, None]):
                    interval (Union[KlinesIntervalEnum, None]):
                    start_time (Optional[int] = None):
                    end_time (Optional[int] = None):
                    time_zone (Optional[str] = None): Default: 0 (UTC)
                    limit (Optional[int] = None):

                Returns:
                    ApiResponse[KlinesResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )
        if interval is None:
            raise RequiredError(
                field="interval", error_message="Missing required parameter 'interval'"
            )

        body = {}
        payload = {
            "symbol": symbol,
            "interval": interval,
            "start_time": start_time,
            "end_time": end_time,
            "time_zone": time_zone,
            "limit": limit,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v3/klines",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=KlinesResponse,
        )

    def reference_price(
        self,
        symbol: Union[str, None],
    ) -> ApiResponse[ReferencePriceResponse]:
        """
                Query Reference Price
                GET /api/v3/referencePrice
                https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/market#reference-price

                Query the reference price for a symbol.

        Weight(IP): 2

        Security Type: NONE

        Notes:
        **Data Source:** Memory

                Args:
                    symbol (Union[str, None]):

                Returns:
                    ApiResponse[ReferencePriceResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )

        body = {}
        payload = {"symbol": symbol}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v3/referencePrice",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=ReferencePriceResponse,
        )

    def reference_price_calculation(
        self,
        symbol: Union[str, None],
        symbol_status: Optional[ReferencePriceCalculationSymbolStatusEnum] = None,
    ) -> ApiResponse[ReferencePriceCalculationResponse]:
        """
                Query Reference Price Calculation
                GET /api/v3/referencePrice/calculation
                https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/market#reference-price-calculation

                Describes how reference price is calculated for a given symbol.

        Weight(IP): 2

        Security Type: NONE

        Notes:
        **Data Source:** Memory

                Args:
                    symbol (Union[str, None]):
                    symbol_status (Optional[ReferencePriceCalculationSymbolStatusEnum] = None): Supported values: `TRADING`, `HALT`, `BREAK`

                Returns:
                    ApiResponse[ReferencePriceCalculationResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )

        body = {}
        payload = {"symbol": symbol, "symbol_status": symbol_status}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v3/referencePrice/calculation",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=ReferencePriceCalculationResponse,
        )

    def ticker(
        self,
        symbol: Optional[str] = None,
        symbols: Optional[List[str]] = None,
        window_size: Optional[TickerWindowSizeEnum] = None,
        type: Optional[TickerTypeEnum] = None,
        symbol_status: Optional[TickerSymbolStatusEnum] = None,
    ) -> ApiResponse[TickerResponse]:
        """
                Rolling window price change statistics
                GET /api/v3/ticker
                https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/market#ticker

                **Note:** This endpoint differs from `GET /api/v3/ticker/24hr`.

        The statistical time range of this endpoint can be up to 59999ms longer
        than the requested `windowSize`.

        `openTime` starts at the beginning of a minute, while the end time is
        the current time. Therefore, the actual interval can be up to 59999ms
        longer than the requested window.

        For example, if `closeTime` is 1641287867099 (January 04, 2022
        09:17:47:099 UTC) and `windowSize` is `1d`, then `openTime` is
        1641201420000 (January 3, 2022, 09:17:00 UTC).

        Weight: 4 for each requested symbol regardless of windowSize.

        The weight for this request will cap at 200 once the number of `symbols` in the request is more than 50.

        Security Type: NONE

        Notes:
        **Data Source:** Database

                Args:
                    symbol (Optional[str] = None): Either `symbol` or `symbols` must be provided
                    symbols (Optional[List[str]] = None): Either `symbol` or `symbols` must be provided

        Examples of accepted format for the `symbols` parameter: ["BTCUSDT","BNBUSDT"] or %5B%22BTCUSDT%22,%22BNBUSDT%22%5D

        The maximum number of symbols allowed in a request is 100.
                    window_size (Optional[TickerWindowSizeEnum] = None): Units cannot be combined (e.g. `1d2h` is not allowed).
                    type (Optional[TickerTypeEnum] = None):
                    symbol_status (Optional[TickerSymbolStatusEnum] = None):

                Returns:
                    ApiResponse[TickerResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "symbol": symbol,
            "symbols": symbols,
            "window_size": window_size,
            "type": type,
            "symbol_status": symbol_status,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v3/ticker",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=TickerResponse,
        )

    def ticker24hr(
        self,
        symbol: Optional[str] = None,
        symbols: Optional[List[str]] = None,
        type: Optional[Ticker24hrTypeEnum] = None,
        symbol_status: Optional[Ticker24hrSymbolStatusEnum] = None,
    ) -> ApiResponse[Ticker24hrResponse]:
        """
                24hr ticker price change statistics
                GET /api/v3/ticker/24hr
                https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/market#ticker24hr

                24 hour rolling window price change statistics. **Careful** when accessing this with no symbol.

        Weight: <table>
          <thead>
              <tr>
                  <th>Parameter</th>
                  <th>Symbols Provided</th>
                  <th>Weight</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td rowspan="2">symbol</td>
                  <td>1</td>
                  <td>2</td>
              </tr>
              <tr>
                  <td>symbol parameter is omitted</td>
                  <td>80</td>
              </tr>
              <tr>
                  <td rowspan="4">symbols</td>
                  <td>1-20</td>
                  <td>2</td>
              </tr>
              <tr>
                  <td>21-100</td>
                  <td>40</td>
              </tr>
              <tr>
                  <td>101 or more</td>
                  <td>80</td>
              </tr>
              <tr>
                  <td>symbols parameter is omitted</td>
                  <td>80</td>
              </tr>
          </tbody>
        </table>

        Security Type: NONE

        Notes:
        **Data Source:** Memory

                Args:
                    symbol (Optional[str] = None): Either `symbol` or `symbols` must be provided
                    symbols (Optional[List[str]] = None): Either `symbol` or `symbols` must be provided

        Examples of accepted format for the `symbols` parameter: ["BTCUSDT","BNBUSDT"] or %5B%22BTCUSDT%22,%22BNBUSDT%22%5D

        The maximum number of symbols allowed in a request is 100.
                    type (Optional[Ticker24hrTypeEnum] = None):
                    symbol_status (Optional[Ticker24hrSymbolStatusEnum] = None):

                Returns:
                    ApiResponse[Ticker24hrResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "symbol": symbol,
            "symbols": symbols,
            "type": type,
            "symbol_status": symbol_status,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v3/ticker/24hr",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=Ticker24hrResponse,
        )

    def ticker_book_ticker(
        self,
        symbol: Optional[str] = None,
        symbols: Optional[List[str]] = None,
        symbol_status: Optional[TickerBookTickerSymbolStatusEnum] = None,
    ) -> ApiResponse[TickerBookTickerResponse]:
        """
                Symbol order book ticker
                GET /api/v3/ticker/bookTicker
                https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/market#ticker-book-ticker

                Best price/qty on the order book for a symbol or symbols.

        Weight: |Parameter|Symbols Provided|Weight|
        |---|---|---|
        |symbol| 1 |2|
        | |omitted| 4|
        |symbols| Any |4|

        Security Type: NONE

        Notes:
        **Data Source:** Memory

                Args:
                    symbol (Optional[str] = None): Parameter symbol and symbols cannot be used in combination.
        If neither parameter is sent, `bookTickers` for all symbols will be returned in an array.
                    symbols (Optional[List[str]] = None): Parameter symbol and symbols cannot be used in combination.
        If neither parameter is sent, `bookTickers` for all symbols will be returned in an array.
        Examples of accepted format for the symbols parameter: ["BTCUSDT","BNBUSDT"] or %5B%22BTCUSDT%22,%22BNBUSDT%22%5D
                    symbol_status (Optional[TickerBookTickerSymbolStatusEnum] = None): Filters for symbols that have this `tradingStatus`.
        For a single symbol, a status mismatch returns error `-1220 SYMBOL_DOES_NOT_MATCH_STATUS`.
        For multiple or all symbols, non-matching ones are simply excluded from the response.

                Returns:
                    ApiResponse[TickerBookTickerResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"symbol": symbol, "symbols": symbols, "symbol_status": symbol_status}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v3/ticker/bookTicker",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=TickerBookTickerResponse,
        )

    def ticker_price(
        self,
        symbol: Optional[str] = None,
        symbols: Optional[List[str]] = None,
        symbol_status: Optional[TickerPriceSymbolStatusEnum] = None,
    ) -> ApiResponse[TickerPriceResponse]:
        """
                Symbol price ticker
                GET /api/v3/ticker/price
                https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/market#ticker-price

                Latest price for a symbol or symbols.

        Weight: |Parameter|Symbols Provided|Weight|
        |---|---|---|
        |symbol| 1 |2|
        | |omitted| 4|
        |symbols| Any |4|

        Security Type: NONE

        Notes:
        **Data Source:** Memory

                Args:
                    symbol (Optional[str] = None): Parameter symbol and symbols cannot be used in combination.
        If neither parameter is sent, prices for all symbols will be returned in an array.
                    symbols (Optional[List[str]] = None): Parameter symbol and symbols cannot be used in combination.
        If neither parameter is sent, prices for all symbols will be returned in an array.
        Examples of accepted format for the symbols parameter: ["BTCUSDT","BNBUSDT"] or %5B%22BTCUSDT%22,%22BNBUSDT%22%5D
                    symbol_status (Optional[TickerPriceSymbolStatusEnum] = None): Filters for symbols that have this `tradingStatus`.
        For a single symbol, a status mismatch returns error `-1220 SYMBOL_DOES_NOT_MATCH_STATUS`.
        For multiple or all symbols, non-matching ones are simply excluded from the response.

                Returns:
                    ApiResponse[TickerPriceResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"symbol": symbol, "symbols": symbols, "symbol_status": symbol_status}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v3/ticker/price",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=TickerPriceResponse,
        )

    def ticker_trading_day(
        self,
        symbol: Optional[str] = None,
        symbols: Optional[List[str]] = None,
        time_zone: Optional[str] = None,
        type: Optional[TickerTradingDayTypeEnum] = None,
        symbol_status: Optional[TickerTradingDaySymbolStatusEnum] = None,
    ) -> ApiResponse[TickerTradingDayResponse]:
        """
                Trading Day Ticker
                GET /api/v3/ticker/tradingDay
                https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/market#ticker-trading-day

                Price change statistics for a trading day.

        Weight: 4 for each requested symbol. The weight for this request will cap at 200 once the number of symbols in the request is more than 50.

        Security Type: NONE

        Notes:
        **Data Source:** Database

        **Notes:**:
          - Supported values for `timeZone`:
            - Hours and minutes (e.g. `-1:00`, `05:45`)
            - Only hours (e.g. `0`, `8`, `4`)

                Args:
                    symbol (Optional[str] = None): Either `symbol` or `symbols` must be provided.
                    symbols (Optional[List[str]] = None): Either `symbol` or `symbols` must be provided.
        Examples of accepted format for the `symbols` parameter: ["BTCUSDT","BNBUSDT"] or %5B%22BTCUSDT%22,%22BNBUSDT%22%5D.
        The maximum number of `symbols` allowed in a request is 100.
                    time_zone (Optional[str] = None): Default: 0 (UTC)
                    type (Optional[TickerTradingDayTypeEnum] = None):
                    symbol_status (Optional[TickerTradingDaySymbolStatusEnum] = None): Filters for symbols that have this `tradingStatus`.
        For a single symbol, a status mismatch returns error `-1220 SYMBOL_DOES_NOT_MATCH_STATUS`.
        For multiple symbols, non-matching ones are simply excluded from the response.

                Returns:
                    ApiResponse[TickerTradingDayResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "symbol": symbol,
            "symbols": symbols,
            "time_zone": time_zone,
            "type": type,
            "symbol_status": symbol_status,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v3/ticker/tradingDay",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=TickerTradingDayResponse,
        )

    def ui_klines(
        self,
        symbol: Union[str, None],
        interval: Union[UiKlinesIntervalEnum, None],
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        time_zone: Optional[str] = None,
        limit: Optional[int] = None,
    ) -> ApiResponse[UiKlinesResponse]:
        """
                UIKlines
                GET /api/v3/uiKlines
                https://developers.binance.com/en/docs/catalog/core-trading-spot-trading/api/rest-api/market#ui-klines

                The request is similar to klines having the same parameters and
        response.

        `uiKlines` return modified kline data, optimized for presentation of
        candlestick charts.

        Weight(IP): 2

        Security Type: NONE

        Notes:
        **Data Source:** Database

        - If `startTime` and `endTime` are not sent, the most recent klines are returned.
        - Supported values for `timeZone`:
          - Hours and minutes (e.g. `-1:00`, `05:45`)
          - Only hours (e.g. `0`, `8`, `4`)
          - Accepted range is strictly [-12:00 to +14:00] inclusive
        - If `timeZone` provided, kline intervals are interpreted in that timezone instead of UTC.
        - Note that `startTime` and `endTime` are always interpreted in UTC, regardless of `timeZone`.

                Args:
                    symbol (Union[str, None]):
                    interval (Union[UiKlinesIntervalEnum, None]):
                    start_time (Optional[int] = None):
                    end_time (Optional[int] = None):
                    time_zone (Optional[str] = None): Default: 0 (UTC)
                    limit (Optional[int] = None):

                Returns:
                    ApiResponse[UiKlinesResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if symbol is None:
            raise RequiredError(
                field="symbol", error_message="Missing required parameter 'symbol'"
            )
        if interval is None:
            raise RequiredError(
                field="interval", error_message="Missing required parameter 'interval'"
            )

        body = {}
        payload = {
            "symbol": symbol,
            "interval": interval,
            "start_time": start_time,
            "end_time": end_time,
            "time_zone": time_zone,
            "limit": limit,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v3/uiKlines",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=UiKlinesResponse,
        )
