"""
Dual Investment REST API

Query products, request quotes, and subscribe to Advanced Earn Dual Investment strategies. The auto-compound setting is no longer managed via API — it must be toggled by the user in the Binance Web UI.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import Optional, Union
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.errors import RequiredError
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import CheckDualInvestmentAccountsResponse
from ..models import GetDualInvestmentPositionsResponse
from ..models import SubscribeDualInvestmentProductsResponse
from ..models import GetDualInvestmentPositionsStatusEnum


class TradeApi:
    """API Client for TradeApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def check_dual_investment_accounts(
        self,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[CheckDualInvestmentAccountsResponse]:
        """
                Check Dual Investment accounts (USER_DATA)
                GET /sapi/v1/dci/product/accounts
                https://developers.binance.com/en/docs/catalog/investment-and-services-dual-investment/api/rest-api/trade#check-dual-investment-accounts

                Check Dual Investment accounts

        Weight(IP): 1

        Security Type: USER_DATA

                Args:
                    recv_window (Optional[int] = None): Request validity window in milliseconds

                Returns:
                    ApiResponse[CheckDualInvestmentAccountsResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        request_body = {}
        payload = {"recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/dci/product/accounts",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=CheckDualInvestmentAccountsResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_dual_investment_positions(
        self,
        status: Optional[GetDualInvestmentPositionsStatusEnum] = None,
        page_size: Optional[int] = None,
        page_index: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetDualInvestmentPositionsResponse]:
        """
                Get Dual Investment positions (USER_DATA)
                GET /sapi/v1/dci/product/positions
                https://developers.binance.com/en/docs/catalog/investment-and-services-dual-investment/api/rest-api/trade#get-dual-investment-positions

                Get Dual Investment positions (batch)

        Weight(IP): 1

        Security Type: USER_DATA

                Args:
                    status (Optional[GetDualInvestmentPositionsStatusEnum] = None): `PENDING`: Products are purchasing, will give results later; `PURCHASE_SUCCESS`: purchase successfully;
        `SETTLED`: Products are finish settling; `PURCHASE_FAIL`: fail to purchase; `REFUNDING`: refund ongoing;
        `REFUND_SUCCESS`: refund to spot account successfully; `SETTLING`: Products are settling. If don't fill this
        field, will response all the position status.
                    page_size (Optional[int] = None): Number of records per page
                    page_index (Optional[int] = None): Page index
                    recv_window (Optional[int] = None): Request validity window in milliseconds

                Returns:
                    ApiResponse[GetDualInvestmentPositionsResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        request_body = {}
        payload = {
            "status": status,
            "page_size": page_size,
            "page_index": page_index,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/dci/product/positions",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=GetDualInvestmentPositionsResponse,
            is_signed=True,
            signer=self._signer,
        )

    def subscribe_dual_investment_products(
        self,
        id: Union[str, None],
        order_id: Union[str, None],
        deposit_amount: Union[float, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[SubscribeDualInvestmentProductsResponse]:
        """
                Subscribe Dual Investment products (USER_DATA)
                POST /sapi/v1/dci/product/subscribe
                https://developers.binance.com/en/docs/catalog/investment-and-services-dual-investment/api/rest-api/trade#subscribe-dual-investment-products

                Subscribe Dual Investment products

        Weight(IP): 1

        Security Type: USER_DATA

        Notes:
        - Failed messages:
          - Products are not available. This means APR changed to a lower value, or the order is unavailable.
          - Failed. This means system or network errors.

                Args:
                    id (Union[str, None]): get id from `/sapi/v1/dci/product/list`
                    order_id (Union[str, None]): get orderId from `/sapi/v1/dci/product/list`
                    deposit_amount (Union[float, None]): the amount for subscribing
                    recv_window (Optional[int] = None): Request validity window in milliseconds

                Returns:
                    ApiResponse[SubscribeDualInvestmentProductsResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if id is None:
            raise RequiredError(
                field="id", error_message="Missing required parameter 'id'"
            )
        if order_id is None:
            raise RequiredError(
                field="order_id", error_message="Missing required parameter 'order_id'"
            )
        if deposit_amount is None:
            raise RequiredError(
                field="deposit_amount",
                error_message="Missing required parameter 'deposit_amount'",
            )

        request_body = {}
        payload = {
            "id": id,
            "order_id": order_id,
            "deposit_amount": deposit_amount,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/dci/product/subscribe",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=SubscribeDualInvestmentProductsResponse,
            is_signed=True,
            signer=self._signer,
        )
