"""
Fiat REST API

Query Binance fiat deposit and withdrawal history.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import Optional, Union
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.errors import RequiredError
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import DepositResponse
from ..models import FiatWithdrawResponse
from ..models import GetFiatDepositWithdrawHistoryResponse
from ..models import GetFiatPaymentsHistoryResponse
from ..models import GetOrderDetailResponse


from ..models import FiatWithdrawRequestAccountInfo


from ..models import DepositApiPaymentMethodEnum
from ..models import FiatWithdrawApiPaymentMethodEnum


class DefaultApi:
    """API Client for DefaultApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def deposit(
        self,
        currency: Union[str, None],
        api_payment_method: Union[DepositApiPaymentMethodEnum, None],
        amount: Union[str, None],
        recv_window: Optional[int] = None,
        ext: Optional[object] = None,
    ) -> ApiResponse[DepositResponse]:
        """
                Deposit (TRADE)
                POST /sapi/v1/fiat/deposit
                https://developers.binance.com/en/docs/catalog/investment-and-services-fiat/api/rest-api/~#deposit

                Submit deposit request, in this version, we only support BRL deposit via pix.

        For BRL deposit via pix, you need to place an order before making a transfer from your bank.

        Before calling this api, please make sure you have already completed your KYC or KYB, and already activated your
        fiat service on our website.

        Weight(UID): 45000

        Security Type: TRADE

        Notes:
        - `timestamp`, `signature` and `recvWindow` are sent as query-string parameters, while the business fields (`currency`, `apiPaymentMethod`, `amount`, `ext`) are sent in the JSON request body with `Content-Type: application/json`.

                Args:
                    currency (Union[str, None]):
                    api_payment_method (Union[DepositApiPaymentMethodEnum, None]): payment method; current supported: pix
                    amount (Union[str, None]): deposit amount
                    recv_window (Optional[int] = None): Request validity window in milliseconds
                    ext (Optional[object] = None):

                Returns:
                    ApiResponse[DepositResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if currency is None:
            raise RequiredError(
                field="currency", error_message="Missing required parameter 'currency'"
            )
        if api_payment_method is None:
            raise RequiredError(
                field="api_payment_method",
                error_message="Missing required parameter 'api_payment_method'",
            )
        if amount is None:
            raise RequiredError(
                field="amount", error_message="Missing required parameter 'amount'"
            )

        body = {}
        payload = {
            "currency": currency,
            "api_payment_method": api_payment_method,
            "amount": amount,
            "recv_window": recv_window,
            "ext": ext,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/fiat/deposit",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=DepositResponse,
            is_signed=True,
            signer=self._signer,
        )

    def fiat_withdraw(
        self,
        currency: Union[str, None],
        api_payment_method: Union[FiatWithdrawApiPaymentMethodEnum, None],
        amount: Union[int, None],
        account_info: Union[FiatWithdrawRequestAccountInfo, None],
        recv_window: Optional[int] = None,
        ext: Optional[object] = None,
    ) -> ApiResponse[FiatWithdrawResponse]:
        """
                Fiat Withdraw (TRADE)
                POST /sapi/v2/fiat/withdraw
                https://developers.binance.com/en/docs/catalog/investment-and-services-fiat/api/rest-api/~#fiat-withdraw

                Submit withdraw request, in this version, we support BRL,ARS,MXN withdrawal via bank_transfer.

        You need to call this api first, and call query order detail api in a loop to get the status of the order until
        this order is successful.

        Before calling this api, please make sure you have already completed your KYC or KYB, and already activated your
        fiat service on our website.

        Weight(UID): 45000

        Security Type: TRADE

                Args:
                    currency (Union[str, None]): Fiat currency, such as BRL, ARS, MXN
                    api_payment_method (Union[FiatWithdrawApiPaymentMethodEnum, None]): payment method; current supported: bank_transfer
                    amount (Union[int, None]): withdraw amount
                    account_info (Union[FiatWithdrawRequestAccountInfo, None]):
                    recv_window (Optional[int] = None): Request validity window in milliseconds
                    ext (Optional[object] = None):

                Returns:
                    ApiResponse[FiatWithdrawResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if currency is None:
            raise RequiredError(
                field="currency", error_message="Missing required parameter 'currency'"
            )
        if api_payment_method is None:
            raise RequiredError(
                field="api_payment_method",
                error_message="Missing required parameter 'api_payment_method'",
            )
        if amount is None:
            raise RequiredError(
                field="amount", error_message="Missing required parameter 'amount'"
            )
        if account_info is None:
            raise RequiredError(
                field="account_info",
                error_message="Missing required parameter 'account_info'",
            )

        body = {}
        payload = {
            "currency": currency,
            "api_payment_method": api_payment_method,
            "amount": amount,
            "account_info": account_info,
            "recv_window": recv_window,
            "ext": ext,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v2/fiat/withdraw",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=FiatWithdrawResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_fiat_deposit_withdraw_history(
        self,
        transaction_type: Union[str, None],
        begin_time: Optional[int] = None,
        end_time: Optional[int] = None,
        page: Optional[int] = None,
        rows: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetFiatDepositWithdrawHistoryResponse]:
        """
                Get Fiat Deposit/Withdraw History (USER_DATA)
                GET /sapi/v1/fiat/orders
                https://developers.binance.com/en/docs/catalog/investment-and-services-fiat/api/rest-api/~#get-fiat-deposit-withdraw-history

                Get Fiat Deposit/Withdraw History

        Weight(UID): 45000

        Security Type: USER_DATA

        Notes:
        - If `beginTime` and `endTime` are not sent, recent 30-day data is returned.

                Args:
                    transaction_type (Union[str, None]): 0: deposit, 1: withdraw
                    begin_time (Optional[int] = None):
                    end_time (Optional[int] = None):
                    page (Optional[int] = None):
                    rows (Optional[int] = None):
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[GetFiatDepositWithdrawHistoryResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if transaction_type is None:
            raise RequiredError(
                field="transaction_type",
                error_message="Missing required parameter 'transaction_type'",
            )

        body = {}
        payload = {
            "transaction_type": transaction_type,
            "begin_time": begin_time,
            "end_time": end_time,
            "page": page,
            "rows": rows,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/fiat/orders",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetFiatDepositWithdrawHistoryResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_fiat_payments_history(
        self,
        transaction_type: Union[str, None],
        begin_time: Optional[int] = None,
        end_time: Optional[int] = None,
        page: Optional[int] = None,
        rows: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetFiatPaymentsHistoryResponse]:
        """
                Get Fiat Payments History (USER_DATA)
                GET /sapi/v1/fiat/payments
                https://developers.binance.com/en/docs/catalog/investment-and-services-fiat/api/rest-api/~#get-fiat-payments-history

                Get Fiat Payments History

        Weight(IP): 1

        Security Type: USER_DATA

        Notes:
        - If `beginTime` and `endTime` are not sent, recent 30-day data is returned.
        - `paymentMethod` is returned only when querying buy history (`transactionType=0`).
        - Supported payment methods: `Cash Balance`, `Credit Card`, `Online Banking`, `Bank Transfer`.

                Args:
                    transaction_type (Union[str, None]): 0: buy, 1: sell
                    begin_time (Optional[int] = None):
                    end_time (Optional[int] = None):
                    page (Optional[int] = None):
                    rows (Optional[int] = None):
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[GetFiatPaymentsHistoryResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if transaction_type is None:
            raise RequiredError(
                field="transaction_type",
                error_message="Missing required parameter 'transaction_type'",
            )

        body = {}
        payload = {
            "transaction_type": transaction_type,
            "begin_time": begin_time,
            "end_time": end_time,
            "page": page,
            "rows": rows,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/fiat/payments",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetFiatPaymentsHistoryResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_order_detail(
        self,
        order_no: Union[str, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetOrderDetailResponse]:
        """
                Get Order Detail (USER_DATA)
                GET /sapi/v1/fiat/get-order-detail
                https://developers.binance.com/en/docs/catalog/investment-and-services-fiat/api/rest-api/~#get-order-detail

                Get Order Detail

        Before calling this api, please make sure you have already completed your KYC or KYB, and already activated your
        fiat service on our website.

        Weight(IP): 1

        Security Type: USER_DATA

                Args:
                    order_no (Union[str, None]): Order ID retrieved from the withdrawal API
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[GetOrderDetailResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if order_no is None:
            raise RequiredError(
                field="order_no", error_message="Missing required parameter 'order_no'"
            )

        body = {}
        payload = {"order_no": order_no, "recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/fiat/get-order-detail",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetOrderDetailResponse,
            is_signed=True,
            signer=self._signer,
        )
