"""
Prediction Trading REST API

Place and manage prediction market orders, query positions, and transfer funds via the Prediction Trading REST API.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import List, Optional, Union
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.errors import RequiredError
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import CreateOtcBlocktradeResponse
from ..models import FulfilOtcBlocktradeResponse
from ..models import GetOtcBlocktradeDetailResponse
from ..models import GetOtcBlocktradeEventsResponse
from ..models import GetOtcReservedBalancesResponse
from ..models import ListOtcBlocktradesResponse
from ..models import PreviewOtcBlocktradeResponse
from ..models import RemoveOtcBlocktradesResponse
from ..models import GetOtcReservedBalancesAssetsParameterInner
from ..models import CreateOtcBlocktradeSideEnum
from ..models import ListOtcBlocktradesStatusEnum


class OtcApi:
    """API Client for OtcApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def create_otc_blocktrade(
        self,
        market_id: Union[str, None],
        token_id: Union[str, None],
        side: Union[CreateOtcBlocktradeSideEnum, None],
        maker_amount: Union[str, None],
        taker_amount: Union[str, None],
        price_per_share: Union[str, None],
        expiration: Union[int, None],
    ) -> ApiResponse[CreateOtcBlocktradeResponse]:
        """
                Create OTC Blocktrade (PREDICTION_TRADE)
                POST /sapi/v1/w3w/wallet/prediction/otc/blocktrade/create
                https://developers.binance.com/en/docs/catalog/web3-wallet-prediction-trading/api/rest-api/otc#create-otc-blocktrade

                Create an OTC blocktrade as the maker (BID to buy outcome shares with USDT, or ASK to sell outcome shares for USDT). The maker wallet is resolved server-side by `userId`; signing is done server-side via SAS `typedDataSign`. Returns `orderId` and a one-time `secretToken` to share out-of-band with the intended taker.

        Weight(IP): 200

        Security Type: PREDICTION_TRADE

        Notes:
        - Restricted to authorized market makers. Requests from unauthorized accounts are rejected — contact BD to request access.
        - Side & Amount Rules:

          | side   | makerAmount   | takerAmount   |
          | ------ | ------------- | ------------- |
          | `BUY`  | USDT (wei)    | shares (wei)  |
          | `SELL` | shares (wei)  | USDT (wei)    |
        - "Note on `side` encoding: this request uses a string enum (`BUY`/`SELL`). Responses from Get Blocktrade Detail / Preview / List return `side` as an integer and also include a `quoteType` string — both encode the same concept."

          | Request `side` | Response `side` (Integer) | Response `quoteType` |
          | --------------- | -------------------------- | ---------------------- |
          | `BUY`           | `0`                         | `"Bid"`                |
          | `SELL`          | `1`                         | `"Ask"`                |

                Args:
                    market_id (Union[str, None]): PredictFun market id
                    token_id (Union[str, None]): ERC-1155 outcome token id
                    side (Union[CreateOtcBlocktradeSideEnum, None]): Trade side. Enum: `BUY` (BID), `SELL` (ASK)
                    maker_amount (Union[str, None]): Maker amount in wei. BID：USDT; ASK：shares
                    taker_amount (Union[str, None]): Taker amount in wei. BID：shares; ASK：USDT
                    price_per_share (Union[str, None]): Price per share (decimal ether, e.g. `0.65`)
                    expiration (Union[int, None]): Expiration timestamp in seconds (GTD order)

                Returns:
                    ApiResponse[CreateOtcBlocktradeResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if market_id is None:
            raise RequiredError(
                field="market_id",
                error_message="Missing required parameter 'market_id'",
            )
        if token_id is None:
            raise RequiredError(
                field="token_id", error_message="Missing required parameter 'token_id'"
            )
        if side is None:
            raise RequiredError(
                field="side", error_message="Missing required parameter 'side'"
            )
        if maker_amount is None:
            raise RequiredError(
                field="maker_amount",
                error_message="Missing required parameter 'maker_amount'",
            )
        if taker_amount is None:
            raise RequiredError(
                field="taker_amount",
                error_message="Missing required parameter 'taker_amount'",
            )
        if price_per_share is None:
            raise RequiredError(
                field="price_per_share",
                error_message="Missing required parameter 'price_per_share'",
            )
        if expiration is None:
            raise RequiredError(
                field="expiration",
                error_message="Missing required parameter 'expiration'",
            )

        body = {}
        payload = {
            "market_id": market_id,
            "token_id": token_id,
            "side": side,
            "maker_amount": maker_amount,
            "taker_amount": taker_amount,
            "price_per_share": price_per_share,
            "expiration": expiration,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/w3w/wallet/prediction/otc/blocktrade/create",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=CreateOtcBlocktradeResponse,
            is_signed=True,
            signer=self._signer,
        )

    def fulfil_otc_blocktrade(
        self,
        order_id: Union[str, None],
        secret_token: Union[str, None],
    ) -> ApiResponse[FulfilOtcBlocktradeResponse]:
        """
                Fulfil OTC Blocktrade (PREDICTION_TRADE)
                POST /sapi/v1/w3w/wallet/prediction/otc/blocktrade/fulfil
                https://developers.binance.com/en/docs/catalog/web3-wallet-prediction-trading/api/rest-api/otc#fulfil-otc-blocktrade

                Fulfil an open maker blocktrade as the taker, using the `secretToken` the maker shared out-of-band. All-or-nothing fill (no partial fill); the taker order is the server-derived symmetric inverse of the maker order.

        Weight(IP): 200

        Security Type: PREDICTION_TRADE

        Notes:
        - Restricted to authorized market makers. Requests from unauthorized accounts are rejected — contact BD to request access.

                Args:
                    order_id (Union[str, None]): Maker order id (returned by maker create)
                    secret_token (Union[str, None]): One-time fulfilment token the maker shared out-of-band

                Returns:
                    ApiResponse[FulfilOtcBlocktradeResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if order_id is None:
            raise RequiredError(
                field="order_id", error_message="Missing required parameter 'order_id'"
            )
        if secret_token is None:
            raise RequiredError(
                field="secret_token",
                error_message="Missing required parameter 'secret_token'",
            )

        body = {}
        payload = {"order_id": order_id, "secret_token": secret_token}

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/w3w/wallet/prediction/otc/blocktrade/fulfil",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=FulfilOtcBlocktradeResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_otc_blocktrade_detail(
        self,
        order_id: Union[str, None],
    ) -> ApiResponse[GetOtcBlocktradeDetailResponse]:
        """
                Get OTC Blocktrade Detail (PREDICTION_TRADE)
                POST /sapi/v1/w3w/wallet/prediction/otc/blocktrade/detail
                https://developers.binance.com/en/docs/catalog/web3-wallet-prediction-trading/api/rest-api/otc#get-otc-blocktrade-detail

                Query the maker's own blocktrade by `orderId`. Returns full order data including status and `secretToken`.

        Weight(IP): 200

        Security Type: PREDICTION_TRADE

        Notes:
        - Restricted to authorized market makers. Requests from unauthorized accounts are rejected — contact BD to request access.

                Args:
                    order_id (Union[str, None]): Maker order id (returned by create)

                Returns:
                    ApiResponse[GetOtcBlocktradeDetailResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if order_id is None:
            raise RequiredError(
                field="order_id", error_message="Missing required parameter 'order_id'"
            )

        body = {}
        payload = {"order_id": order_id}

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/w3w/wallet/prediction/otc/blocktrade/detail",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetOtcBlocktradeDetailResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_otc_blocktrade_events(
        self,
        first: Optional[int] = None,
        after: Optional[str] = None,
        event_types: Optional[List[str]] = None,
        market_id: Optional[int] = None,
    ) -> ApiResponse[GetOtcBlocktradeEventsResponse]:
        """
                Get OTC Blocktrade Events (PREDICTION_TRADE)
                POST /sapi/v1/w3w/wallet/prediction/otc/blocktrade/events
                https://developers.binance.com/en/docs/catalog/web3-wallet-prediction-trading/api/rest-api/otc#get-otc-blocktrade-events

                Paginated feed of blocktrade lifecycle and settlement events (CREATE, FULFIL, MATCH_SUBMIT, MATCH_SUCCESS, EXPIRE, FAILED, etc.).

        Weight(IP): 200

        Security Type: PREDICTION_TRADE

        Notes:
        - Restricted to authorized market makers. Requests from unauthorized accounts are rejected — contact BD to request access.

                Args:
                    first (Optional[int] = None): Page size
                    after (Optional[str] = None): Pagination cursor
                    event_types (Optional[List[str]] = None): Filter by event types (e.g. `["MATCH_SUCCESS","EXPIRE"]`)
                    market_id (Optional[int] = None): Filter by market id

                Returns:
                    ApiResponse[GetOtcBlocktradeEventsResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "first": first,
            "after": after,
            "event_types": event_types,
            "market_id": market_id,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/w3w/wallet/prediction/otc/blocktrade/events",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetOtcBlocktradeEventsResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_otc_reserved_balances(
        self,
        assets: Union[List[GetOtcReservedBalancesAssetsParameterInner], None],
    ) -> ApiResponse[GetOtcReservedBalancesResponse]:
        """
                Get OTC Reserved Balances (PREDICTION_TRADE)
                POST /sapi/v1/w3w/wallet/prediction/otc/blocktrade/reserved-balances
                https://developers.binance.com/en/docs/catalog/web3-wallet-prediction-trading/api/rest-api/otc#get-otc-reserved-balances

                Query PredictFun reserved balances for the caller's bound wallet — these are funds locked by the caller's open OTC blocktrade orders (maker BID locks USDT, maker ASK locks shares). Not tied to a specific blocktrade id; the path nesting under `otc/blocktrade` reflects the cause of the lock, not a per-order query. Returns one entry per requested asset, aligned with the request order. Pass `{type:"USDT"}` for reserved USDT, or `{type:"SHARE", tokenId:"..."}` for a specific outcome token's reserved shares.

        Weight(IP): 200

        Security Type: PREDICTION_TRADE

        Notes:
        - Restricted to authorized market makers. Requests from unauthorized accounts are rejected — contact BD to request access.
        - AssetQuery:

          | Name    | Type   | Mandatory | Description |
          | ------- | ------ | --------- | ----------- |
          | type    | STRING | YES       | Asset type. Enum: `USDT`, `SHARE` |
          | tokenId | STRING | NO        | Outcome token id (present for `SHARE` entries only) |

                Args:
                    assets (Union[List[GetOtcReservedBalancesAssetsParameterInner], None]): Assets to query (max 50)

                Returns:
                    ApiResponse[GetOtcReservedBalancesResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if assets is None:
            raise RequiredError(
                field="assets", error_message="Missing required parameter 'assets'"
            )

        body = {}
        payload = {"assets": assets}

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/w3w/wallet/prediction/otc/blocktrade/reserved-balances",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetOtcReservedBalancesResponse,
            is_signed=True,
            signer=self._signer,
        )

    def list_otc_blocktrades(
        self,
        first: Optional[int] = None,
        after: Optional[str] = None,
        status: Optional[ListOtcBlocktradesStatusEnum] = None,
    ) -> ApiResponse[ListOtcBlocktradesResponse]:
        """
                List OTC Blocktrades (PREDICTION_TRADE)
                POST /sapi/v1/w3w/wallet/prediction/otc/blocktrade/list
                https://developers.binance.com/en/docs/catalog/web3-wallet-prediction-trading/api/rest-api/otc#list-otc-blocktrades

                List the maker's own blocktrades with optional status filter and cursor pagination.

        Weight(IP): 200

        Security Type: PREDICTION_TRADE

        Notes:
        - Restricted to authorized market makers. Requests from unauthorized accounts are rejected — contact BD to request access.

                Args:
                    first (Optional[int] = None): Page size
                    after (Optional[str] = None): Pagination cursor (from previous response)
                    status (Optional[ListOtcBlocktradesStatusEnum] = None): Filter by status. Enum: `OPEN`, `FULFILLED`, `MATCHED`, `CANCELLED`, `EXPIRED`, `FAILED`

                Returns:
                    ApiResponse[ListOtcBlocktradesResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"first": first, "after": after, "status": status}

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/w3w/wallet/prediction/otc/blocktrade/list",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=ListOtcBlocktradesResponse,
            is_signed=True,
            signer=self._signer,
        )

    def preview_otc_blocktrade(
        self,
        secret_token: Union[str, None],
    ) -> ApiResponse[PreviewOtcBlocktradeResponse]:
        """
                Preview OTC Blocktrade (PREDICTION_TRADE)
                POST /sapi/v1/w3w/wallet/prediction/otc/blocktrade/preview
                https://developers.binance.com/en/docs/catalog/web3-wallet-prediction-trading/api/rest-api/otc#preview-otc-blocktrade

                Inspect an open blocktrade by `secretToken` (no `orderId` needed). Taker uses this to preview the maker order before fulfilling. Returns the same shape as `Get Blocktrade Detail`, but `orderId` is `null` and `secretToken` is never returned from this endpoint.

        Weight(IP): 200

        Security Type: PREDICTION_TRADE

        Notes:
        - Restricted to authorized market makers. Requests from unauthorized accounts are rejected — contact BD to request access.

                Args:
                    secret_token (Union[str, None]): One-time fulfilment token the maker shared out-of-band

                Returns:
                    ApiResponse[PreviewOtcBlocktradeResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if secret_token is None:
            raise RequiredError(
                field="secret_token",
                error_message="Missing required parameter 'secret_token'",
            )

        body = {}
        payload = {"secret_token": secret_token}

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/w3w/wallet/prediction/otc/blocktrade/preview",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=PreviewOtcBlocktradeResponse,
            is_signed=True,
            signer=self._signer,
        )

    def remove_otc_blocktrades(
        self,
        order_ids: Union[List[str], None],
    ) -> ApiResponse[RemoveOtcBlocktradesResponse]:
        """
                Remove OTC Blocktrades (PREDICTION_TRADE)
                POST /sapi/v1/w3w/wallet/prediction/otc/blocktrade/remove
                https://developers.binance.com/en/docs/catalog/web3-wallet-prediction-trading/api/rest-api/otc#remove-otc-blocktrades

                Cancel open or fulfilled-but-unsettled blocktrades. Terminal orders (already `MATCHED`/`CANCELLED`/`EXPIRED`/`FAILED`) are returned in `noop` instead of `removed`.

        Weight(IP): 200

        Security Type: PREDICTION_TRADE

        Notes:
        - Restricted to authorized market makers. Requests from unauthorized accounts are rejected — contact BD to request access.

                Args:
                    order_ids (Union[List[str], None]): Order ids to remove (max 100). Must be the `orderId` returned by Create OTC Blocktrade

                Returns:
                    ApiResponse[RemoveOtcBlocktradesResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if order_ids is None:
            raise RequiredError(
                field="order_ids",
                error_message="Missing required parameter 'order_ids'",
            )

        body = {}
        payload = {"order_ids": order_ids}

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/w3w/wallet/prediction/otc/blocktrade/remove",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=RemoveOtcBlocktradesResponse,
            is_signed=True,
            signer=self._signer,
        )
