"""
Prediction Trading REST API

Place and manage prediction market orders, query positions, and transfer funds via the Prediction Trading REST API.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import List, Optional, Union
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.errors import RequiredError
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import BatchRedeemResponse
from ..models import GetRedeemStatusResponse


class RedeemApi:
    """API Client for RedeemApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def batch_redeem(
        self,
        wallet_address: Union[str, None],
        wallet_id: Union[str, None],
        token_ids: Union[List[str], None],
        chain_id: Optional[str] = None,
    ) -> ApiResponse[BatchRedeemResponse]:
        """
                Batch Redeem
                POST /sapi/v1/w3w/wallet/prediction/batch-redeem
                https://developers.binance.com/en/dev-docs/catalog/web3-wallet-prediction-trading/api/rest-api/redeem#batch-redeem

                Redeem one or more settled prediction tokens on-chain to claim winnings. Requires SAS authorization.

        Weight(IP): 200

        Security Type: TRADE

                Args:
                    wallet_address (Union[str, None]): User's prediction wallet address
                    wallet_id (Union[str, None]): Wallet ID
                    token_ids (Union[List[str], None]): List of prediction token IDs to redeem. Not empty. Example: `tokenIds=112233&tokenIds=112234`
                    chain_id (Optional[str] = None): Chain ID. Default `56` (BSC)

                Returns:
                    ApiResponse[BatchRedeemResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if wallet_address is None:
            raise RequiredError(
                field="wallet_address",
                error_message="Missing required parameter 'wallet_address'",
            )
        if wallet_id is None:
            raise RequiredError(
                field="wallet_id",
                error_message="Missing required parameter 'wallet_id'",
            )
        if token_ids is None:
            raise RequiredError(
                field="token_ids",
                error_message="Missing required parameter 'token_ids'",
            )

        body = {}
        payload = {
            "wallet_address": wallet_address,
            "wallet_id": wallet_id,
            "token_ids": token_ids,
            "chain_id": chain_id,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/w3w/wallet/prediction/batch-redeem",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=BatchRedeemResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_redeem_status(
        self,
        wallet_address: Union[str, None],
        tx_hash: Union[str, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetRedeemStatusResponse]:
        """
                Get Redeem Status
                GET /sapi/v1/w3w/wallet/prediction/redeem/status
                https://developers.binance.com/en/dev-docs/catalog/web3-wallet-prediction-trading/api/rest-api/redeem#get-redeem-status

                Query the on-chain transaction status of a previously submitted redeem request.

        Weight(IP): 200

        Security Type: USER_DATA

        Response Notes:
        - Status values:

          | Value       | Description                                  |
          | ----------- | -------------------------------------------- |
          | `PENDING`   | Transaction submitted, awaiting confirmation |
          | `CONFIRMED` | Transaction confirmed on-chain               |
          | `FAILED`    | Transaction failed                           |
          | `NOT_FOUND` | Transaction hash not found                   |

                Args:
                    wallet_address (Union[str, None]): User's prediction wallet address
                    tx_hash (Union[str, None]): Redeem transaction hash
                    recv_window (Optional[int] = None): Request validity window in milliseconds

                Returns:
                    ApiResponse[GetRedeemStatusResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if wallet_address is None:
            raise RequiredError(
                field="wallet_address",
                error_message="Missing required parameter 'wallet_address'",
            )
        if tx_hash is None:
            raise RequiredError(
                field="tx_hash", error_message="Missing required parameter 'tx_hash'"
            )

        body = {}
        payload = {
            "wallet_address": wallet_address,
            "tx_hash": tx_hash,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/w3w/wallet/prediction/redeem/status",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetRedeemStatusResponse,
            is_signed=True,
            signer=self._signer,
        )
