"""
Prediction Trading REST API

Place and manage prediction market orders, query positions, and transfer funds via the Prediction Trading REST API.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import List, Optional, Union
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.errors import RequiredError
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import BatchCancelOrdersResponse
from ..models import GetQuoteResponse
from ..models import PlaceOrderResponse
from ..models import QueryActiveOrdersResponse
from ..models import QueryOrderHistoryResponse


from ..models import BatchCancelOrdersCancelInfoListParameterInner


from ..models import GetQuoteSideEnum
from ..models import GetQuoteOrderTypeEnum
from ..models import GetQuoteFundingSourceEnum
from ..models import PlaceOrderAccountTypeEnum
from ..models import PlaceOrderOrderTypeEnum
from ..models import PlaceOrderFundingSourceEnum
from ..models import QueryActiveOrdersTradeSideEnum
from ..models import QueryOrderHistoryOrderTypeEnum


class TradeApi:
    """API Client for TradeApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def batch_cancel_orders(
        self,
        wallet_address: Union[str, None],
        wallet_id: Union[str, None],
        cancel_info_list: Optional[
            List[BatchCancelOrdersCancelInfoListParameterInner]
        ] = None,
    ) -> ApiResponse[BatchCancelOrdersResponse]:
        """
                Batch Cancel Orders (TRADE)
                POST /sapi/v1/w3w/wallet/prediction/trade/batch-cancel
                https://developers.binance.com/en/docs/catalog/web3-wallet-prediction-trading/api/rest-api/trade#batch-cancel-orders

                Cancel one or more active prediction orders in a single request. Requires SAS authorization.

        **Known Issue — Bracket Encoding Incompatibility:**
        This endpoint uses indexed bracket notation (`cancelInfoList[0].orderId`). Binance SAPI signature verification runs over the **raw, unencoded** canonical string. However, mainstream HTTP libraries (Python `requests`, Java `HttpURLConnection`/`URI`, Go `net/url`, Node.js `url`) automatically percent-encode `[` → `%5B` and `]` → `%5D`, producing a signature mismatch with error `-1022 Signature for this request is not valid`. Postman is unaffected because it does not encode keys.

        **Workarounds** (use low-level HTTP APIs that do not normalize URLs):
        - **Python:** use `http.client` (stdlib) and hand-build the body string.
        - **Java:** use `HttpURLConnection` and write the raw body bytes directly.
        - **Go:** use `strings.NewReader` with a hand-built body instead of `url.Values.Encode()`.

        Weight(IP): 200

        Security Type: TRADE

        Notes:
        - Use dot notation for nested list fields: `cancelInfoList[0].orderId`, `cancelInfoList[1].orderId`, etc.
        - `vendor` does not need to be supplied. The server automatically sets the correct vendor (`predict_fun`) for every item in the batch.

                Args:
                    wallet_address (Union[str, None]): User's prediction wallet address
                    wallet_id (Union[str, None]): Wallet ID
                    cancel_info_list (Optional[List[BatchCancelOrdersCancelInfoListParameterInner]] = None): List of orders to cancel (index `i` starts from 0)

                Returns:
                    ApiResponse[BatchCancelOrdersResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if wallet_address is None:
            raise RequiredError(
                field="wallet_address",
                error_message="Missing required parameter 'wallet_address'",
            )
        if wallet_id is None:
            raise RequiredError(
                field="wallet_id",
                error_message="Missing required parameter 'wallet_id'",
            )

        body = {}
        payload = {
            "wallet_address": wallet_address,
            "wallet_id": wallet_id,
            "cancel_info_list": cancel_info_list,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/w3w/wallet/prediction/trade/batch-cancel",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=BatchCancelOrdersResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_quote(
        self,
        wallet_address: Union[str, None],
        token_id: Union[str, None],
        side: Union[GetQuoteSideEnum, None],
        amount_in: Union[str, None],
        order_type: Union[GetQuoteOrderTypeEnum, None],
        slippage_bps: Union[int, None],
        price_limit: Optional[str] = None,
        chain_id: Optional[str] = None,
        fee_rate_bps: Optional[int] = None,
        funding_source: Optional[GetQuoteFundingSourceEnum] = None,
        fund_transfer_amount: Optional[str] = None,
    ) -> ApiResponse[GetQuoteResponse]:
        """
                Get Quote (TRADE)
                POST /sapi/v1/w3w/wallet/prediction/trade/get-quote
                https://developers.binance.com/en/docs/catalog/web3-wallet-prediction-trading/api/rest-api/trade#get-quote

                Get a price quote for a prediction order. The returned `quoteId` must be used in the subsequent Place Order request.

        Weight(IP): 200

        Security Type: TRADE

        Response Notes:
        - `feeAmount` is a string because it is denominated in wei (18 decimals) and may exceed JavaScript's safe integer range. `feeDiscountBps` is also a string to allow fractional basis-point values in the future. `feeRateBps` and `slippageBps` are integers and will never exceed safe integer bounds.
        - **MARKET order minimum amount:** For `MARKET` orders, `amountIn` must be at least approximately **1.5 USDT** (in wei: `1500000000000000000`). The exact minimum varies by market liquidity. If the amount is too small, the server returns `-9000 Your order amount is too small`. This limit does **not** apply to `LIMIT` orders.

                Args:
                    wallet_address (Union[str, None]): User's prediction wallet address
                    token_id (Union[str, None]): Prediction outcome token ID
                    side (Union[GetQuoteSideEnum, None]): Trade direction. Enum: `BUY`, `SELL`
                    amount_in (Union[str, None]): Input amount in wei (18 decimals). Must be > 0. For `MARKET` orders, minimum is approximately 1.5 USDT (varies by market depth). Example: `1000000000000000000` = 1 USDT
                    order_type (Union[GetQuoteOrderTypeEnum, None]): Order type. Enum: `MARKET`, `LIMIT`
                    slippage_bps (Union[int, None]): Slippage tolerance in basis points. Range 1–10000
                    price_limit (Optional[str] = None): Limit price. Required when `orderType=LIMIT`. Must be > 0
                    chain_id (Optional[str] = None): Chain ID. Default `56` (BSC)
                    fee_rate_bps (Optional[int] = None): Fee rate in basis points. Default `200`, range 1–10000
                    funding_source (Optional[GetQuoteFundingSourceEnum] = None): Funding source. Enum: `MPC`, `CEX`. Default `MPC`
                    fund_transfer_amount (Optional[str] = None): Auto-transfer amount before order (wei). Must be > 0 if provided

                Returns:
                    ApiResponse[GetQuoteResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if wallet_address is None:
            raise RequiredError(
                field="wallet_address",
                error_message="Missing required parameter 'wallet_address'",
            )
        if token_id is None:
            raise RequiredError(
                field="token_id", error_message="Missing required parameter 'token_id'"
            )
        if side is None:
            raise RequiredError(
                field="side", error_message="Missing required parameter 'side'"
            )
        if amount_in is None:
            raise RequiredError(
                field="amount_in",
                error_message="Missing required parameter 'amount_in'",
            )
        if order_type is None:
            raise RequiredError(
                field="order_type",
                error_message="Missing required parameter 'order_type'",
            )
        if slippage_bps is None:
            raise RequiredError(
                field="slippage_bps",
                error_message="Missing required parameter 'slippage_bps'",
            )

        body = {}
        payload = {
            "wallet_address": wallet_address,
            "token_id": token_id,
            "side": side,
            "amount_in": amount_in,
            "order_type": order_type,
            "slippage_bps": slippage_bps,
            "price_limit": price_limit,
            "chain_id": chain_id,
            "fee_rate_bps": fee_rate_bps,
            "funding_source": funding_source,
            "fund_transfer_amount": fund_transfer_amount,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/w3w/wallet/prediction/trade/get-quote",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetQuoteResponse,
            is_signed=True,
            signer=self._signer,
        )

    def place_order(
        self,
        wallet_address: Union[str, None],
        wallet_id: Union[str, None],
        quote_id: Union[str, None],
        time_in_force: Union[str, None],
        account_type: Union[PlaceOrderAccountTypeEnum, None],
        order_type: Union[PlaceOrderOrderTypeEnum, None],
        slippage_bps: Union[int, None],
        price_limit: Optional[str] = None,
        funding_source: Optional[PlaceOrderFundingSourceEnum] = None,
        fund_transfer_amount: Optional[str] = None,
    ) -> ApiResponse[PlaceOrderResponse]:
        """
                Place Order (TRADE)
                POST /sapi/v1/w3w/wallet/prediction/trade/place-order-bundle
                https://developers.binance.com/en/docs/catalog/web3-wallet-prediction-trading/api/rest-api/trade#place-order

                Place a prediction order using a previously obtained quote. Requires SAS authorization.

        Weight(IP): 200

        Security Type: TRADE

        Notes:
        - Validation rules:

          | orderType | timeInForce   | priceLimit            |
          | --------- | ------------- | --------------------- |
          | `MARKET`  | Must be `FOK` | Not required          |
          | `LIMIT`   | Must be `GTC` | Required, must be > 0 |

                Args:
                    wallet_address (Union[str, None]): User's prediction wallet address
                    wallet_id (Union[str, None]): Wallet ID
                    quote_id (Union[str, None]): Quote ID obtained from `Get Quote`
                    time_in_force (Union[str, None]): Must match `orderType`: `FOK` for `MARKET`, `GTC` for `LIMIT`
                    account_type (Union[PlaceOrderAccountTypeEnum, None]): Payment account type. Enum: `SPOT`, `FUNDING`
                    order_type (Union[PlaceOrderOrderTypeEnum, None]): Order type. Enum: `MARKET`, `LIMIT`
                    slippage_bps (Union[int, None]): Slippage tolerance in basis points. Range 1–10000
                    price_limit (Optional[str] = None): Limit price. Required when `orderType=LIMIT`. Must be > 0
                    funding_source (Optional[PlaceOrderFundingSourceEnum] = None): Funding source. Enum: `MPC`, `CEX`. Default `MPC`
                    fund_transfer_amount (Optional[str] = None): Auto-transfer amount before order (wei). Must be > 0 if provided

                Returns:
                    ApiResponse[PlaceOrderResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if wallet_address is None:
            raise RequiredError(
                field="wallet_address",
                error_message="Missing required parameter 'wallet_address'",
            )
        if wallet_id is None:
            raise RequiredError(
                field="wallet_id",
                error_message="Missing required parameter 'wallet_id'",
            )
        if quote_id is None:
            raise RequiredError(
                field="quote_id", error_message="Missing required parameter 'quote_id'"
            )
        if time_in_force is None:
            raise RequiredError(
                field="time_in_force",
                error_message="Missing required parameter 'time_in_force'",
            )
        if account_type is None:
            raise RequiredError(
                field="account_type",
                error_message="Missing required parameter 'account_type'",
            )
        if order_type is None:
            raise RequiredError(
                field="order_type",
                error_message="Missing required parameter 'order_type'",
            )
        if slippage_bps is None:
            raise RequiredError(
                field="slippage_bps",
                error_message="Missing required parameter 'slippage_bps'",
            )

        body = {}
        payload = {
            "wallet_address": wallet_address,
            "wallet_id": wallet_id,
            "quote_id": quote_id,
            "time_in_force": time_in_force,
            "account_type": account_type,
            "order_type": order_type,
            "slippage_bps": slippage_bps,
            "price_limit": price_limit,
            "funding_source": funding_source,
            "fund_transfer_amount": fund_transfer_amount,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/w3w/wallet/prediction/trade/place-order-bundle",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=PlaceOrderResponse,
            is_signed=True,
            signer=self._signer,
        )

    def query_active_orders(
        self,
        wallet_address: Union[str, None],
        trade_side: Optional[QueryActiveOrdersTradeSideEnum] = None,
        l1_category: Optional[str] = None,
        market_id: Optional[int] = None,
        offset: Optional[int] = None,
        limit: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[QueryActiveOrdersResponse]:
        """
                Query Active Orders (USER_DATA)
                GET /sapi/v1/w3w/wallet/prediction/order/list
                https://developers.binance.com/en/docs/catalog/web3-wallet-prediction-trading/api/rest-api/trade#query-active-orders

                Get active (open) prediction orders for the authenticated user.

        Weight(IP): 200

        Security Type: USER_DATA

                Args:
                    wallet_address (Union[str, None]): User's prediction wallet address
                    trade_side (Optional[QueryActiveOrdersTradeSideEnum] = None): Filter by trade side. Enum: `BUY`, `SELL`
                    l1_category (Optional[str] = None): Filter by level-1 category
                    market_id (Optional[int] = None): Filter by market ID
                    offset (Optional[int] = None): Pagination offset. Default `0`
                    limit (Optional[int] = None): Page size. Default `20`, range 1–100
                    recv_window (Optional[int] = None): Request validity window in milliseconds

                Returns:
                    ApiResponse[QueryActiveOrdersResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if wallet_address is None:
            raise RequiredError(
                field="wallet_address",
                error_message="Missing required parameter 'wallet_address'",
            )

        body = {}
        payload = {
            "wallet_address": wallet_address,
            "trade_side": trade_side,
            "l1_category": l1_category,
            "market_id": market_id,
            "offset": offset,
            "limit": limit,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/w3w/wallet/prediction/order/list",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=QueryActiveOrdersResponse,
            is_signed=True,
            signer=self._signer,
        )

    def query_order_history(
        self,
        wallet_address: Union[str, None],
        l1_category: Optional[str] = None,
        order_type: Optional[QueryOrderHistoryOrderTypeEnum] = None,
        status: Optional[str] = None,
        start_date: Optional[str] = None,
        end_date: Optional[str] = None,
        offset: Optional[int] = None,
        limit: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[QueryOrderHistoryResponse]:
        """
                Query Order History (USER_DATA)
                GET /sapi/v1/w3w/wallet/prediction/order/history
                https://developers.binance.com/en/docs/catalog/web3-wallet-prediction-trading/api/rest-api/trade#query-order-history

                Get historical prediction orders (all statuses) for the authenticated user, with optional filters.

        Weight(IP): 200

        Security Type: USER_DATA

                Args:
                    wallet_address (Union[str, None]): User's prediction wallet address
                    l1_category (Optional[str] = None): Filter by level-1 category
                    order_type (Optional[QueryOrderHistoryOrderTypeEnum] = None): Filter by order type. Enum: `MARKET`, `LIMIT`
                    status (Optional[str] = None): Filter by order status
                    start_date (Optional[str] = None): Start date. Format: `yyyy-MM-dd`. Must be ≤ `endDate`
                    end_date (Optional[str] = None): End date. Format: `yyyy-MM-dd`. Must be ≥ `startDate`
                    offset (Optional[int] = None): Pagination offset. Default `0`
                    limit (Optional[int] = None): Page size. Default `20`, range 1–100
                    recv_window (Optional[int] = None): Request validity window in milliseconds

                Returns:
                    ApiResponse[QueryOrderHistoryResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if wallet_address is None:
            raise RequiredError(
                field="wallet_address",
                error_message="Missing required parameter 'wallet_address'",
            )

        body = {}
        payload = {
            "wallet_address": wallet_address,
            "l1_category": l1_category,
            "order_type": order_type,
            "status": status,
            "start_date": start_date,
            "end_date": end_date,
            "offset": offset,
            "limit": limit,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/w3w/wallet/prediction/order/history",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=QueryOrderHistoryResponse,
            is_signed=True,
            signer=self._signer,
        )
