"""
Prediction Trading REST API

Place and manage prediction market orders, query positions, and transfer funds via the Prediction Trading REST API.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import Optional, Union
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.errors import RequiredError
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import CreateInboundTransferResponse
from ..models import CreateOutboundTransferResponse
from ..models import QueryTransferListResponse
from ..models import QueryTransferStatusResponse


from ..models import CreateInboundTransferAccountTypeEnum
from ..models import CreateOutboundTransferAccountTypeEnum
from ..models import CreateOutboundTransferSourceBizEnum
from ..models import QueryTransferListDirectionEnum


class TransferApi:
    """API Client for TransferApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def create_inbound_transfer(
        self,
        wallet_id: Union[str, None],
        wallet_address: Union[str, None],
        from_token_amount: Union[str, None],
        account_type: Union[CreateInboundTransferAccountTypeEnum, None],
        from_token: Optional[str] = None,
        to_token: Optional[str] = None,
        chain_id: Optional[str] = None,
    ) -> ApiResponse[CreateInboundTransferResponse]:
        """
                Create Inbound Transfer (TRADE)
                POST /sapi/v1/w3w/wallet/prediction/transfer/inbound
                https://developers.binance.com/en/docs/catalog/web3-wallet-prediction-trading/api/rest-api/transfer#create-inbound-transfer

                Transfer funds from the prediction wallet back to the user's CEX account (SPOT or FUNDING). Requires SAS authorization.

        ⚠️ **SAS Authorization Required:** This endpoint enforces SAS (Self-Authorization Service) authorization. If SAS is not enabled for the wallet, the request will be rejected with `-31003 SAS authorization required`. Enable SAS for your wallet before calling this endpoint.

        Weight(IP): 200

        Security Type: TRADE

                Args:
                    wallet_id (Union[str, None]): Wallet ID
                    wallet_address (Union[str, None]): User's prediction wallet address
                    from_token_amount (Union[str, None]): Transfer amount in wei (18 decimals). Must be > 0. Example: `1000000000000000000` = 1 USDT
                    account_type (Union[CreateInboundTransferAccountTypeEnum, None]): Destination CEX account. Enum: `SPOT`, `FUNDING`
                    from_token (Optional[str] = None): Source token symbol. Default `USDT`
                    to_token (Optional[str] = None): Destination token symbol. Default `USDT`
                    chain_id (Optional[str] = None): Chain ID. Default `56` (BSC)

                Returns:
                    ApiResponse[CreateInboundTransferResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if wallet_id is None:
            raise RequiredError(
                field="wallet_id",
                error_message="Missing required parameter 'wallet_id'",
            )
        if wallet_address is None:
            raise RequiredError(
                field="wallet_address",
                error_message="Missing required parameter 'wallet_address'",
            )
        if from_token_amount is None:
            raise RequiredError(
                field="from_token_amount",
                error_message="Missing required parameter 'from_token_amount'",
            )
        if account_type is None:
            raise RequiredError(
                field="account_type",
                error_message="Missing required parameter 'account_type'",
            )

        body = {}
        payload = {
            "wallet_id": wallet_id,
            "wallet_address": wallet_address,
            "from_token_amount": from_token_amount,
            "account_type": account_type,
            "from_token": from_token,
            "to_token": to_token,
            "chain_id": chain_id,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/w3w/wallet/prediction/transfer/inbound",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=CreateInboundTransferResponse,
            is_signed=True,
            signer=self._signer,
        )

    def create_outbound_transfer(
        self,
        wallet_id: Union[str, None],
        wallet_address: Union[str, None],
        from_token_amount: Union[str, None],
        account_type: Union[CreateOutboundTransferAccountTypeEnum, None],
        source_biz: Union[CreateOutboundTransferSourceBizEnum, None],
        from_token: Optional[str] = None,
        to_token: Optional[str] = None,
        chain_id: Optional[str] = None,
    ) -> ApiResponse[CreateOutboundTransferResponse]:
        """
                Create Outbound Transfer (TRADE)
                POST /sapi/v1/w3w/wallet/prediction/transfer/outbound
                https://developers.binance.com/en/docs/catalog/web3-wallet-prediction-trading/api/rest-api/transfer#create-outbound-transfer

                Transfer funds from the user's CEX account (SPOT or FUNDING) into the prediction wallet. Requires SAS authorization.

        Weight(IP): 200

        Security Type: TRADE

                Args:
                    wallet_id (Union[str, None]): Wallet ID
                    wallet_address (Union[str, None]): User's prediction wallet address
                    from_token_amount (Union[str, None]): Transfer amount in wei (18 decimals). Must be > 0. Example: `1000000000000000000` = 1 USDT
                    account_type (Union[CreateOutboundTransferAccountTypeEnum, None]): Source CEX account. Enum: `SPOT`, `FUNDING`
                    source_biz (Union[CreateOutboundTransferSourceBizEnum, None]): Business source. Enum: `USER_TRANSFER`, `PREDICTION_BUY`
                    from_token (Optional[str] = None): Source token symbol. Default `USDT`
                    to_token (Optional[str] = None): Destination token symbol. Default `USDT`
                    chain_id (Optional[str] = None): Chain ID. Default `56` (BSC)

                Returns:
                    ApiResponse[CreateOutboundTransferResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if wallet_id is None:
            raise RequiredError(
                field="wallet_id",
                error_message="Missing required parameter 'wallet_id'",
            )
        if wallet_address is None:
            raise RequiredError(
                field="wallet_address",
                error_message="Missing required parameter 'wallet_address'",
            )
        if from_token_amount is None:
            raise RequiredError(
                field="from_token_amount",
                error_message="Missing required parameter 'from_token_amount'",
            )
        if account_type is None:
            raise RequiredError(
                field="account_type",
                error_message="Missing required parameter 'account_type'",
            )
        if source_biz is None:
            raise RequiredError(
                field="source_biz",
                error_message="Missing required parameter 'source_biz'",
            )

        body = {}
        payload = {
            "wallet_id": wallet_id,
            "wallet_address": wallet_address,
            "from_token_amount": from_token_amount,
            "account_type": account_type,
            "source_biz": source_biz,
            "from_token": from_token,
            "to_token": to_token,
            "chain_id": chain_id,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/w3w/wallet/prediction/transfer/outbound",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=CreateOutboundTransferResponse,
            is_signed=True,
            signer=self._signer,
        )

    def query_transfer_list(
        self,
        wallet_address: Union[str, None],
        start_date: Union[str, None],
        end_date: Union[str, None],
        token_symbol: Optional[str] = None,
        direction: Optional[QueryTransferListDirectionEnum] = None,
        offset: Optional[int] = None,
        limit: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[QueryTransferListResponse]:
        """
                Query Transfer List (USER_DATA)
                GET /sapi/v1/w3w/wallet/prediction/transfer/list
                https://developers.binance.com/en/docs/catalog/web3-wallet-prediction-trading/api/rest-api/transfer#query-transfer-list

                Get the authenticated user's prediction wallet transfer history within a date range.

        Weight(IP): 200

        Security Type: USER_DATA

                Args:
                    wallet_address (Union[str, None]): User's prediction wallet address
                    start_date (Union[str, None]): Start date. Format: `yyyy-MM-dd`. Must be ≤ `endDate`
                    end_date (Union[str, None]): End date. Format: `yyyy-MM-dd`. Must be ≥ `startDate`
                    token_symbol (Optional[str] = None): Filter by token symbol (e.g. `USDT`)
                    direction (Optional[QueryTransferListDirectionEnum] = None): Filter by direction. Enum: `INBOUND`, `OUTBOUND`
                    offset (Optional[int] = None): Pagination offset. Default `0`
                    limit (Optional[int] = None): Page size. Default `20`, range 1–100
                    recv_window (Optional[int] = None): Request validity window in milliseconds

                Returns:
                    ApiResponse[QueryTransferListResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if wallet_address is None:
            raise RequiredError(
                field="wallet_address",
                error_message="Missing required parameter 'wallet_address'",
            )
        if start_date is None:
            raise RequiredError(
                field="start_date",
                error_message="Missing required parameter 'start_date'",
            )
        if end_date is None:
            raise RequiredError(
                field="end_date", error_message="Missing required parameter 'end_date'"
            )

        body = {}
        payload = {
            "wallet_address": wallet_address,
            "start_date": start_date,
            "end_date": end_date,
            "token_symbol": token_symbol,
            "direction": direction,
            "offset": offset,
            "limit": limit,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/w3w/wallet/prediction/transfer/list",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=QueryTransferListResponse,
            is_signed=True,
            signer=self._signer,
        )

    def query_transfer_status(
        self,
        transfer_id: Union[str, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[QueryTransferStatusResponse]:
        """
                Query Transfer Status (USER_DATA)
                GET /sapi/v1/w3w/wallet/prediction/transfer/status
                https://developers.binance.com/en/docs/catalog/web3-wallet-prediction-trading/api/rest-api/transfer#query-transfer-status

                Query the current status of a prediction wallet transfer by transfer ID.

        **`status` values:** Terminal states are `COMPLETED` and `FAILED`. Intermediate states are `PROCESSING` and `PENDING`. **Do not** poll for `SUCCESS` — it is not a valid terminal state.

        Weight(IP): 200

        Security Type: USER_DATA

                Args:
                    transfer_id (Union[str, None]): Transfer ID returned from outbound/inbound transfer
                    recv_window (Optional[int] = None): Request validity window in milliseconds

                Returns:
                    ApiResponse[QueryTransferStatusResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if transfer_id is None:
            raise RequiredError(
                field="transfer_id",
                error_message="Missing required parameter 'transfer_id'",
            )

        body = {}
        payload = {"transfer_id": transfer_id, "recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/w3w/wallet/prediction/transfer/status",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=QueryTransferStatusResponse,
            is_signed=True,
            signer=self._signer,
        )
