"""
Prediction Trading REST API

Place and manage prediction market orders, query positions, and transfer funds via the Prediction Trading REST API.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import Optional, Union
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.errors import RequiredError
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import ApplyMmDepositResponse
from ..models import ApplyMmWithdrawResponse
from ..models import CreateInboundTransferResponse
from ..models import CreateOutboundTransferResponse
from ..models import QueryTransferListResponse
from ..models import QueryTransferStatusResponse
from ..models import ApplyMmDepositAccountTypeEnum
from ..models import ApplyMmWithdrawWalletTypeEnum
from ..models import CreateInboundTransferAccountTypeEnum
from ..models import CreateOutboundTransferAccountTypeEnum
from ..models import CreateOutboundTransferSourceBizEnum
from ..models import QueryTransferListDirectionEnum


class TransferApi:
    """API Client for TransferApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def apply_mm_deposit(
        self,
        from_token: Union[str, None],
        from_token_amount: Union[str, None],
        to_token: Union[str, None],
        account_type: Union[ApplyMmDepositAccountTypeEnum, None],
        chain_id: Optional[str] = None,
    ) -> ApiResponse[ApplyMmDepositResponse]:
        """
                Apply MM Deposit (PREDICTION_TRADE)
                POST /sapi/v1/w3w/wallet/prediction/deposit/apply
                https://developers.binance.com/en/docs/catalog/web3-wallet-prediction-trading/api/rest-api/transfer#apply-mm-deposit

                Move funds from the user's bound CeDeFi MPC wallet to their CEX account (SPOT/FUNDING) via a contract escrow + credit flow. The maker wallet is resolved server-side by `userId`; the caller does not pass wallet or signature.

        Weight(IP): 200

        Security Type: PREDICTION_TRADE

        Notes:
        - Restricted to authorized market makers. Requests from unauthorized accounts are rejected — contact BD to request access.
        - "Note on `fromToken` / `toToken`: typically the same symbol (e.g. both `USDT`). When they differ, the backend may attempt a swap, but cross-symbol conversion is not guaranteed for all pairs — prefer using the same symbol."

                Args:
                    from_token (Union[str, None]): Source token symbol (e.g. `USDT`)
                    from_token_amount (Union[str, None]): Source token amount in WEI (18 decimals). Example: `1000000000000000000` = 1 USDT
                    to_token (Union[str, None]): Target token symbol (e.g. `USDT`)
                    account_type (Union[ApplyMmDepositAccountTypeEnum, None]): Target CEX account type. Enum: `SPOT`, `FUNDING`
                    chain_id (Optional[str] = None): Chain ID. Default `56` (BSC)

                Returns:
                    ApiResponse[ApplyMmDepositResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if from_token is None:
            raise RequiredError(
                field="from_token",
                error_message="Missing required parameter 'from_token'",
            )
        if from_token_amount is None:
            raise RequiredError(
                field="from_token_amount",
                error_message="Missing required parameter 'from_token_amount'",
            )
        if to_token is None:
            raise RequiredError(
                field="to_token", error_message="Missing required parameter 'to_token'"
            )
        if account_type is None:
            raise RequiredError(
                field="account_type",
                error_message="Missing required parameter 'account_type'",
            )

        request_body = {}
        payload = {
            "from_token": from_token,
            "from_token_amount": from_token_amount,
            "to_token": to_token,
            "account_type": account_type,
            "chain_id": chain_id,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/w3w/wallet/prediction/deposit/apply",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=ApplyMmDepositResponse,
            is_signed=True,
            signer=self._signer,
        )

    def apply_mm_withdraw(
        self,
        coin: Union[str, None],
        network: Union[str, None],
        amount: Union[str, None],
        withdraw_order_id: Optional[str] = None,
        wallet_type: Optional[ApplyMmWithdrawWalletTypeEnum] = None,
        name: Optional[str] = None,
    ) -> ApiResponse[ApplyMmWithdrawResponse]:
        """
                Apply MM Withdraw (PREDICTION_TRADE)
                POST /sapi/v1/w3w/wallet/prediction/withdraw/apply
                https://developers.binance.com/en/docs/catalog/web3-wallet-prediction-trading/api/rest-api/transfer#apply-mm-withdraw

                Withdraw funds from the user's CEX account (SPOT/FUNDING) to their bound CeDeFi MPC wallet address. Unlike `v1/capital/withdraw/apply`, the caller does NOT pass `address`; the backend resolves the user's bound CeDeFi MPC wallet address by `userId` and reuses the existing capital withdraw flow with that address as the target.

        Weight(IP): 200

        Security Type: PREDICTION_TRADE

        Notes:
        - Restricted to authorized market makers. Requests from unauthorized accounts are rejected — contact BD to request access.
        - walletType Validation:

          | Value           | Behavior                       |
          | --------------- | ------------------------------- |
          | `null`          | Allowed — defaults to SPOT      |
          | `0`             | Allowed — source = SPOT         |
          | `1`             | Allowed — source = FUNDING      |
          | Other (e.g. `99`) | Rejected — returns validation error |
        - "Note on field naming: this endpoint uses `walletType` (INT `0`/`1`) for the source CEX account, while Apply MM Deposit uses `accountType` (STRING `SPOT`/`FUNDING`) for the target. The difference is intentional: withdraw reuses the existing `v1/capital/withdraw/apply` flow, which inherits that flow's integer `walletType` field."

                Args:
                    coin (Union[str, None]): Coin to withdraw (e.g. `USDT`)
                    network (Union[str, None]): Network (e.g. `BEP20`)
                    amount (Union[str, None]): Amount to withdraw (must be > 0)
                    withdraw_order_id (Optional[str] = None): Client withdraw order id (idempotency key)
                    wallet_type (Optional[ApplyMmWithdrawWalletTypeEnum] = None): Source CEX account type. Enum: `0` (SPOT), `1` (FUNDING). Default `0`. Must be `0` or `1`; any other value is rejected
                    name (Optional[str] = None): Remark for the withdraw

                Returns:
                    ApiResponse[ApplyMmWithdrawResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if coin is None:
            raise RequiredError(
                field="coin", error_message="Missing required parameter 'coin'"
            )
        if network is None:
            raise RequiredError(
                field="network", error_message="Missing required parameter 'network'"
            )
        if amount is None:
            raise RequiredError(
                field="amount", error_message="Missing required parameter 'amount'"
            )

        request_body = {}
        payload = {
            "coin": coin,
            "network": network,
            "amount": amount,
            "withdraw_order_id": withdraw_order_id,
            "wallet_type": wallet_type,
            "name": name,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/w3w/wallet/prediction/withdraw/apply",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=ApplyMmWithdrawResponse,
            is_signed=True,
            signer=self._signer,
        )

    def create_inbound_transfer(
        self,
        wallet_id: Union[str, None],
        wallet_address: Union[str, None],
        from_token_amount: Union[str, None],
        account_type: Union[CreateInboundTransferAccountTypeEnum, None],
        from_token: Optional[str] = None,
        to_token: Optional[str] = None,
        chain_id: Optional[str] = None,
    ) -> ApiResponse[CreateInboundTransferResponse]:
        """
                Create Inbound Transfer (PREDICTION_TRADE)
                POST /sapi/v1/w3w/wallet/prediction/transfer/inbound
                https://developers.binance.com/en/docs/catalog/web3-wallet-prediction-trading/api/rest-api/transfer#create-inbound-transfer

                Transfer funds from the prediction wallet back to the user's CEX account (SPOT or FUNDING). Requires SAS authorization.

        ⚠️ **SAS Authorization Required:** This endpoint enforces SAS (Self-Authorization Service) authorization. If SAS is not enabled for the wallet, the request will be rejected with `-31003 SAS authorization required`. Enable SAS for your wallet before calling this endpoint.

        Weight(IP): 200

        Security Type: PREDICTION_TRADE

                Args:
                    wallet_id (Union[str, None]): Wallet ID
                    wallet_address (Union[str, None]): User's prediction wallet address
                    from_token_amount (Union[str, None]): Transfer amount in wei (18 decimals). Must be > 0. Example: `1000000000000000000` = 1 USDT
                    account_type (Union[CreateInboundTransferAccountTypeEnum, None]): Destination CEX account. Enum: `SPOT`, `FUNDING`
                    from_token (Optional[str] = None): Source token symbol. Default `USDT`
                    to_token (Optional[str] = None): Destination token symbol. Default `USDT`
                    chain_id (Optional[str] = None): Chain ID. Default `56` (BSC)

                Returns:
                    ApiResponse[CreateInboundTransferResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if wallet_id is None:
            raise RequiredError(
                field="wallet_id",
                error_message="Missing required parameter 'wallet_id'",
            )
        if wallet_address is None:
            raise RequiredError(
                field="wallet_address",
                error_message="Missing required parameter 'wallet_address'",
            )
        if from_token_amount is None:
            raise RequiredError(
                field="from_token_amount",
                error_message="Missing required parameter 'from_token_amount'",
            )
        if account_type is None:
            raise RequiredError(
                field="account_type",
                error_message="Missing required parameter 'account_type'",
            )

        request_body = {}
        payload = {
            "wallet_id": wallet_id,
            "wallet_address": wallet_address,
            "from_token_amount": from_token_amount,
            "account_type": account_type,
            "from_token": from_token,
            "to_token": to_token,
            "chain_id": chain_id,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/w3w/wallet/prediction/transfer/inbound",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=CreateInboundTransferResponse,
            is_signed=True,
            signer=self._signer,
        )

    def create_outbound_transfer(
        self,
        wallet_id: Union[str, None],
        wallet_address: Union[str, None],
        from_token_amount: Union[str, None],
        account_type: Union[CreateOutboundTransferAccountTypeEnum, None],
        source_biz: Union[CreateOutboundTransferSourceBizEnum, None],
        from_token: Optional[str] = None,
        to_token: Optional[str] = None,
        chain_id: Optional[str] = None,
    ) -> ApiResponse[CreateOutboundTransferResponse]:
        """
                Create Outbound Transfer (PREDICTION_TRADE)
                POST /sapi/v1/w3w/wallet/prediction/transfer/outbound
                https://developers.binance.com/en/docs/catalog/web3-wallet-prediction-trading/api/rest-api/transfer#create-outbound-transfer

                Transfer funds from the user's CEX account (SPOT or FUNDING) into the prediction wallet. Requires SAS authorization.

        Weight(IP): 200

        Security Type: PREDICTION_TRADE

                Args:
                    wallet_id (Union[str, None]): Wallet ID
                    wallet_address (Union[str, None]): User's prediction wallet address
                    from_token_amount (Union[str, None]): Transfer amount in wei (18 decimals). Must be > 0. Example: `1000000000000000000` = 1 USDT
                    account_type (Union[CreateOutboundTransferAccountTypeEnum, None]): Source CEX account. Enum: `SPOT`, `FUNDING`
                    source_biz (Union[CreateOutboundTransferSourceBizEnum, None]): Business source. Enum: `USER_TRANSFER`, `PREDICTION_BUY`
                    from_token (Optional[str] = None): Source token symbol. Default `USDT`
                    to_token (Optional[str] = None): Destination token symbol. Default `USDT`
                    chain_id (Optional[str] = None): Chain ID. Default `56` (BSC)

                Returns:
                    ApiResponse[CreateOutboundTransferResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if wallet_id is None:
            raise RequiredError(
                field="wallet_id",
                error_message="Missing required parameter 'wallet_id'",
            )
        if wallet_address is None:
            raise RequiredError(
                field="wallet_address",
                error_message="Missing required parameter 'wallet_address'",
            )
        if from_token_amount is None:
            raise RequiredError(
                field="from_token_amount",
                error_message="Missing required parameter 'from_token_amount'",
            )
        if account_type is None:
            raise RequiredError(
                field="account_type",
                error_message="Missing required parameter 'account_type'",
            )
        if source_biz is None:
            raise RequiredError(
                field="source_biz",
                error_message="Missing required parameter 'source_biz'",
            )

        request_body = {}
        payload = {
            "wallet_id": wallet_id,
            "wallet_address": wallet_address,
            "from_token_amount": from_token_amount,
            "account_type": account_type,
            "source_biz": source_biz,
            "from_token": from_token,
            "to_token": to_token,
            "chain_id": chain_id,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/w3w/wallet/prediction/transfer/outbound",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=CreateOutboundTransferResponse,
            is_signed=True,
            signer=self._signer,
        )

    def query_transfer_list(
        self,
        wallet_address: Union[str, None],
        start_date: Union[str, None],
        end_date: Union[str, None],
        token_symbol: Optional[str] = None,
        direction: Optional[QueryTransferListDirectionEnum] = None,
        offset: Optional[int] = None,
        limit: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[QueryTransferListResponse]:
        """
                Query Transfer List (PREDICTION_TRADE)
                GET /sapi/v1/w3w/wallet/prediction/transfer/list
                https://developers.binance.com/en/docs/catalog/web3-wallet-prediction-trading/api/rest-api/transfer#query-transfer-list

                Get the authenticated user's prediction wallet transfer history within a date range.

        Weight(IP): 200

        Security Type: PREDICTION_TRADE

                Args:
                    wallet_address (Union[str, None]): User's prediction wallet address
                    start_date (Union[str, None]): Start date. Format: `yyyy-MM-dd`. Must be ≤ `endDate`
                    end_date (Union[str, None]): End date. Format: `yyyy-MM-dd`. Must be ≥ `startDate`
                    token_symbol (Optional[str] = None): Filter by token symbol (e.g. `USDT`)
                    direction (Optional[QueryTransferListDirectionEnum] = None): Filter by direction. Enum: `INBOUND`, `OUTBOUND`
                    offset (Optional[int] = None): Pagination offset. Default `0`
                    limit (Optional[int] = None): Page size. Default `20`, range 1–100
                    recv_window (Optional[int] = None): Request validity window in milliseconds

                Returns:
                    ApiResponse[QueryTransferListResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if wallet_address is None:
            raise RequiredError(
                field="wallet_address",
                error_message="Missing required parameter 'wallet_address'",
            )
        if start_date is None:
            raise RequiredError(
                field="start_date",
                error_message="Missing required parameter 'start_date'",
            )
        if end_date is None:
            raise RequiredError(
                field="end_date", error_message="Missing required parameter 'end_date'"
            )

        request_body = {}
        payload = {
            "wallet_address": wallet_address,
            "start_date": start_date,
            "end_date": end_date,
            "token_symbol": token_symbol,
            "direction": direction,
            "offset": offset,
            "limit": limit,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/w3w/wallet/prediction/transfer/list",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=QueryTransferListResponse,
            is_signed=True,
            signer=self._signer,
        )

    def query_transfer_status(
        self,
        transfer_id: Union[str, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[QueryTransferStatusResponse]:
        """
                Query Transfer Status (PREDICTION_TRADE)
                GET /sapi/v1/w3w/wallet/prediction/transfer/status
                https://developers.binance.com/en/docs/catalog/web3-wallet-prediction-trading/api/rest-api/transfer#query-transfer-status

                Query the current status of a prediction wallet transfer by transfer ID.

        **`status` values:** Terminal states are `COMPLETED` and `FAILED`. Intermediate states are `PROCESSING` and `PENDING`. **Do not** poll for `SUCCESS` — it is not a valid terminal state.

        Weight(IP): 200

        Security Type: PREDICTION_TRADE

                Args:
                    transfer_id (Union[str, None]): Transfer ID returned from outbound/inbound transfer
                    recv_window (Optional[int] = None): Request validity window in milliseconds

                Returns:
                    ApiResponse[QueryTransferStatusResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if transfer_id is None:
            raise RequiredError(
                field="transfer_id",
                error_message="Missing required parameter 'transfer_id'",
            )

        request_body = {}
        payload = {"transfer_id": transfer_id, "recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/w3w/wallet/prediction/transfer/status",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=QueryTransferStatusResponse,
            is_signed=True,
            signer=self._signer,
        )
