"""
Prediction Trading REST API

Place and manage prediction market orders, query positions, and transfer funds via the Prediction Trading REST API.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import Optional, Union
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.errors import RequiredError
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import GetPortfolioResponse
from ..models import GetQuotaStatusResponse
from ..models import ListPredictionWalletsResponse
from ..models import QueryPaymentOptionBalancesResponse


class WalletApi:
    """API Client for WalletApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def get_portfolio(
        self,
        wallet_address: Union[str, None],
        token_id: Optional[str] = None,
        market_id: Optional[int] = None,
        market_topic_id: Optional[int] = None,
        active_only: Optional[bool] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetPortfolioResponse]:
        """
                Get Portfolio
                GET /sapi/v1/w3w/wallet/prediction/pnl/portfolio
                https://developers.binance.com/en/dev-docs/catalog/web3-wallet-prediction-trading/api/rest-api/wallet#get-portfolio

                Get the authenticated user's prediction portfolio overview including active positions count, aggregated PnL, and full position list.

        Weight(IP): 200

        Security Type: USER_DATA

                Args:
                    wallet_address (Union[str, None]): User's prediction wallet address
                    token_id (Optional[str] = None): Filter by prediction token ID
                    market_id (Optional[int] = None): Filter by market ID. Must be > 0
                    market_topic_id (Optional[int] = None): Filter by market topic ID. Must be > 0
                    active_only (Optional[bool] = None): If `true`, return only active (unresolved) positions
                    recv_window (Optional[int] = None): Request validity window in milliseconds

                Returns:
                    ApiResponse[GetPortfolioResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if wallet_address is None:
            raise RequiredError(
                field="wallet_address",
                error_message="Missing required parameter 'wallet_address'",
            )

        body = {}
        payload = {
            "wallet_address": wallet_address,
            "token_id": token_id,
            "market_id": market_id,
            "market_topic_id": market_topic_id,
            "active_only": active_only,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/w3w/wallet/prediction/pnl/portfolio",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetPortfolioResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_quota_status(
        self,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetQuotaStatusResponse]:
        """
                Get Quota Status
                GET /sapi/v1/w3w/wallet/prediction/quota/limit/status
                https://developers.binance.com/en/dev-docs/catalog/web3-wallet-prediction-trading/api/rest-api/wallet#get-quota-status

                Query the current user's daily trading quota limit and remaining allowance for prediction markets.

        Weight(IP): 200

        Security Type: USER_DATA

                Args:
                    recv_window (Optional[int] = None): Request validity window in milliseconds

                Returns:
                    ApiResponse[GetQuotaStatusResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/w3w/wallet/prediction/quota/limit/status",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetQuotaStatusResponse,
            is_signed=True,
            signer=self._signer,
        )

    def list_prediction_wallets(
        self,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[ListPredictionWalletsResponse]:
        """
                List Prediction Wallets
                GET /sapi/v1/w3w/wallet/prediction/wallet/list
                https://developers.binance.com/en/dev-docs/catalog/web3-wallet-prediction-trading/api/rest-api/wallet#list-prediction-wallets

                Get all prediction wallets registered for the authenticated user.

        Weight(IP): 200

        Security Type: USER_DATA

                Args:
                    recv_window (Optional[int] = None): Request validity window in milliseconds

                Returns:
                    ApiResponse[ListPredictionWalletsResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/w3w/wallet/prediction/wallet/list",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=ListPredictionWalletsResponse,
            is_signed=True,
            signer=self._signer,
        )

    def query_payment_option_balances(
        self,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[QueryPaymentOptionBalancesResponse]:
        """
                Query Payment Option Balances
                GET /sapi/v1/w3w/wallet/prediction/balance/payment-options
                https://developers.binance.com/en/dev-docs/catalog/web3-wallet-prediction-trading/api/rest-api/wallet#query-payment-option-balances

                Get available balances for each payment option that can be used for prediction trading.

        Weight(IP): 200

        Security Type: USER_DATA

                Args:
                    recv_window (Optional[int] = None): Request validity window in milliseconds

                Returns:
                    ApiResponse[QueryPaymentOptionBalancesResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/w3w/wallet/prediction/balance/payment-options",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=QueryPaymentOptionBalancesResponse,
            is_signed=True,
            signer=self._signer,
        )
